$def with (prefix)

<h1>DENIS_Tables.sql</h1>
<table width='720'><tr>
<td class='d'> Database schema file for the catalogues of the third release of the DEep
 Near-Infrared Survey of the southern sky (DENIS) project held in the
 WFCAM Science Archive.
 Contains sql scripts to create the relevant tables.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='DENIS/DENIS_TABLE_denisDR3SourceSchema.html#denisDR3Source'>denisDR3Source</a></td><td class='t'> Contains the parameters provided in the third incremental release of the DENIS project.</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>8040, 2011-03-07 14:41:49 (Mon,  7 Mar 2011)</td></tr>
</tbody>
</TABLE>

