$def with (prefix)
<h1><a name="fGreatCircleDist"></a><font size=-1>FUNCTION</font>&nbsp;&nbsp;fGreatCircleDist</h1>
<table width='720px'><tbody>
<tr><td class='t'> Returns float holding great circle distance between two points (ra1,dec1) & (ra2,dec2).</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'> The great circle distance is in arcmins, the ras and decs are in degrees.<br>
 Sample call to calculate the great circle distance between (87.5&deg;,10&deg;) and (88.4&deg;,10.3&deg;):<br>
 <samp><br>
 SELECT dbo.fGreatCircleDist(87.5,10,88.4,10.3)<br>
 <font class='ret'>=&gt; 56.1198</font><br>
 </samp><br>
</td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=720 cellspacing=3 cellpadding=3><tr><td class='h'>Name</td><td class='h'>Type</td><td class='h'>Length</td><td class='h'>inout</td><td class='h'>pnum</td></tr>
<tr><td class='fin'>@ra1</td><td class='fin'>float</td><td class='fin'>8</td><td class='fin'>input</td><td class='fin'>1</td></tr>
<tr><td class='fin'>@dec1</td><td class='fin'>float</td><td class='fin'>8</td><td class='fin'>input</td><td class='fin'>2</td></tr>
<tr><td class='fin'>@ra2</td><td class='fin'>float</td><td class='fin'>8</td><td class='fin'>input</td><td class='fin'>3</td></tr>
<tr><td class='fin'>@dec2</td><td class='fin'>float</td><td class='fin'>8</td><td class='fin'>input</td><td class='fin'>4</td></tr>
<td class='fout'>&nbsp;</td><td class='fout'>float</td><td class='fout'>8</td><td class='fout'>output</td><td class='fout'>1</td></tr>
</TABLE>
