$def with (prefix)

<h1>OSA_atlasNeighboursSchema.sql</h1>
<table width='720'><tr>
<td class='d'> Schema file for ATLAS neighbour and cross-neighbour tables
 NOTE: This schema is not part of the CreateTables set-up for the archive
       since the table definitions herein are created on-the-fly by the
       curation procedure (CU16). This file is parsed by CU16 to create the
       neighbour tables, and also for the web html documentation. For every
       entry in the table RequiredNeighbours, there should be a parsable
       table schema in this file.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceNeighboursSchema.html#atlasSourceNeighbours'>atlasSourceNeighbours</a></td><td class='t'> Neighbouring sources for each entry in atlasSource.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXdenisDR3SourceSchema.html#atlasSourceXdenisDR3Source'>atlasSourceXdenisDR3Source</a></td><td class='t'> Cross-neighbours between atlas and denisDR3Source.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXDR5PhotoObjSchema.html#atlasSourceXDR5PhotoObj'>atlasSourceXDR5PhotoObj</a></td><td class='t'> Cross-neighbours between atlas and PhotoObj.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXDR5PhotoObjAllSchema.html#atlasSourceXDR5PhotoObjAll'>atlasSourceXDR5PhotoObjAll</a></td><td class='t'> Cross-neighbours between atlas and PhotoObjAll.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXDR7PhotoObjSchema.html#atlasSourceXDR7PhotoObj'>atlasSourceXDR7PhotoObj</a></td><td class='t'> Cross-neighbours between atlas and PhotoObj.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXDR7PhotoObjAllSchema.html#atlasSourceXDR7PhotoObjAll'>atlasSourceXDR7PhotoObjAll</a></td><td class='t'> Cross-neighbours between atlas and PhotoObjAll.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXDR8PhotoObjSchema.html#atlasSourceXDR8PhotoObj'>atlasSourceXDR8PhotoObj</a></td><td class='t'> Cross-neighbours between atlas and PhotoObj.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXDR8PhotoObjAllSchema.html#atlasSourceXDR8PhotoObjAll'>atlasSourceXDR8PhotoObjAll</a></td><td class='t'> Cross-neighbours between atlas and PhotoObjAll.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXfirstSourceSchema.html#atlasSourceXfirstSource'>atlasSourceXfirstSource</a></td><td class='t'> Cross-neighbours between atlas and firstSource.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXglimpse_hrc_interSchema.html#atlasSourceXglimpse_hrc_inter'>atlasSourceXglimpse_hrc_inter</a></td><td class='t'> Cross-neighbours between atlas and glimpse_hrc_inter.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXglimpse_mca_interSchema.html#atlasSourceXglimpse_mca_inter'>atlasSourceXglimpse_mca_inter</a></td><td class='t'> Cross-neighbours between atlas and glimpse_mca_inter.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXGR6PhotoObjAllSchema.html#atlasSourceXGR6PhotoObjAll'>atlasSourceXGR6PhotoObjAll</a></td><td class='t'> Cross-neighbours between atlas and PhotoObjAll.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXiras_pscSchema.html#atlasSourceXiras_psc'>atlasSourceXiras_psc</a></td><td class='t'> Cross-neighbours between atlas and iras_psc.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXmgcDetectionSchema.html#atlasSourceXmgcDetection'>atlasSourceXmgcDetection</a></td><td class='t'> Cross-neighbours between atlas and mgcDetection.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXnvssSourceSchema.html#atlasSourceXnvssSource'>atlasSourceXnvssSource</a></td><td class='t'> Cross-neighbours between atlas and nvssSource.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXrosat_bscSchema.html#atlasSourceXrosat_bsc'>atlasSourceXrosat_bsc</a></td><td class='t'> Cross-neighbours between atlas and rosat_bsc.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXrosat_fscSchema.html#atlasSourceXrosat_fsc'>atlasSourceXrosat_fsc</a></td><td class='t'> Cross-neighbours between atlas and rosat_fsc.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXSegueDR6PhotoObjSchema.html#atlasSourceXSegueDR6PhotoObj'>atlasSourceXSegueDR6PhotoObj</a></td><td class='t'> Cross-neighbours between atlas and PhotoObj.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXSegueDR6PhotoObjAllSchema.html#atlasSourceXSegueDR6PhotoObjAll'>atlasSourceXSegueDR6PhotoObjAll</a></td><td class='t'> Cross-neighbours between atlas and PhotoObjAll.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXSSASourceSchema.html#atlasSourceXSSASource'>atlasSourceXSSASource</a></td><td class='t'> Cross-neighbours between atlas and Source.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXStripe82PhotoObjAllSchema.html#atlasSourceXStripe82PhotoObjAll'>atlasSourceXStripe82PhotoObjAll</a></td><td class='t'> Cross-neighbours between atlas and PhotoObjAll.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXtwomass_pscSchema.html#atlasSourceXtwomass_psc'>atlasSourceXtwomass_psc</a></td><td class='t'> Cross-neighbours between atlas and twomass_psc.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXtwomass_xscSchema.html#atlasSourceXtwomass_xsc'>atlasSourceXtwomass_xsc</a></td><td class='t'> Cross-neighbours between atlas and twomass_xsc.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXtwoxmmSchema.html#atlasSourceXtwoxmm'>atlasSourceXtwoxmm</a></td><td class='t'> Cross-neighbours between atlas and twoxmm.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXvhsDr1SourceSchema.html#atlasSourceXvhsDr1Source'>atlasSourceXvhsDr1Source</a></td><td class='t'> Cross-neighbours between atlas and vhsSource.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXvikingDr2SourceSchema.html#atlasSourceXvikingDr2Source'>atlasSourceXvikingDr2Source</a></td><td class='t'> Cross-neighbours between atlas and vikingSource.</td></tr>
<tr><td class='atab'><a href='ATLASv20130304/ATLASv20130304_TABLE_atlasSourceXwise_allskyscSchema.html#atlasSourceXwise_allskysc'>atlasSourceXwise_allskysc</a></td><td class='t'> Cross-neighbours between atlas and wise_allskysc.</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>9711, 2013-02-13 15:46:36 (Wed, 13 Feb 2013)</td></tr>
</tbody>
</TABLE>

