$def with (prefix)
<h1><a name="atlasSourceXDR7PhotoObj"></a><font size=-1>TABLE</font>&nbsp;&nbsp;atlasSourceXDR7PhotoObj</h1>
<table width='720px'><tbody>
<tr><td class='t'> Cross-neighbours between atlas and PhotoObj.</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'> All SDSS-DR7 sources within 10.0 arcsec of each source from<br>
 ATLAS data are recorded in this cross-neighbour table. The table<br>
 atlasSource was joined to the PhotoObj table to create these<br>
 cross-neighbours. Use this table for any cross-querying of ATLAS<br>
 data with sources from SDSS-DR7.<br>
</td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=900 cellspacing=3 cellpadding=3><colgroup><col width='100'><col width='100'><col width='50'><col width='100'><col width='350'><col width='100'><col width='100'></colgroup>
<tr><th class='h'>Name</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Description</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr><td class='i'><a href='gloss/gloss_m#atlassourcexdr7photoobj_masterobjid' class='i'>masterObjID</a></td><td class='i'>bigint</td><td class='i'>8</td><td class='i'>&nbsp;</td><td class='i'>The unique ID in atlasSource (=sourceID)</td><td class='i'>&nbsp;</td><td class='i'>ID_MAIN</td></tr>
<tr><td class='i'><a href='gloss/gloss_s#atlassourcexdr7photoobj_slaveobjid' class='i'>slaveObjID</a></td><td class='i'>bigint</td><td class='i'>8</td><td class='i'>&nbsp;</td><td class='i'>The unique ID of the neighbour in BestDR7..PhotoObj (=objID)</td><td class='i'>&nbsp;</td><td class='i'>ID_CATALOG</td></tr>
<tr><td class='v'><a href='gloss/gloss_d#atlassourcexdr7photoobj_distancemins' class='v'>distanceMins</a></td><td class='v'>real</td><td class='v'>4</td><td class='v'>arcminutes</td><td class='v'>Angular separation between neighbours</td><td class='v'>&nbsp;</td><td class='v'>POS_ANG_DIST_GENERAL</td></tr>
<tr><td class='v'><a href='gloss/gloss_s#atlassourcexdr7photoobj_sdsstype' class='v'>sdssType</a></td><td class='v'>tinyint</td><td class='v'>1</td><td class='v'>&nbsp;</td><td class='v'>SDSS type of neighbour: 3=galaxy; 6=star</td><td class='v'>&nbsp;</td><td class='v'>CLASS_OBJECT</td></tr>
<tr><td class='v'><a href='gloss/gloss_s#atlassourcexdr7photoobj_sdssprimary' class='v'>sdssPrimary</a></td><td class='v'>tinyint</td><td class='v'>1</td><td class='v'>&nbsp;</td><td class='v'>SDSS flag for neighbour being primary (1) or secondary (0)</td><td class='v'>&nbsp;</td><td class='v'>CODE_MISC</td></tr>
<tr><td class='h'>Total length</td><td></td><td class='h'>22</td></tr>
</TABLE>
