$def with (prefix)
<h1><a name="PhotCalVers"></a><font size=-1>TABLE</font>&nbsp;&nbsp;PhotCalVers</h1>
<table width='720px'><tbody>
<tr><td class='t'> Contains details of all photometric calibration versions in the OSA.</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'> This table contains details of all photometric calibration versions<br>
 that have existed (including the current version) in the OSA.<br>
<br>Required constraints:<ul><li><b>Primary key</b> is (versNum,cuEventID)</ul></td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=900 cellspacing=3 cellpadding=3><colgroup><col width='100'><col width='100'><col width='50'><col width='100'><col width='350'><col width='100'><col width='100'></colgroup>
<tr><th class='h'>Name</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Description</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr><td class='i'><a href='gloss/gloss_v#photcalvers_versnum' class='i'>versNum</a></td><td class='i'>int</td><td class='i'>4</td><td class='i'>&nbsp;</td><td class='i'>the version number of the calibration</td><td class='i'>&nbsp;</td><td class='i'>ID_VERSION</td></tr>
<tr><td class='i'><a href='gloss/gloss_c#photcalvers_cueventid' class='i'>cuEventID</a></td><td class='i'>int</td><td class='i'>4</td><td class='i'>&nbsp;</td><td class='i'>UID of curation event giving rise to this record</td><td class='i'>&nbsp;</td><td class='i'>REFER_CODE</td></tr>
<tr><td class='v'><a href='gloss/gloss_s#photcalvers_startdate' class='v'>startDate</a></td><td class='v'>datetime</td><td class='v'>8</td><td class='v'>MM-DD-YYYY</td><td class='v'>Date time of start time for this version of the calibration (MM-DD-YYYY)</td><td class='v'>12-31-9999</td><td class='v'>TIME_DATE</td></tr>
<tr><td class='v'><a href='gloss/gloss_e#photcalvers_enddate' class='v'>endDate</a></td><td class='v'>datetime</td><td class='v'>8</td><td class='v'>MM-DD-YYYY</td><td class='v'>Date time of end time for this version of the calibration (MM-DD-YYYY)</td><td class='v'>12-31-9999</td><td class='v'>TIME_DATE</td></tr>
<tr><td class='h'>Total length</td><td></td><td class='h'>24</td></tr>
</TABLE>
