$def with (prefix)
<h1><a name="Provenance"></a><font size=-1>TABLE</font>&nbsp;&nbsp;Provenance</h1>
<table width='720px'><tbody>
<tr><td class='t'> Describes the provenance of all combined frames in the archive.</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'> Any image that has provenance with respect to other images in the archive<br>
 (i.e. that is derived from some combinatorial operation on a set of two<br>
 or more images that are also present in the archive) is known as a<br>
 combiframe. The list of images that comprise a combiframe are stored in<br>
 this table.<br>
<br>Required constraints:<ul><li><b>Primary key</b> is (combiframeID,multiframeID)<li>                      (multiframeID) references Multiframe(multiframeID)n
<li>                      (combiframeID) references Multiframe(multiframeID)
</ul></td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=900 cellspacing=3 cellpadding=3><colgroup><col width='100'><col width='100'><col width='50'><col width='100'><col width='350'><col width='100'><col width='100'></colgroup>
<tr><th class='h'>Name</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Description</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr><td class='i'><a href='gloss/gloss_c#provenance_combiframeid' class='i'>combiframeID</a></td><td class='i'>bigint</td><td class='i'>8</td><td class='i'>&nbsp;</td><td class='i'>the UID of the combined frame (=combiframe)</td><td class='i'>&nbsp;</td><td class='i'>ID_FRAME</td></tr>
<tr><td class='i'><a href='gloss/gloss_m#provenance_multiframeid' class='i'>multiframeID</a></td><td class='i'>bigint</td><td class='i'>8</td><td class='i'>&nbsp;</td><td class='i'>the UID of the component frame</td><td class='i'>&nbsp;</td><td class='i'>ID_FRAME</td></tr>
<tr><td class='v'><a href='gloss/gloss_c#provenance_cueventid' class='v'>cuEventID</a></td><td class='v'>int</td><td class='v'>4</td><td class='v'>&nbsp;</td><td class='v'>UID of curation event giving rise to this record</td><td class='v'>&nbsp;</td><td class='v'>REFER_CODE</td></tr>
<tr><td class='h'>Total length</td><td></td><td class='h'>20</td></tr>
</TABLE>
