$def with (prefix)
<li>
<a href='ATLASv20130304/ATLASv20130304_dbinfoSchemas' id='toggle_browser'><img border='0' src='$prefix/static/images/plus.gif'></a><a class='dhead' href='description_schemas'>Database Objects
<ul></ul>
</li>
<li>
<a href='ATLASv20130304/ATLASv20130304_dbinfoTables' id='toggle_browser'><img border='0' src='$prefix/static/images/plus.gif'></a><a class='dhead' href='description_tables'>Tables
<ul></ul>
</li>
<li>
<a href='ATLASv20130304/ATLASv20130304_dbinfoFunctions' id='toggle_browser'><img border='0' src='$prefix/static/images/plus.gif'></a><a class='dhead' href='description_functions'>Functions
<ul></ul>
</li>
