$def with (prefix)
<h1><a name="PreviousMFDZP"></a><font size=-1>TABLE</font>&nbsp;&nbsp;PreviousMFDZP</h1>
<table width='720px'><tbody>
<tr><td class='t'> Contains previous zeropoints for each multiframe and detector combination.</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'> This table contains, for every multiframeID,extNum, all previous<br>
<br>Required constraints:<ul><li><b>Primary key</b> is (multiframeID,extNum,versNum)<li>                      (multiframeID,extNum) references MultiframeDetector(multiframeID,extNum)
</ul></td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=900 cellspacing=3 cellpadding=3><colgroup><col width='100'><col width='100'><col width='50'><col width='100'><col width='350'><col width='100'><col width='100'></colgroup>
<tr><th class='h'>Name</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Description</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr><td class='i'><a href='gloss/gloss_m#previousmfdzp_multiframeid' class='i'>multiframeID</a></td><td class='i'>bigint</td><td class='i'>8</td><td class='i'>&nbsp;</td><td class='i'>the UID of the relevant multiframe</td><td class='i'>&nbsp;</td><td class='i'>ID_FRAME</td></tr>
<tr><td class='i'><a href='gloss/gloss_e#previousmfdzp_extnum' class='i'>extNum</a></td><td class='i'>tinyint</td><td class='i'>1</td><td class='i'>&nbsp;</td><td class='i'>the extension number of this frame</td><td class='i'>&nbsp;</td><td class='i'>NUMBER</td></tr>
<tr><td class='i'><a href='gloss/gloss_v#previousmfdzp_versnum' class='i'>versNum</a></td><td class='i'>int</td><td class='i'>4</td><td class='i'>&nbsp;</td><td class='i'>the version number of the calibration</td><td class='i'>&nbsp;</td><td class='i'>ID_VERSION</td></tr>
<tr><td class='v'><a href='gloss/gloss_p#previousmfdzp_photzpcat' class='v'>photZPCat</a></td><td class='v'>real</td><td class='v'>4</td><td class='v'>mag</td><td class='v'>Photometric zeropoint for default extinction in catalogue header</td><td class='v'>-0.9999995e9</td><td class='v'>&nbsp;</td></tr>
<tr><td class='v'><a href='gloss/gloss_p#previousmfdzp_photzperrcat' class='v'>photZPErrCat</a></td><td class='v'>real</td><td class='v'>4</td><td class='v'>mag</td><td class='v'>Photometric zeropoint error in catalogue header</td><td class='v'>-0.9999995e9</td><td class='v'>&nbsp;</td></tr>
<tr><td class='v'><a href='gloss/gloss_n#previousmfdzp_numzpcat' class='v'>numZPCat</a></td><td class='v'>int</td><td class='v'>4</td><td class='v'>&nbsp;</td><td class='v'>Number of standards used in determining photZP and photZPErr</td><td class='v'>-99999999</td><td class='v'>&nbsp;</td></tr>
<tr><td class='v'><a href='gloss/gloss_n#previousmfdzp_nightzpcat' class='v'>nightZPCat</a></td><td class='v'>real</td><td class='v'>4</td><td class='v'>mags</td><td class='v'>Average photometric zero point for night</td><td class='v'>-0.9999995e9</td><td class='v'>??</td></tr>
<tr><td class='v'><a href='gloss/gloss_n' onMouseover="ddrivetip('&lt;0.05 mags for a good night')"; onMouseout="hideddrivetip()" class='v'>nightZPErrCat <img src='$prefix/static/images/tooltip1.gif' alt='tooltip' height='12' border='0'></a></td><td class='v'>real</td><td class='v'>4</td><td class='v'>mags</td><td class='v'>Photometric zero point sigma for night</td><td class='v'>-0.9999995e9</td><td class='v'>??</td></tr>
<tr><td class='v'><a href='gloss/gloss_n#previousmfdzp_nightzpnum' class='v'>nightZPNum</a></td><td class='v'>int</td><td class='v'>4</td><td class='v'>mags</td><td class='v'>Number of ZP in band used to calculate nightZPCat</td><td class='v'>-99999999</td><td class='v'>??</td></tr>
<tr><td class='h'>Total length</td><td></td><td class='h'>37</td></tr>
</TABLE>
