$def with (prefix)
<h1><a name="CurationTask"></a><font size=-1>TABLE</font>&nbsp;&nbsp;CurationTask</h1>
<table width='720px'><tbody>
<tr><td class='t'> Contains a list of all curation tasks that are used within the OSA.</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'><br>Required constraints:<ul><li><b>Primary key</b> is (cuID)</ul></td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=900 cellspacing=3 cellpadding=3><colgroup><col width='100'><col width='100'><col width='50'><col width='100'><col width='350'><col width='100'><col width='100'></colgroup>
<tr><th class='h'>Name</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Description</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr><td class='i'><a href='gloss/gloss_c#curationtask_cuid' class='i'>cuID</a></td><td class='i'>smallint</td><td class='i'>2</td><td class='i'>&nbsp;</td><td class='i'>the unique curation task ID</td><td class='i'>&nbsp;</td><td class='i'>REFER_CODE</td></tr>
<tr><td class='v'><a href='gloss/gloss_d#curationtask_description' class='v'>description</a></td><td class='v'>varchar</td><td class='v'>256</td><td class='v'>&nbsp;</td><td class='v'>description in words for this task</td><td class='v'>&nbsp;</td><td class='v'>NOTE</td></tr>
<tr><td class='h'>Total length</td><td></td><td class='h'>258</td></tr>
</TABLE>
