$def with (prefix)
<h1><a name="atlasSourceXvhsDr1Source"></a><font size=-1>TABLE</font>&nbsp;&nbsp;atlasSourceXvhsDr1Source</h1>
<table width='720px'><tbody>
<tr><td class='t'> Cross-neighbours between atlas and vhsSource.</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'> All VHSDR1 sources within 10.0 arcsec of each source from<br>
 ATLAS data are recorded in this cross-neighbour table. The table<br>
 atlasSource was joined to the vhsSource table to create these<br>
 cross-neighbours. Use this table for any cross-querying of ATLAS<br>
 data with sources from VHSDR1.<br>
</td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=900 cellspacing=3 cellpadding=3><colgroup><col width='100'><col width='100'><col width='50'><col width='100'><col width='350'><col width='100'><col width='100'></colgroup>
<tr><th class='h'>Name</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Description</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr><td class='i'><a href='gloss/gloss_m#atlassourcexvhsdr1source_masterobjid' class='i'>masterObjID</a></td><td class='i'>bigint</td><td class='i'>8</td><td class='i'>&nbsp;</td><td class='i'>The unique ID in atlasSource (=sourceID)</td><td class='i'>&nbsp;</td><td class='i'>ID_MAIN</td></tr>
<tr><td class='i'><a href='gloss/gloss_s#atlassourcexvhsdr1source_slaveobjid' class='i'>slaveObjID</a></td><td class='i'>bigint</td><td class='i'>8</td><td class='i'>&nbsp;</td><td class='i'>The unique ID of the neighbour in VHSDR1..vhsSource (=sourceID)</td><td class='i'>&nbsp;</td><td class='i'>ID_CATALOG</td></tr>
<tr><td class='v'><a href='gloss/gloss_d#atlassourcexvhsdr1source_distancemins' class='v'>distanceMins</a></td><td class='v'>real</td><td class='v'>4</td><td class='v'>arcminutes</td><td class='v'>Angular separation between neighbours</td><td class='v'>&nbsp;</td><td class='v'>POS_ANG_DIST_GENERAL</td></tr>
<tr><td class='h'>Total length</td><td></td><td class='h'>20</td></tr>
</TABLE>
