$def with (prefix)
<h1><a name="StdFieldInfo"></a><font size=-1>TABLE</font>&nbsp;&nbsp;StdFieldInfo</h1>
<table width='720px'><tbody>
<tr><td class='t'> Contains details of Standard Fields used to calibrate WFCAM and VISTA observations.</td></tr>
</table>
<p>
<table width='720'>
<tr><td class='d'><br>Required constraints:<ul><li><b>Primary key</b> is (fieldID)</ul></td></tr>
</table><p>
<TABLE border=0 bgcolor=#888888 width=900 cellspacing=3 cellpadding=3><colgroup><col width='100'><col width='100'><col width='50'><col width='100'><col width='350'><col width='100'><col width='100'></colgroup>
<tr><th class='h'>Name</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Description</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr><td class='i'><a href='gloss/gloss_f#stdfieldinfo_fieldid' class='i'>fieldID</a></td><td class='i'>int</td><td class='i'>4</td><td class='i'>&nbsp;</td><td class='i'>The fieldID is a UID identifying each of the 43 standard fields that are observed as part of the calibration observations</td><td class='i'>&nbsp;</td><td class='i'>ID_FIELD</td></tr>
<tr><td class='v'><a href='gloss/gloss_r#stdfieldinfo_racentre' class='v'>raCentre</a></td><td class='v'>float</td><td class='v'>8</td><td class='v'>degrees</td><td class='v'>Right Ascension of field centre</td><td class='v'>&nbsp;</td><td class='v'>POS_EQ_RA_MAIN</td></tr>
<tr><td class='v'><a href='gloss/gloss_d#stdfieldinfo_deccentre' class='v'>decCentre</a></td><td class='v'>float</td><td class='v'>8</td><td class='v'>degrees</td><td class='v'>Declination of field centre</td><td class='v'>&nbsp;</td><td class='v'>POS_EQ_RA_MAIN</td></tr>
<tr><td class='v'><a href='gloss/gloss_f#stdfieldinfo_fieldname' class='v'>fieldName</a></td><td class='v'>varchar</td><td class='v'>16</td><td class='v'>&nbsp;</td><td class='v'>reference name of field</td><td class='v'>NONE</td><td class='v'>????</td></tr>
<tr><td class='v'><a href='gloss/gloss_o#stdfieldinfo_observed' class='v'>observed</a></td><td class='v'>tinyint</td><td class='v'>1</td><td class='v'>&nbsp;</td><td class='v'>yes or no identifier - have the secondary standards been set up?</td><td class='v'>0</td><td class='v'>&nbsp;</td></tr>
<tr><td class='h'>Total length</td><td></td><td class='h'>37</td></tr>
</TABLE>
