$def with (prefix)

<h1>FIRST_Tables.sql</h1>
<table width='720'><tr>
<td class='d'> Database schema file for the First Source Catalogues held in
 the WFCAM Science Archive. Contains sql scripts to create
 the relevant tables.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='FIRST/FIRST_TABLE_first08Jul16SourceSchema.html#first08Jul16Source'>first08Jul16Source</a></td><td class='t'> Contains the parameters provided for each source in the FIRST Survey Catalog: 08Jul16 Version.</td></tr>
<tr><td class='atab'><a href='FIRST/FIRST_TABLE_firstSourceSchema.html#firstSource'>firstSource</a></td><td class='t'> Contains the parameters provided for each source in the FIRST Survey Catalog: 03Apr11 Version.</td></tr>
<tr><td class='atab'><a href='FIRST/FIRST_TABLE_firstSource12Feb16Schema.html#firstSource12Feb16'>firstSource12Feb16</a></td><td class='t'> Contains the parameters provided for each source in the FIRST Survey Catalog: 12Feb16 Version.</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>9429, 2012-09-24 15:29:35 (Mon, 24 Sep 2012)</td></tr>
</tbody>
</TABLE>

