<p><TABLE border=0 bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<tr><th class='h' width='600'><h3> Glossary of OSA attributes </h3></th></tr>
<tr><th class='h'><h5>This Glossary alphabetically lists all attributes used in the <a href="osa_browser.html">OSAv20130304</a> database(s) held in the OSA. If you would like to have more information about the schema tables please use the <a href="osa_browser.html">OSAv20130304</a> <a href='osa_browser.html' title="this Browser version">Schema Browser</a>.</h5></th></tr>
</TABLE>
<table border='1' bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<colgroup width='38' span='13'>
</colgroup>
<tr>
 <td class='h' align='center'><a href='gloss_a.html'>A</a></td>
 <td class='h' align='center'><a href='gloss_b.html'>B</a></td>
 <td class='h' align='center'><a href='gloss_c.html'>C</a></td>
 <td class='h' align='center'><a href='gloss_d.html'>D</a></td>
 <td class='h' align='center'><a href='gloss_e.html'>E</a></td>
 <td class='h' align='center'><a href='gloss_f.html'>F</a></td>
 <td class='h' align='center'><a href='gloss_g.html'>G</a></td>
 <td class='h' align='center'><a href='gloss_h.html'>H</a></td>
 <td class='h' align='center'><a href='gloss_i.html'>I</a></td>
 <td class='h' align='center'><a href='gloss_j.html'>J</a></td>
 <td class='h' align='center'><a href='gloss_k.html'>K</a></td>
 <td class='h' align='center'><a href='gloss_l.html'>L</a></td>
 <td class='h' align='center'><a href='gloss_m.html'>M</a></td>
</tr><tr>
 <td class='h' align='center'><a href='gloss_n.html'>N</a></td>
 <td class='h' align='center'><a href='gloss_o.html'>O</a></td>
 <td class='h' align='center'><a href='gloss_p.html'>P</a></td>
 <td class='h' align='center'><a href='gloss_q.html'>Q</a></td>
 <td class='h' align='center'><a href='gloss_r.html'>R</a></td>
 <td class='h' align='center'><a href='gloss_s.html'>S</a></td>
 <td class='h' align='center'><a href='gloss_t.html'>T</a></td>
 <td class='h' align='center'><a href='gloss_u.html'>U</a></td>
 <td class='h' align='center'><a href='gloss_v.html'>V</a></td>
 <td class='h' align='center'><a href='gloss_w.html'>W</a></td>
 <td class='h' align='center'><a href='gloss_x.html'>X</a></td>
 <td class='h' align='center'><a href='gloss_y.html'>Y</a></td>
 <td class='h' align='center'><a href='gloss_z.html'>Z</a></td>
</tr>
</table><p>

<TABLE border=0 bgcolor=#888888 width='1200' cellspacing=3 cellpadding=3>
<colgroup width='1300'><col width='10%'><col width='10%'><col width='5%'><col width='35%'><col width='5%'><col width='5%'><col width='10%'><col width='10%'><col width='10%'></colgroup>
<tr><th class='h' colspan='9'><h3>X</h3></th></tr>
<tr><th class='h'>Name</th><th class='h'>Schema Table</th><th class='h'>Database</th><th class='h'>Description</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr> <td class=v>x</td>
 <td class=v><span id=atlasdetection_x></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>X coordinate of detection {catalogue&nbsp;TType&nbsp;keyword:&nbsp;X_coordinate}<br> Intensity-weighted isophotal centre-of-gravity in X.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_PLATE_X</td>
</tr>
<tr> <td class=v>x_coadd</td>
 <td class=v><span id=twomass_xsc_x_coadd></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>x (cross-scan) position (coadd coord.).</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>&nbsp;</td>
 <td class=v>INST_POS</td>
</tr>
<tr> <td class=v>X_IMAGE</td>
 <td class=v><span id=mgcdetection_x_image></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Object x position</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixel</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>X_OFF</td>
 <td class=v><span id=mgcgalaxystruct_x_off></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>X offset of Galaxy Centre</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>X_OFFm</td>
 <td class=v><span id=mgcgalaxystruct_x_offm></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>X offset error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>X_OFFp</td>
 <td class=v><span id=mgcgalaxystruct_x_offp></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>X offset error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>x_scan</td>
 <td class=v><span id=twomass_psc_x_scan></span>twomass_psc</td>
 <td class=v>2MASS</td>
 <td class=v>Mean cross-scan focal plane position of the source in the Universal scan (U-scan) coordinate system.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>&nbsp;</td>
 <td class=v>INST_POS</td>
</tr>
<tr> <td class=v>xErr</td>
 <td class=v><span id=atlasdetection_xerr></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in X coordinate {catalogue&nbsp;TType&nbsp;keyword:&nbsp;X_coordinate_err}<br> Estimate of centroid error.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>xph</td>
 <td class=v><span id=twomass_scn_xph></span>twomass_scn</td>
 <td class=v>2MASS</td>
 <td class=v>Special flag indicating whether or not another photometric problem, not obviously cloud related, was found in the scan after comparing its photometry to that of overlapping scans.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>xph</td>
 <td class=v><span id=twomass_sixx2_scn_xph></span>twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>downgrade from DB photom. overlap compar. (non-cloud) (0|1)</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>xPixSize</td>
 <td class=v><span id=currentastrometry_xpixsize></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Angular size of pixels in X</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Arcseconds</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_ANG_DIST_GENERAL</td>
</tr>
<tr> <td class=v>xPos</td>
 <td class=v><span id=nvsssource_xpos></span>nvssSource</td>
 <td class=v>NVSS</td>
 <td class=v>X position (RA direction) of the radio source</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_CCD_X</td>
</tr>
<tr> <td class=v>xscprox</td>
 <td class=v><span id=wise_allskysc_xscprox></span>wise_allskysc</td>
 <td class=v>WISE</td>
 <td class=v>2MASS Extended Source Catalog (XSC) proximity.<br> This column gives the distance between the WISE source position and the position of a nearby 2MASS XSC source, if the separation is less than 1.1 times the Ks isophotal radius size of the XSC source. This identifies WISE sources that are identically the 2MASS XSC source as well as WISE sources that are fragments of large galaxies. This column is default if there is no 2MASS XSC source in proximity to the WISE source.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>xscprox</td>
 <td class=v><span id=wise_prelimsc_xscprox></span>wise_prelimsc</td>
 <td class=v>WISE</td>
 <td class=v>Distance between the WISE source position and the position of a nearby 2MASS XSC source, if the separation is less than 1.1 times the Ks isophotal radius size of the XSC source<br> This column is default if there is no 2MASS XSC source in proximity to the WISE source</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>xSize</td>
 <td class=v><span id=multiframedetector_xsize></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>X-axis size of image {catalogue&nbsp;extension&nbsp;keyword:&nbsp; NXOUT}</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9999</td>
 <td class=v>&nbsp;</td>
</tr>
</table>
</table>
</table>
</table>
</table>
</table>
