<p><TABLE border=0 bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<tr><th class='h' width='600'><h3> Glossary of OSA attributes </h3></th></tr>
<tr><th class='h'><h5>This Glossary alphabetically lists all attributes used in the <a href="osa_browser.html">OSAv20130304</a> database(s) held in the OSA. If you would like to have more information about the schema tables please use the <a href="osa_browser.html">OSAv20130304</a> <a href='osa_browser.html' title="this Browser version">Schema Browser</a>.</h5></th></tr>
</TABLE>
<table border='1' bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<colgroup width='38' span='13'>
</colgroup>
<tr>
 <td class='h' align='center'><a href='gloss_a.html'>A</a></td>
 <td class='h' align='center'><a href='gloss_b.html'>B</a></td>
 <td class='h' align='center'><a href='gloss_c.html'>C</a></td>
 <td class='h' align='center'><a href='gloss_d.html'>D</a></td>
 <td class='h' align='center'><a href='gloss_e.html'>E</a></td>
 <td class='h' align='center'><a href='gloss_f.html'>F</a></td>
 <td class='h' align='center'><a href='gloss_g.html'>G</a></td>
 <td class='h' align='center'><a href='gloss_h.html'>H</a></td>
 <td class='h' align='center'><a href='gloss_i.html'>I</a></td>
 <td class='h' align='center'><a href='gloss_j.html'>J</a></td>
 <td class='h' align='center'><a href='gloss_k.html'>K</a></td>
 <td class='h' align='center'><a href='gloss_l.html'>L</a></td>
 <td class='h' align='center'><a href='gloss_m.html'>M</a></td>
</tr><tr>
 <td class='h' align='center'><a href='gloss_n.html'>N</a></td>
 <td class='h' align='center'><a href='gloss_o.html'>O</a></td>
 <td class='h' align='center'><a href='gloss_p.html'>P</a></td>
 <td class='h' align='center'><a href='gloss_q.html'>Q</a></td>
 <td class='h' align='center'><a href='gloss_r.html'>R</a></td>
 <td class='h' align='center'><a href='gloss_s.html'>S</a></td>
 <td class='h' align='center'><a href='gloss_t.html'>T</a></td>
 <td class='h' align='center'><a href='gloss_u.html'>U</a></td>
 <td class='h' align='center'><a href='gloss_v.html'>V</a></td>
 <td class='h' align='center'><a href='gloss_w.html'>W</a></td>
 <td class='h' align='center'><a href='gloss_x.html'>X</a></td>
 <td class='h' align='center'><a href='gloss_y.html'>Y</a></td>
 <td class='h' align='center'><a href='gloss_z.html'>Z</a></td>
</tr>
</table><p>

<TABLE border=0 bgcolor=#888888 width='1200' cellspacing=3 cellpadding=3>
<colgroup width='1300'><col width='10%'><col width='10%'><col width='5%'><col width='35%'><col width='5%'><col width='5%'><col width='10%'><col width='10%'><col width='10%'></colgroup>
<tr><th class='h' colspan='9'><h3>Y</h3></th></tr>
<tr><th class='h'>Name</th><th class='h'>Schema Table</th><th class='h'>Database</th><th class='h'>Description</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr> <td class=v>y</td>
 <td class=v><span id=atlasdetection_y></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Y coordinate of detection {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Y_coordinate}<br> Intensity-weighted isophotal centre-of-gravity in Y.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_PLATE_Y</td>
</tr>
<tr> <td class=v>y_coadd</td>
 <td class=v><span id=twomass_xsc_y_coadd></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>y (in-scan) position (coadd coord.).</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>&nbsp;</td>
 <td class=v>INST_POS</td>
</tr>
<tr> <td class=v>Y_IMAGE</td>
 <td class=v><span id=mgcdetection_y_image></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Object y position</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixel</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Y_OFF</td>
 <td class=v><span id=mgcgalaxystruct_y_off></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Y offset of Galaxy Centre</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Y_OFFm</td>
 <td class=v><span id=mgcgalaxystruct_y_offm></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Y offset error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Y_OFFp</td>
 <td class=v><span id=mgcgalaxystruct_y_offp></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Y offset error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>yErr</td>
 <td class=v><span id=atlasdetection_yerr></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in Y coordinate {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Y_coordinate_err}<br> Estimate of centroid error.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>yPixSize</td>
 <td class=v><span id=currentastrometry_ypixsize></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Angular size of pixels in Y</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Arcseconds</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_ANG_DIST_GENERAL</td>
</tr>
<tr> <td class=v>yPos</td>
 <td class=v><span id=nvsssource_ypos></span>nvssSource</td>
 <td class=v>NVSS</td>
 <td class=v>Y position (Dec direction) of the radio source</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_CCD_Y</td>
</tr>
<tr> <td class=v>ySize</td>
 <td class=v><span id=multiframedetector_ysize></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Y-axis size of image {catalogue&nbsp;extension&nbsp;keyword:&nbsp; NYOUT}</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9999</td>
 <td class=v>&nbsp;</td>
</tr>
</table>
</table>
</table>
</table>
</table>
</table>
