<p><TABLE border=0 bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<tr><th class='h' width='600'><h3> Glossary of OSA attributes </h3></th></tr>
<tr><th class='h'><h5>This Glossary alphabetically lists all attributes used in the <a href="osa_browser.html">OSAv20130304</a> database(s) held in the OSA. If you would like to have more information about the schema tables please use the <a href="osa_browser.html">OSAv20130304</a> <a href='osa_browser.html' title="this Browser version">Schema Browser</a>.</h5></th></tr>
</TABLE>
<table border='1' bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<colgroup width='38' span='13'>
</colgroup>
<tr>
 <td class='h' align='center'><a href='gloss_a.html'>A</a></td>
 <td class='h' align='center'><a href='gloss_b.html'>B</a></td>
 <td class='h' align='center'><a href='gloss_c.html'>C</a></td>
 <td class='h' align='center'><a href='gloss_d.html'>D</a></td>
 <td class='h' align='center'><a href='gloss_e.html'>E</a></td>
 <td class='h' align='center'><a href='gloss_f.html'>F</a></td>
 <td class='h' align='center'><a href='gloss_g.html'>G</a></td>
 <td class='h' align='center'><a href='gloss_h.html'>H</a></td>
 <td class='h' align='center'><a href='gloss_i.html'>I</a></td>
 <td class='h' align='center'><a href='gloss_j.html'>J</a></td>
 <td class='h' align='center'><a href='gloss_k.html'>K</a></td>
 <td class='h' align='center'><a href='gloss_l.html'>L</a></td>
 <td class='h' align='center'><a href='gloss_m.html'>M</a></td>
</tr><tr>
 <td class='h' align='center'><a href='gloss_n.html'>N</a></td>
 <td class='h' align='center'><a href='gloss_o.html'>O</a></td>
 <td class='h' align='center'><a href='gloss_p.html'>P</a></td>
 <td class='h' align='center'><a href='gloss_q.html'>Q</a></td>
 <td class='h' align='center'><a href='gloss_r.html'>R</a></td>
 <td class='h' align='center'><a href='gloss_s.html'>S</a></td>
 <td class='h' align='center'><a href='gloss_t.html'>T</a></td>
 <td class='h' align='center'><a href='gloss_u.html'>U</a></td>
 <td class='h' align='center'><a href='gloss_v.html'>V</a></td>
 <td class='h' align='center'><a href='gloss_w.html'>W</a></td>
 <td class='h' align='center'><a href='gloss_x.html'>X</a></td>
 <td class='h' align='center'><a href='gloss_y.html'>Y</a></td>
 <td class='h' align='center'><a href='gloss_z.html'>Z</a></td>
</tr>
</table><p>

<TABLE border=0 bgcolor=#888888 width='1200' cellspacing=3 cellpadding=3>
<colgroup width='1300'><col width='10%'><col width='10%'><col width='5%'><col width='35%'><col width='5%'><col width='5%'><col width='10%'><col width='10%'><col width='10%'></colgroup>
<tr><th class='h' colspan='9'><h3>L</h3></th></tr>
<tr><th class='h'>Name</th><th class='h'>Schema Table</th><th class='h'>Database</th><th class='h'>Description</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr> <td class=v>l</td>
 <td class=v><span id=currentastrometry_l></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Galactic longitude of device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_GAL_LON</td>
</tr>
<tr> <td class=v>l</td>
 <td class=v><span id=atlasdetection_l></span><span id=atlassource_l></span>atlasDetection, atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Galactic longitude</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_GAL_LON</td>
</tr>
<tr> <td class=v>l</td>
 <td class=v><span id=glimpse1_hrc_l></span><span id=glimpse1_mca_l></span><span id=glimpse2_hrc_l></span><span id=glimpse2_mca_l></span><span id=glimpse_hrc_inter_l></span><span id=glimpse_mca_inter_l></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca, glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>Galactic longitude</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_GAL_LON</td>
</tr>
<tr> <td class=v>l_err</td>
 <td class=v><span id=glimpse1_hrc_l_err></span><span id=glimpse1_mca_l_err></span><span id=glimpse2_hrc_l_err></span><span id=glimpse2_mca_l_err></span><span id=glimpse_hrc_inter_l_err></span><span id=glimpse_mca_inter_l_err></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca, glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>Error in Galactic longitude</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>arcsec</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>l_MajAxis</td>
 <td class=v><span id=nvsssource_l_majaxis></span>nvssSource</td>
 <td class=v>NVSS</td>
 <td class=v>Limit flag on majAxis</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_LIMIT</td>
</tr>
<tr> <td class=v>l_MinAxis</td>
 <td class=v><span id=nvsssource_l_minaxis></span>nvssSource</td>
 <td class=v>NVSS</td>
 <td class=v>Limit flag on minAxis</td>
 <td class=v>char</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_LIMIT</td>
</tr>
<tr> <td class=v>L_TOT</td>
 <td class=v><span id=mgcgalaxystruct_l_tot></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Total flux (digital units)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>100.0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>L_TOTm</td>
 <td class=v><span id=mgcgalaxystruct_l_totm></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Total flux error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>100.0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>L_TOTp</td>
 <td class=v><span id=mgcgalaxystruct_l_totp></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Total flux error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>100.0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>lambda</td>
 <td class=v><span id=currentastrometry_lambda></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>SDSS system spherical co-ordinate 1 of device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS</td>
</tr>
<tr> <td class=v>lambda</td>
 <td class=v><span id=atlasdetection_lambda></span><span id=atlassource_lambda></span>atlasDetection, atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>SDSS system spherical co-ordinate 1</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS</td>
</tr>
<tr> <td class=v>LII</td>
 <td class=v><span id=twoxmm_lii></span><span id=twoxmm_v1_2_lii></span><span id=twoxmmi_dr3_v1_0_lii></span>twoxmm, twoxmm_v1_2, twoxmmi_dr3_v1_0</td>
 <td class=v>XMM</td>
 <td class=v>Galactic longitude of the detection in degrees corresponding to the (corrected) coordinates RA and DEC.</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>listProcG</td>
 <td class=v><span id=atlasmergelog_listprocg></span>atlasMergeLog</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Frame has been list processed (0=no; 1=yes)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>listProcI</td>
 <td class=v><span id=atlasmergelog_listproci></span>atlasMergeLog</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Frame has been list processed (0=no; 1=yes)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>listProcR</td>
 <td class=v><span id=atlasmergelog_listprocr></span>atlasMergeLog</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Frame has been list processed (0=no; 1=yes)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>listProcU</td>
 <td class=v><span id=atlasmergelog_listprocu></span>atlasMergeLog</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Frame has been list processed (0=no; 1=yes)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>listProcZ</td>
 <td class=v><span id=atlasmergelog_listprocz></span>atlasMergeLog</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Frame has been list processed (0=no; 1=yes)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>listRemeasTable</td>
 <td class=v><span id=programme_listremeastable></span>Programme</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Table name of individual passband list re-measurements</td>
 <td class=v>varchar</td>
 <td class=v>64</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>logFile</td>
 <td class=v><span id=archivecurationhistory_logfile></span>ArchiveCurationHistory</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>filename of verbose logged task output</td>
 <td class=v>varchar</td>
 <td class=v>256</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_FILE</td>
</tr>
<tr> <td class=v>lrsChar</td>
 <td class=v><span id=iras_psc_lrschar></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Characterization of averaged LRS spectrum.</td>
 <td class=v>varchar</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>SPECT_TYPE_GENERAL</td>
</tr>
<tr> <td class=v>LSBG_BTOT</td>
 <td class=v><span id=mgcbrightspec_lsbg_btot></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG total B magnitude</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_DEC</td>
 <td class=v><span id=mgcbrightspec_lsbg_dec></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG object declination in deg (J2000)</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_MUCEN</td>
 <td class=v><span id=mgcbrightspec_lsbg_mucen></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG central surface brightness in mag/arcsec^2</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_MUEFF</td>
 <td class=v><span id=mgcbrightspec_lsbg_mueff></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG effective surface brightness</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_NAME</td>
 <td class=v><span id=mgcbrightspec_lsbg_name></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG object name</td>
 <td class=v>varchar</td>
 <td class=v>10</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_RA</td>
 <td class=v><span id=mgcbrightspec_lsbg_ra></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG object right ascension in deg (J2000)</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_REFF</td>
 <td class=v><span id=mgcbrightspec_lsbg_reff></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG effective radius in arcsec</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_Z</td>
 <td class=v><span id=mgcbrightspec_lsbg_z></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG heliocentric redshift</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>LSBG_ZQUAL</td>
 <td class=v><span id=mgcbrightspec_lsbg_zqual></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>LSBG redshift quality</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>lst</td>
 <td class=v><span id=multiframe_lst></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>LST at start {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;LST}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>seconds</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
</table>
</table>
</table>
</table>
</table>
</table>
