<p><TABLE border=0 bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<tr><th class='h' width='600'><h3> Glossary of OSA attributes </h3></th></tr>
<tr><th class='h'><h5>This Glossary alphabetically lists all attributes used in the <a href="osa_browser.html">OSAv20130304</a> database(s) held in the OSA. If you would like to have more information about the schema tables please use the <a href="osa_browser.html">OSAv20130304</a> <a href='osa_browser.html' title="this Browser version">Schema Browser</a>.</h5></th></tr>
</TABLE>
<table border='1' bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<colgroup width='38' span='13'>
</colgroup>
<tr>
 <td class='h' align='center'><a href='gloss_a.html'>A</a></td>
 <td class='h' align='center'><a href='gloss_b.html'>B</a></td>
 <td class='h' align='center'><a href='gloss_c.html'>C</a></td>
 <td class='h' align='center'><a href='gloss_d.html'>D</a></td>
 <td class='h' align='center'><a href='gloss_e.html'>E</a></td>
 <td class='h' align='center'><a href='gloss_f.html'>F</a></td>
 <td class='h' align='center'><a href='gloss_g.html'>G</a></td>
 <td class='h' align='center'><a href='gloss_h.html'>H</a></td>
 <td class='h' align='center'><a href='gloss_i.html'>I</a></td>
 <td class='h' align='center'><a href='gloss_j.html'>J</a></td>
 <td class='h' align='center'><a href='gloss_k.html'>K</a></td>
 <td class='h' align='center'><a href='gloss_l.html'>L</a></td>
 <td class='h' align='center'><a href='gloss_m.html'>M</a></td>
</tr><tr>
 <td class='h' align='center'><a href='gloss_n.html'>N</a></td>
 <td class='h' align='center'><a href='gloss_o.html'>O</a></td>
 <td class='h' align='center'><a href='gloss_p.html'>P</a></td>
 <td class='h' align='center'><a href='gloss_q.html'>Q</a></td>
 <td class='h' align='center'><a href='gloss_r.html'>R</a></td>
 <td class='h' align='center'><a href='gloss_s.html'>S</a></td>
 <td class='h' align='center'><a href='gloss_t.html'>T</a></td>
 <td class='h' align='center'><a href='gloss_u.html'>U</a></td>
 <td class='h' align='center'><a href='gloss_v.html'>V</a></td>
 <td class='h' align='center'><a href='gloss_w.html'>W</a></td>
 <td class='h' align='center'><a href='gloss_x.html'>X</a></td>
 <td class='h' align='center'><a href='gloss_y.html'>Y</a></td>
 <td class='h' align='center'><a href='gloss_z.html'>Z</a></td>
</tr>
</table><p>

<TABLE border=0 bgcolor=#888888 width='1200' cellspacing=3 cellpadding=3>
<colgroup width='1300'><col width='10%'><col width='10%'><col width='5%'><col width='35%'><col width='5%'><col width='5%'><col width='10%'><col width='10%'><col width='10%'></colgroup>
<tr><th class='h' colspan='9'><h3>I</h3></th></tr>
<tr><th class='h'>Name</th><th class='h'>Schema Table</th><th class='h'>Database</th><th class='h'>Description</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr> <td class=v>iAperMag3</td>
 <td class=v><span id=atlassource_iapermag3></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Default point source I aperture corrected mag (2.0 arcsec aperture diameter)<br> If in doubt use this flux estimator</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iAperMag3Err</td>
 <td class=v><span id=atlassource_iapermag3err></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in default point/extended source I mag (2.0 arcsec aperture diameter)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>iAperMag4</td>
 <td class=v><span id=atlassource_iapermag4></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Point source I aperture corrected mag (2.8 arcsec aperture diameter)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iAperMag4Err</td>
 <td class=v><span id=atlassource_iapermag4err></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in point/extended source I mag (2.8 arcsec aperture diameter)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>iAperMag6</td>
 <td class=v><span id=atlassource_iapermag6></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Point source I aperture corrected mag (5.7 arcsec aperture diameter)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iAperMag6Err</td>
 <td class=v><span id=atlassource_iapermag6err></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in point/extended source I mag (5.7 arcsec aperture diameter)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>iAperMagNoAperCorr3</td>
 <td class=v><span id=atlassource_iapermagnoapercorr3></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Default extended source I aperture mag (2.0 arcsec aperture diameter)<br> If in doubt use this flux estimator</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iAperMagNoAperCorr4</td>
 <td class=v><span id=atlassource_iapermagnoapercorr4></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Extended source I aperture mag (2.8 arcsec aperture diameter)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iAperMagNoAperCorr6</td>
 <td class=v><span id=atlassource_iapermagnoapercorr6></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Extended source I aperture mag (5.7 arcsec aperture diameter)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>IAUNAME</td>
 <td class=v><span id=twoxmm_iauname></span><span id=twoxmm_v1_2_iauname></span>twoxmm, twoxmm_v1_2</td>
 <td class=v>XMM</td>
 <td class=v>The IAU name assigned to the unique SRCID.</td>
 <td class=v>varchar</td>
 <td class=v>21</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>IAUNAME</td>
 <td class=v><span id=twoxmmi_dr3_v1_0_iauname></span>twoxmmi_dr3_v1_0</td>
 <td class=v>XMM</td>
 <td class=v>The IAU name assigned to the unique SRCID.</td>
 <td class=v>varchar</td>
 <td class=v>30</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>iAverageConf</td>
 <td class=v><span id=atlassource_iaverageconf></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>average confidence in 2 arcsec diameter default aperture (aper3) I</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>iClass</td>
 <td class=v><span id=atlassource_iclass></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>discrete image classification flag in I</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9999</td>
 <td class=v>CLASS_MISC</td>
</tr>
<tr> <td class=v>iClassStat</td>
 <td class=v><span id=atlassource_iclassstat></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>N(0,1) stellarness-of-profile statistic in I</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>STAT_PROP</td>
</tr>
<tr> <td class=v>id</td>
 <td class=v><span id=twomass_xsc_id></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>source ID number (unique within scan, coadd).</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>id_cat</td>
 <td class=v><span id=twomass_xsc_id_cat></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>matched galaxy's catalog name.</td>
 <td class=v>varchar</td>
 <td class=v>20</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NAME</td>
</tr>
<tr> <td class=v>id_flg</td>
 <td class=v><span id=twomass_xsc_id_flg></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>type/galaxy ID flag (0=non-catalog, 1=catalog, 2=LCSB).</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>idCand</td>
 <td class=v><span id=rosat_bsc_idcand></span>rosat_bsc</td>
 <td class=v>ROSAT</td>
 <td class=v>number of identification candidates in the correlation catalogue</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>idCand</td>
 <td class=v><span id=rosat_fsc_idcand></span>rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>number of identification candidates in the correlation catalogue</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>idType</td>
 <td class=v><span id=iras_psc_idtype></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Type of Object</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CLASS_OBJECT</td>
</tr>
<tr> <td class=v>iEll</td>
 <td class=v><span id=atlassource_iell></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>1-b/a, where a/b=semi-major/minor axes in I</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHYS_ELLIPTICITY</td>
</tr>
<tr> <td class=v>ieNum</td>
 <td class=v><span id=atlasmergelog_ienum></span>atlasMergeLog</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>the extension number of this I frame</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>iErrBits</td>
 <td class=v><span id=atlassource_ierrbits></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>processing warning/error bitwise flags in I</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>iEta</td>
 <td class=v><span id=atlassource_ieta></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Offset of I detection from master position (+north/-south)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_EQ_DEC_OFF</td>
</tr>
<tr> <td class=v>iFlag</td>
 <td class=v><span id=rosat_bsc_iflag></span><span id=rosat_fsc_iflag></span>rosat_bsc, rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>broad band image available</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>iGausig</td>
 <td class=v><span id=atlassource_igausig></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>RMS of axes of ellipse fit in I</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>MORPH_PARAM</td>
</tr>
<tr> <td class=v>iHlCorSMjRadAs</td>
 <td class=v><span id=atlassource_ihlcorsmjradas></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Seeing corrected half-light, semi-major axis in I band</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>EXTENSION_RAD</td>
</tr>
<tr> <td class=v>illumCorr</td>
 <td class=v><span id=atlasdetection_illumcorr></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>illumination correction</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>0.0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>illumFile</td>
 <td class=v><span id=multiframe_illumfile></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>File name of CASU created photometric illumination correction used on catalogue data from this file</td>
 <td class=v>varchar</td>
 <td class=v>256</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>illumMoon</td>
 <td class=v><span id=multiframe_illummoon></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Illumination of the Moon</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>im_nx</td>
 <td class=v><span id=twomass_xsc_im_nx></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>size of postage stamp image in pixels.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>INST_DET_SIZE</td>
</tr>
<tr> <td class=v>iMag</td>
 <td class=v><span id=ukirtfsstars_imag></span>ukirtFSstars</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>I band total magnitude</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>Image</td>
 <td class=v><span id=denisdr3source_image></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>DENIS image number; the image number is incremented at each image taken during the survey. In case a source results from the merging of two consecutive overlapping images (N and N+1) in the same strip (Flag_mult set to 1), the image number corresponds to the first image N.</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>imageExtent</td>
 <td class=v><span id=currentastrometry_imageextent></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The maximum angular extent from the central position</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Arcminutes</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_ANG_DIST_GENERAL</td>
</tr>
<tr> <td class=v>imageExtType</td>
 <td class=v><span id=multiframedetector_imageexttype></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Extension type in source FITS image file {image&nbsp;extension&nbsp;keyword:&nbsp;XTENSION}</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>imageGcount</td>
 <td class=v><span id=multiframedetector_imagegcount></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>FITS image extension required keyword (always 1 for uncompressed images) {image&nbsp;extension&nbsp;keyword:&nbsp;GCOUNT}</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>imagePcount</td>
 <td class=v><span id=multiframedetector_imagepcount></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>FITS image extension required keyword (always 0 for uncompressed images) {image&nbsp;extension&nbsp;keyword:&nbsp;PCOUNT}</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>imagesLocation</td>
 <td class=v><span id=externalsurvey_imageslocation></span>ExternalSurvey</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Pathname to the pixels (eg. for list-driven remeasurement)</td>
 <td class=v>varchar</td>
 <td class=v>256</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>imfID</td>
 <td class=v><span id=atlasmergelog_imfid></span>atlasMergeLog</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>the UID of the relevant I multiframe</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_FRAME</td>
</tr>
<tr> <td class=v>imzExt</td>
 <td class=v><span id=atlassource_imzext></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Extended source colour I-Z (using aperMagNoAperCorr3)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_COLOR</td>
</tr>
<tr> <td class=v>imzExtErr</td>
 <td class=v><span id=atlassource_imzexterr></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error on extended source colour I-Z</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>imzPnt</td>
 <td class=v><span id=atlassource_imzpnt></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Point source colour I-Z (using aperMag3)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_COLOR</td>
</tr>
<tr> <td class=v>imzPntErr</td>
 <td class=v><span id=atlassource_imzpnterr></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error on point source colour I-Z</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>INEXR</td>
 <td class=v><span id=mgcbrightspec_inexr></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>Exclusion region flag (0 exclude/ 1 keep)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>inherit</td>
 <td class=v><span id=multiframedetector_inherit></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>denotes the INHERIT keyword convention {image&nbsp;extension&nbsp;keyword:&nbsp;INHERIT}</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insDate</td>
 <td class=v><span id=multiframeesokeys_insdate></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Instrument release date (yyyy-mm-dd) {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS DATE}</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insDid</td>
 <td class=v><span id=multiframeesokeys_insdid></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Data dictionary {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS DID}</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insFilt1ID</td>
 <td class=v><span id=multiframeesokeys_insfilt1id></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Filter slot name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS FILT1 ID}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insFilt1Name</td>
 <td class=v><span id=multiframeesokeys_insfilt1name></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Filter name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS FILT1 NAME}</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insFilt1No</td>
 <td class=v><span id=multiframeesokeys_insfilt1no></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Pos 1-6=Mag.A 7-12=Mag.B 0=NO Filter CASU** - Jim L? {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS FILT1 NO}</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insFilt1Swsim</td>
 <td class=v><span id=multiframeesokeys_insfilt1swsim></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>If T, function is software simulation {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS FILT1 SWSIM}</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insID</td>
 <td class=v><span id=multiframeesokeys_insid></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Instrument ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS ID}</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insMode</td>
 <td class=v><span id=multiframeesokeys_insmode></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Instrument mode used {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS MODE}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens1ID</td>
 <td class=v><span id=multiframeesokeys_inssens1id></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>sensor ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS1 ID}</td>
 <td class=v>varchar</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens1Name</td>
 <td class=v><span id=multiframeesokeys_inssens1name></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Sensor common name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS1 NAME}</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens1Val</td>
 <td class=v><span id=multiframeesokeys_inssens1val></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibration Lamps Current {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS1 VAL}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>A</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens2ID</td>
 <td class=v><span id=multiframeesokeys_inssens2id></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>sensor ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS2 ID}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens2Name</td>
 <td class=v><span id=multiframeesokeys_inssens2name></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Sensor common name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS2 NAME}</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens2Val</td>
 <td class=v><span id=multiframeesokeys_inssens2val></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Instr Cool. Fluid Flow IN {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS2 VAL}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>l/min</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens3ID</td>
 <td class=v><span id=multiframeesokeys_inssens3id></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>sensor ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS3 ID}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens3Name</td>
 <td class=v><span id=multiframeesokeys_inssens3name></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Sensor common name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS3 NAME}</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSens3Val</td>
 <td class=v><span id=multiframeesokeys_inssens3val></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Instr Cool. Fluid Flow DIF {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SENS3 VAL}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>l/min</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insShut1Swsim</td>
 <td class=v><span id=multiframeesokeys_insshut1swsim></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>If T, function is software simulat {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SHUT1 SWSIM}</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insSwsim</td>
 <td class=v><span id=multiframeesokeys_insswsim></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Software simulation {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS SWSIM}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp11ID</td>
 <td class=v><span id=multiframeesokeys_instemp11id></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Temperature sensor ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP11 ID}</td>
 <td class=v>varchar</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp11Name</td>
 <td class=v><span id=multiframeesokeys_instemp11name></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Temperature sensor name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP11 NAME}</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp11Val</td>
 <td class=v><span id=multiframeesokeys_instemp11val></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Filter system temperature {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP11 VAL}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>degC</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp12ID</td>
 <td class=v><span id=multiframeesokeys_instemp12id></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Temperature sensor ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP12 ID}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp12Name</td>
 <td class=v><span id=multiframeesokeys_instemp12name></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Temperature sensor name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP12 NAME}</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp12Val</td>
 <td class=v><span id=multiframeesokeys_instemp12val></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>FIERA Cooling Liquid IN temperature {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP12 VAL}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>degC</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp13ID</td>
 <td class=v><span id=multiframeesokeys_instemp13id></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Temperature sensor ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP13 ID}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp13Name</td>
 <td class=v><span id=multiframeesokeys_instemp13name></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Temperature sensor name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP13 NAME}</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>insTemp13Val</td>
 <td class=v><span id=multiframeesokeys_instemp13val></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>FIERA Cooling Liquid OUT temperature {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO INS TEMP13 VAL}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>degC</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>instrument</td>
 <td class=v><span id=multiframe_instrument></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Instrument name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;INSTRUME}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>intProdType</td>
 <td class=v><span id=productlinks_intprodtype></span>ProductLinks</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Type (stack,tile,mosaic) of intermediate frame</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>intProductID</td>
 <td class=v><span id=productlinks_intproductid></span>ProductLinks</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Product ID of intermediate frame</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>iPA</td>
 <td class=v><span id=atlassource_ipa></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>ellipse fit celestial orientation in I</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Degrees</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_POS-ANG</td>
</tr>
<tr> <td class=v>iPetroMag</td>
 <td class=v><span id=atlassource_ipetromag></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Extended source I mag (Petrosian)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iPetroMagErr</td>
 <td class=v><span id=atlassource_ipetromagerr></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in extended source I mag (Petrosian)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>ippErrBits</td>
 <td class=v><span id=atlassource_ipperrbits></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>additional WFAU post-processing error bits in I</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>iPsfMag</td>
 <td class=v><span id=atlassource_ipsfmag></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Point source profile-fitted I mag</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iPsfMagErr</td>
 <td class=v><span id=atlassource_ipsfmagerr></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in point source profile-fitted I mag</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>iSeqNum</td>
 <td class=v><span id=atlassource_iseqnum></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>the running number of the I detection</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>ID_NUMBER</td>
</tr>
<tr> <td class=v>iSerMag2D</td>
 <td class=v><span id=atlassource_isermag2d></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Extended source I mag (profile-fitted)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_MAG</td>
</tr>
<tr> <td class=v>iSerMag2DErr</td>
 <td class=v><span id=atlassource_isermag2derr></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in extended source I mag (profile-fitted)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>isLowGalacticLat</td>
 <td class=v><span id=programme_islowgalacticlat></span>Programme</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Is this a low Galactic latitude field where Schlegel maps don't work (No=0/Yes=1)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ISOAREA_IMAGE</td>
 <td class=v><span id=mgcdetection_isoarea_image></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Isophotal area above analysis threshold</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixel^2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ISOAREA_WORLD</td>
 <td class=v><span id=mgcdetection_isoarea_world></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Isophotal area above analysis threshold</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>deg^2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>isoFlux</td>
 <td class=v><span id=atlasdetection_isoflux></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Instrumental isophotal flux counts {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Isophotal_flux}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>isoMag</td>
 <td class=v><span id=atlasdetection_isomag></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated isophotal magnitude</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>isSynoptic</td>
 <td class=v><span id=requiredfilters_issynoptic></span>RequiredFilters</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>is the band observed multiple times for variability measurements (0 FALSE, 1 TRUE)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>itb</td>
 <td class=v><span id=rosat_fsc_itb></span>rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>start time of observation (MM-DD-YYYY HH:MM:SS)</td>
 <td class=v>datetime</td>
 <td class=v>8</td>
 <td class=v>mm-dd-yyyy hh:mm:ss</td>
 <td class=v>&nbsp;</td>
 <td class=v>TIME_DATE</td>
</tr>
<tr> <td class=v>ite</td>
 <td class=v><span id=rosat_fsc_ite></span>rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>end time of observation (MM-DD-YYYY HH:MM:SS)</td>
 <td class=v>datetime</td>
 <td class=v>8</td>
 <td class=v>mm-dd-yyyy hh:mm:ss</td>
 <td class=v>&nbsp;</td>
 <td class=v>TIME_DATE</td>
</tr>
<tr> <td class=v>iXi</td>
 <td class=v><span id=atlassource_ixi></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Offset of I detection from master position (+east/-west)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>arcsec</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_EQ_RA_OFF</td>
</tr>
</table>
</table>
</table>
</table>
</table>
</table>
