<p><TABLE border=0 bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<tr><th class='h' width='600'><h3> Glossary of OSA attributes </h3></th></tr>
<tr><th class='h'><h5>This Glossary alphabetically lists all attributes used in the <a href="osa_browser.html">OSAv20130304</a> database(s) held in the OSA. If you would like to have more information about the schema tables please use the <a href="osa_browser.html">OSAv20130304</a> <a href='osa_browser.html' title="this Browser version">Schema Browser</a>.</h5></th></tr>
</TABLE>
<table border='1' bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<colgroup width='38' span='13'>
</colgroup>
<tr>
 <td class='h' align='center'><a href='gloss_a.html'>A</a></td>
 <td class='h' align='center'><a href='gloss_b.html'>B</a></td>
 <td class='h' align='center'><a href='gloss_c.html'>C</a></td>
 <td class='h' align='center'><a href='gloss_d.html'>D</a></td>
 <td class='h' align='center'><a href='gloss_e.html'>E</a></td>
 <td class='h' align='center'><a href='gloss_f.html'>F</a></td>
 <td class='h' align='center'><a href='gloss_g.html'>G</a></td>
 <td class='h' align='center'><a href='gloss_h.html'>H</a></td>
 <td class='h' align='center'><a href='gloss_i.html'>I</a></td>
 <td class='h' align='center'><a href='gloss_j.html'>J</a></td>
 <td class='h' align='center'><a href='gloss_k.html'>K</a></td>
 <td class='h' align='center'><a href='gloss_l.html'>L</a></td>
 <td class='h' align='center'><a href='gloss_m.html'>M</a></td>
</tr><tr>
 <td class='h' align='center'><a href='gloss_n.html'>N</a></td>
 <td class='h' align='center'><a href='gloss_o.html'>O</a></td>
 <td class='h' align='center'><a href='gloss_p.html'>P</a></td>
 <td class='h' align='center'><a href='gloss_q.html'>Q</a></td>
 <td class='h' align='center'><a href='gloss_r.html'>R</a></td>
 <td class='h' align='center'><a href='gloss_s.html'>S</a></td>
 <td class='h' align='center'><a href='gloss_t.html'>T</a></td>
 <td class='h' align='center'><a href='gloss_u.html'>U</a></td>
 <td class='h' align='center'><a href='gloss_v.html'>V</a></td>
 <td class='h' align='center'><a href='gloss_w.html'>W</a></td>
 <td class='h' align='center'><a href='gloss_x.html'>X</a></td>
 <td class='h' align='center'><a href='gloss_y.html'>Y</a></td>
 <td class='h' align='center'><a href='gloss_z.html'>Z</a></td>
</tr>
</table><p>

<TABLE border=0 bgcolor=#888888 width='1200' cellspacing=3 cellpadding=3>
<colgroup width='1300'><col width='10%'><col width='10%'><col width='5%'><col width='35%'><col width='5%'><col width='5%'><col width='10%'><col width='10%'><col width='10%'></colgroup>
<tr><th class='h' colspan='9'><h3>C</h3></th></tr>
<tr><th class='h'>Name</th><th class='h'>Schema Table</th><th class='h'>Database</th><th class='h'>Description</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr> <td class=v>C1</td>
 <td class=v><span id=mgcgalaxystruct_c1></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Concentration index alpha=1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>C2</td>
 <td class=v><span id=mgcgalaxystruct_c2></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Concentration index alpha=2</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>C3</td>
 <td class=v><span id=mgcgalaxystruct_c3></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Concentration index alpha=3</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>C4</td>
 <td class=v><span id=mgcgalaxystruct_c4></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Concentration index alpha=4</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>c_strat</td>
 <td class=v><span id=twomass_scn_c_strat></span>twomass_scn</td>
 <td class=v>2MASS</td>
 <td class=v>Flag indicating the calibration strategy for this night's data.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>c_strat</td>
 <td class=v><span id=twomass_sixx2_scn_c_strat></span>twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>calibration strategy, north only (0=old, 1=new)</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>camNum</td>
 <td class=v><span id=multiframedetector_camnum></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Number of OmegaCam detector (1 to 32) {image&nbsp;extension&nbsp;keyword:&nbsp;CAMNUM}</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9999</td>
 <td class=v>ID_PLATE</td>
</tr>
<tr> <td class=v>casuVers</td>
 <td class=v><span id=multiframe_casuvers></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>CASU Release Version Number {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;CASUVERS}</td>
 <td class=v>varchar</td>
 <td class=v>64</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>VERSNUM</td>
</tr>
<tr> <td class=v>cat</td>
 <td class=v><span id=twomass_sixx2_psc_cat></span><span id=twomass_sixx2_scn_cat></span><span id=twomass_sixx2_xsc_cat></span>twomass_sixx2_psc, twomass_sixx2_scn, twomass_sixx2_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>Catalog indicator 1=catalog, 0=not catalog</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>catalogueSchema</td>
 <td class=v><span id=programme_catalogueschema></span>Programme</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Script file that describes the catalogue schema</td>
 <td class=v>varchar</td>
 <td class=v>64</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>catCreationDate</td>
 <td class=v><span id=multiframedetector_catcreationdate></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Creation date/time of catalogue file {catalogue&nbsp;extension&nbsp;keyword:&nbsp; DATE}</td>
 <td class=v>datetime</td>
 <td class=v>8</td>
 <td class=v>MM-DD-YYYY:hh:mm:ss.sss</td>
 <td class=v>12-31-9999</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>catName</td>
 <td class=v><span id=multiframe_catname></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>the filename of the associated catalogue MEF, eg. server:/path/filename.fits</td>
 <td class=v>varchar</td>
 <td class=v>256</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_CATALOG</td>
</tr>
<tr> <td class=v>catName</td>
 <td class=v><span id=iras_assoc_cats_catname></span>iras_assoc_cats</td>
 <td class=v>IRAS</td>
 <td class=v>Source Name</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_MAIN</td>
</tr>
<tr> <td class=v>catNo</td>
 <td class=v><span id=iras_asc_catno></span><span id=iras_assoc_cats_catno></span>iras_asc, iras_assoc_cats</td>
 <td class=v>IRAS</td>
 <td class=v>Catalog number</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_CATALOG</td>
</tr>
<tr> <td class=v>cc_100</td>
 <td class=v><span id=iras_psc_cc_100></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>point source correlation coefficient (100 micron).</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>cc_12</td>
 <td class=v><span id=iras_psc_cc_12></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>point source correlation coefficient (12 micron).</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>cc_25</td>
 <td class=v><span id=iras_psc_cc_25></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>point source correlation coefficient (25 micron).</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>cc_60</td>
 <td class=v><span id=iras_psc_cc_60></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>point source correlation coefficient (60 micron).</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>cc_flags</td>
 <td class=v><span id=wise_allskysc_cc_flags></span>wise_allskysc</td>
 <td class=v>WISE</td>
 <td class=v>Contamination and confusion flag.<br> Four character strong, one character per band [W1/W2/W3/W4], that indicates that the photometry and/or position measurements of a source may be contaminated or biased due to proximity to an image artifact. CAUTION: Non-zero cc_flags values in any band indicate the the measurement in that band may be contaminated and the photometry should be used with caution.</td>
 <td class=v>char</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cc_flags</td>
 <td class=v><span id=wise_prelimsc_cc_flags></span>wise_prelimsc</td>
 <td class=v>WISE</td>
 <td class=v>Contamination and confusion flag<br> Four character strong, one character per band [W1/W2/W3/W4], that indicates that the photometry and/or position measurements of a source may be contaminated or biased due to proximity to an image artifact</td>
 <td class=v>char</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cc_flg</td>
 <td class=v><span id=twomass_psc_cc_flg></span>twomass_psc</td>
 <td class=v>2MASS</td>
 <td class=v>Contamination and confusion flag.</td>
 <td class=v>varchar</td>
 <td class=v>3</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>cc_flg</td>
 <td class=v><span id=twomass_sixx2_psc_cc_flg></span>twomass_sixx2_psc</td>
 <td class=v>2MASS</td>
 <td class=v>indicates JHK artifact contamination and/or confusion</td>
 <td class=v>varchar</td>
 <td class=v>3</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cc_flg</td>
 <td class=v><span id=twomass_sixx2_xsc_cc_flg></span>twomass_sixx2_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>indicates artifact contamination and/or confusion</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cc_flg</td>
 <td class=v><span id=twomass_xsc_cc_flg></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>indicates artifact contamination and/or confusion.</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>CCD</td>
 <td class=v><span id=mgcdetection_ccd></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>CCD number</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cd11</td>
 <td class=v><span id=currentastrometry_cd11></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Element of the linear transformation matrix (with scale) {image&nbsp;extension&nbsp;keyword:&nbsp;CD1_1}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_TRANSF_PARAM</td>
</tr>
<tr> <td class=v>cd12</td>
 <td class=v><span id=currentastrometry_cd12></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Element of the linear transformation matrix (with scale) {image&nbsp;extension&nbsp;keyword:&nbsp;CD1_2}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_TRANSF_PARAM</td>
</tr>
<tr> <td class=v>cd21</td>
 <td class=v><span id=currentastrometry_cd21></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Element of the linear transformation matrix (with scale) {image&nbsp;extension&nbsp;keyword:&nbsp;CD2_1}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_TRANSF_PARAM</td>
</tr>
<tr> <td class=v>cd22</td>
 <td class=v><span id=currentastrometry_cd22></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Element of the linear transformation matrix (with scale) {image&nbsp;extension&nbsp;keyword:&nbsp;CD2_2}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_TRANSF_PARAM</td>
</tr>
<tr> <td class=v>centralDec</td>
 <td class=v><span id=currentastrometry_centraldec></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Dec (J2000) at device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_EQ_DEC_MAIN</td>
</tr>
<tr> <td class=v>centralRa</td>
 <td class=v><span id=currentastrometry_centralra></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>RA (J2000) at device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_EQ_RA_MAIN</td>
</tr>
<tr> <td class=v>CHI</td>
 <td class=v><span id=mgcgalaxystruct_chi></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Chi^2 of GIM2D Fit</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>CIR_BVAR</td>
 <td class=v><span id=multiframedetector_cir_bvar></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Latest estimate of background variance {image&nbsp;extension&nbsp;keyword:&nbsp;CIR_BVAR}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>CIR_CPM</td>
 <td class=v><span id=multiframedetector_cir_cpm></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Associated confidence map {image&nbsp;extension&nbsp;keyword:&nbsp;CIR_CPM}</td>
 <td class=v>varchar</td>
 <td class=v>64</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>CIRMED</td>
 <td class=v><span id=multiframedetector_cirmed></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Latest estimate of background {image&nbsp;extension&nbsp;keyword:&nbsp;CIRMED}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cirMnfr</td>
 <td class=v><span id=multiframedetector_cirmnfr></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Mean background in fringe frame {image&nbsp;extension&nbsp;keyword:&nbsp;CIR_MNFR}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cirr1</td>
 <td class=v><span id=iras_psc_cirr1></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Number of nearby 100 micron only WSDB sources</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>cirr2</td>
 <td class=v><span id=iras_psc_cirr2></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Spatially filtered 100 micron sky brightness ratio to flux density of point source</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_FLUX_RATIO</td>
</tr>
<tr> <td class=v>cirr3</td>
 <td class=v><span id=iras_psc_cirr3></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Total 100 micron sky surface brightness</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>MJy/sr</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_SB_IR-100</td>
</tr>
<tr> <td class=v>cirVers</td>
 <td class=v><span id=multiframedetector_cirvers></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>CIRDR Version {image&nbsp;extension&nbsp;keyword:&nbsp;CIR_VERS}</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>CLASS</td>
 <td class=v><span id=mgcdetection_class></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Classification parameter</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>class</td>
 <td class=v><span id=atlasdetection_class></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Flag indicating most probable morphological classification {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Classification}<br> -1 stellar, +1 non--stellar, 0 noise, -2 borderline stellar, -3 borderline galaxy, -9 saturated</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CLASS_MISC</td>
</tr>
<tr> <td class=v>classStat</td>
 <td class=v><span id=atlasdetection_classstat></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>N(0,1) stellarness-of-profile statistic {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Statistic}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>STAT_PROP</td>
</tr>
<tr> <td class=v>clat</td>
 <td class=v><span id=twomass_sixx2_psc_clat></span><span id=twomass_sixx2_scn_clat></span>twomass_sixx2_psc, twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>The computed dec (J2000 EQ) of scan center in sexigesimal.</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>clat</td>
 <td class=v><span id=twomass_sixx2_xsc_clat></span>twomass_sixx2_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>The computed dec (J2000 EQ) in sexigesimal.</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cld</td>
 <td class=v><span id=twomass_scn_cld></span>twomass_scn</td>
 <td class=v>2MASS</td>
 <td class=v>Special flag indicating whether or not a cloud was found in the scan after comparison of its photometry to that of overlapping scans in the database.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>cld</td>
 <td class=v><span id=twomass_sixx2_scn_cld></span>twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>downgrade from DB photom. overlap comparison (clouds) (0|1)</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>clon</td>
 <td class=v><span id=twomass_sixx2_psc_clon></span><span id=twomass_sixx2_scn_clon></span>twomass_sixx2_psc, twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>The computed ra (J2000 EQ) of scan center in sexigesimal.</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>clon</td>
 <td class=v><span id=twomass_sixx2_xsc_clon></span>twomass_sixx2_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>The computed ra (J2000 EQ) in sexigesimal.</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cntr</td>
 <td class=v><span id=twomass_sixx2_scn_cntr></span><span id=twomass_sixx2_xsc_cntr></span>twomass_sixx2_scn, twomass_sixx2_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>entry counter (key) number (unique within table)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>cntr</td>
 <td class=v><span id=wise_allskysc_cntr></span>wise_allskysc</td>
 <td class=v>WISE</td>
 <td class=v>Unique identification number for the Catalog source<br> This number is formed entirely from the source_id, which is in turn formed from the coadd_id and source number src. On average, sources with cntr values close to each other are also close to each other on the sky, except at Tile boundaries.</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_MAIN</td>
</tr>
<tr> <td class=v>cntr</td>
 <td class=v><span id=wise_prelimsc_cntr></span>wise_prelimsc</td>
 <td class=v>WISE</td>
 <td class=v>Unique identification number for the Catalog source<br> This number is formed entirely from the source_id, which is in turn formed from the coadd_id and source number src. On average, sources with cntr values close to each other are also close to each other on the sky, except at Tile boundaries</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_MAIN</td>
</tr>
<tr> <td class=v>coadd</td>
 <td class=v><span id=twomass_psc_coadd></span>twomass_psc</td>
 <td class=v>2MASS</td>
 <td class=v>Sequence number of the Atlas Image in which the position of this source falls.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>coadd</td>
 <td class=v><span id=twomass_xsc_coadd></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>3-digit coadd number (unique within scan).</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>coadd_id</td>
 <td class=v><span id=wise_allskysc_coadd_id></span>wise_allskysc</td>
 <td class=v>WISE</td>
 <td class=v>Atlas Tile identifier from which source was extracted.</td>
 <td class=v>char</td>
 <td class=v>20</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>coadd_id</td>
 <td class=v><span id=wise_prelimsc_coadd_id></span>wise_prelimsc</td>
 <td class=v>WISE</td>
 <td class=v>Atlas Tile identifier from which source was extracted</td>
 <td class=v>char</td>
 <td class=v>20</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>coadd_key</td>
 <td class=v><span id=twomass_psc_coadd_key></span>twomass_psc</td>
 <td class=v>2MASS</td>
 <td class=v>Unique identification number of the record in the Atlas Image Data Table (NOT YET AVAILABLE) that corresponds to Image in which the position of this source falls.</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_NUMBER</td>
</tr>
<tr> <td class=v>coadd_key</td>
 <td class=v><span id=twomass_xsc_coadd_key></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>key to coadd data record in "scan DB".</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_NUMBER</td>
</tr>
<tr> <td class=v>combiframeID</td>
 <td class=v><span id=provenance_combiframeid></span>Provenance</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>the UID of the combined frame (=combiframe)</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_FRAME</td>
</tr>
<tr> <td class=v>combiProdType</td>
 <td class=v><span id=productlinks_combiprodtype></span>ProductLinks</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Type (stack,tile,mosaic) of combination frame</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>combiProductID</td>
 <td class=v><span id=productlinks_combiproductid></span>ProductLinks</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Product ID of combination frame</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>comment</td>
 <td class=v><span id=archivecurationhistory_comment></span>ArchiveCurationHistory</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Comment string supplied by the curator</td>
 <td class=v>varchar</td>
 <td class=v>256</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>compFile</td>
 <td class=v><span id=multiframedetector_compfile></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Filename of the compressed image of this image frame, eg. server:/path/filename.jpg</td>
 <td class=v>varchar</td>
 <td class=v>256</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>ID_FILE</td>
</tr>
<tr> <td class=v>conf</td>
 <td class=v><span id=glimpse1_hrc_conf></span><span id=glimpse1_mca_conf></span><span id=glimpse2_hrc_conf></span><span id=glimpse2_mca_conf></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca</td>
 <td class=v>GLIMPSE</td>
 <td class=v>Close source flag</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>conf</td>
 <td class=v><span id=glimpse_hrc_inter_conf></span><span id=glimpse_mca_inter_conf></span>glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>Confusion flag</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>confID</td>
 <td class=v><span id=multiframe_confid></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>UID of library calibration confidence frame {image&nbsp;extension&nbsp;keyword:&nbsp;CIR_CPM}</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>ID_FRAME</td>
</tr>
<tr> <td class=v>confuse_100</td>
 <td class=v><span id=iras_psc_confuse_100></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Confusion flag (100 micron)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>confuse_12</td>
 <td class=v><span id=iras_psc_confuse_12></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Confusion flag (12 micron)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>confuse_25</td>
 <td class=v><span id=iras_psc_confuse_25></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Confusion flag (25 micron)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>confuse_60</td>
 <td class=v><span id=iras_psc_confuse_60></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>Confusion flag (60 micron)</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REMARKS</td>
</tr>
<tr> <td class=v>CONFUSED</td>
 <td class=v><span id=twoxmmi_dr3_v1_0_confused></span>twoxmmi_dr3_v1_0</td>
 <td class=v>XMM</td>
 <td class=v>This flag (True/False) signifies that the 3-sigma error circle of a detection within this unique source overlaps the 3-sigma error circle of a nearby unique source. As such, it is an indicator of possible confusion (uncertainty) about the assignment of detections between sources.</td>
 <td class=v>varchar</td>
 <td class=v>5</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>containerID</td>
 <td class=v><span id=multiframe_containerid></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Scheduling container ID {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO OBS CONTAINER ID}</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>containerType</td>
 <td class=v><span id=multiframe_containertype></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Scheduling container type {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO OBS CONTAINER TYPE}</td>
 <td class=v>varchar</td>
 <td class=v>64</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>contam_flg</td>
 <td class=v><span id=twomass_xsc_contam_flg></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>contamination flag: 0=no stars, 1=stellar flux incl. in mag.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>coord1</td>
 <td class=v><span id=externalsurveytable_coord1></span>ExternalSurveyTable</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The attribute name of the first (longitudinal) spherical co-ordinate, e.g. equatorial RA</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>coord2</td>
 <td class=v><span id=externalsurveytable_coord2></span>ExternalSurveyTable</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The attribute name of the second (latitudinal) spherical co-ordinate, e.g. equatorial Dec</td>
 <td class=v>varchar</td>
 <td class=v>32</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>coreRadius</td>
 <td class=v><span id=multiframedetector_coreradius></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>[pixels] Core radius for default profile fit {catalogue&nbsp;extension&nbsp;keyword:&nbsp; RCORE}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Correl_I</td>
 <td class=v><span id=denisdr3source_correl_i></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Correlation to PSF for I band [0,100]</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Correl_J</td>
 <td class=v><span id=denisdr3source_correl_j></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Correlation to PSF for J band [0,100]</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Correl_K</td>
 <td class=v><span id=denisdr3source_correl_k></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Correlation to PSF for K band [0,100]</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>creationDate</td>
 <td class=v><span id=multiframe_creationdate></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>File creation date (YYYY-MM-DD HH:MM:SS) {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;DATE}</td>
 <td class=v>datetime</td>
 <td class=v>8</td>
 <td class=v>MM-DD-YYYY</td>
 <td class=v>12-31-9999</td>
 <td class=v>TIME_DATE</td>
</tr>
<tr> <td class=v>creationDate</td>
 <td class=v><span id=multiframedetector_creationdate></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Creation date/time of file {image&nbsp;extension&nbsp;keyword:&nbsp;DATE}</td>
 <td class=v>datetime</td>
 <td class=v>8</td>
 <td class=v>MM-DD-YYYY:hh:mm:ss.sss</td>
 <td class=v>12-31-9999</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>crowdedFlag</td>
 <td class=v><span id=multiframedetector_crowdedflag></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Crowded field analysis flag (0 none, 1 active) {catalogue&nbsp;extension&nbsp;keyword:&nbsp; CROWDED}</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>crPixX</td>
 <td class=v><span id=currentastrometry_crpixx></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Pixel coordinate of the reference point on axis 1 {image&nbsp;extension&nbsp;keyword:&nbsp;CRPIX1}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_CCD_X</td>
</tr>
<tr> <td class=v>crPixY</td>
 <td class=v><span id=currentastrometry_crpixy></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Pixel coordinate of the reference point on axis 2 {image&nbsp;extension&nbsp;keyword:&nbsp;CRPIX2}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_CCD_Y</td>
</tr>
<tr> <td class=v>crUnit1</td>
 <td class=v><span id=currentastrometry_crunit1></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Unit of right ascension co-ordinates {image&nbsp;extension&nbsp;keyword:&nbsp;CRUNIT1}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>deg</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>crUnit2</td>
 <td class=v><span id=currentastrometry_crunit2></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Unit of declination co-ordinates {image&nbsp;extension&nbsp;keyword:&nbsp;CRUNIT2}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>deg</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>crValX</td>
 <td class=v><span id=currentastrometry_crvalx></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Coordinate value at reference point on axis 1 {image&nbsp;extension&nbsp;keyword:&nbsp;CRVAL1}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_CCD_X</td>
</tr>
<tr> <td class=v>crValY</td>
 <td class=v><span id=currentastrometry_crvaly></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Coordinate value at reference point on axis 2 {image&nbsp;extension&nbsp;keyword:&nbsp;CRVAL2}</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>POS_CCD_Y</td>
</tr>
<tr> <td class=v>cTypeX</td>
 <td class=v><span id=currentastrometry_ctypex></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>G&C WCS type, eg 'RA---ZPN' {image&nbsp;extension&nbsp;keyword:&nbsp;CTYPE1}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_RA_MAIN</td>
</tr>
<tr> <td class=v>cTypeY</td>
 <td class=v><span id=currentastrometry_ctypey></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>G&C WCS type, eg 'DEC--ZPN' {image&nbsp;extension&nbsp;keyword:&nbsp;CTYPE2}</td>
 <td class=v>varchar</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_DEC_MAIN</td>
</tr>
<tr> <td class=v>cuEventID</td>
 <td class=v><span id=archivecurationhistory_cueventid></span><span id=astrcalvers_cueventid></span><span id=atlasdetection_cueventid></span><span id=atlasmergelog_cueventid></span><span id=atlassource_cueventid></span><span id=currentastrometry_cueventid></span><span id=multiframe_cueventid></span><span id=multiframedetector_cueventid></span><span id=multiframedetectoresokeys_cueventid></span><span id=multiframeesokeys_cueventid></span><span id=photcalvers_cueventid></span><span id=programmecurationhistory_cueventid></span><span id=programmeframe_cueventid></span><span id=provenance_cueventid></span>ArchiveCurationHistory, AstrCalVers, atlasDetection, atlasMergeLog, atlasSource, CurrentAstrometry, Multiframe, MultiframeDetector, MultiframeDetectorEsoKeys, MultiframeEsoKeys, PhotCalVers, ProgrammeCurationHistory, ProgrammeFrame, Provenance</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>UID of curation event giving rise to this record</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REFER_CODE</td>
</tr>
<tr> <td class=v>cuID</td>
 <td class=v><span id=archivecurationhistory_cuid></span><span id=curationtask_cuid></span>ArchiveCurationHistory, CurationTask</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>the unique curation task ID</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>REFER_CODE</td>
</tr>
<tr> <td class=v>curator</td>
 <td class=v><span id=archivecurationhistory_curator></span>ArchiveCurationHistory</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The archive curation scientist responsible for this event</td>
 <td class=v>varchar</td>
 <td class=v>16</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>cutOff</td>
 <td class=v><span id=filter_cutoff></span>Filter</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The 50% cut-off wavelength of the filter</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>microns</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>cutOn</td>
 <td class=v><span id=filter_cuton></span>Filter</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The 50% cut-on wavelength of the filter</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>microns</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>CX</td>
 <td class=v><span id=twoxmm_cx></span><span id=twoxmm_v1_2_cx></span><span id=twoxmmi_dr3_v1_0_cx></span>twoxmm, twoxmm_v1_2, twoxmmi_dr3_v1_0</td>
 <td class=v>XMM</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=currentastrometry_cx></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>unit vector of spherical co-ordinates of device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=atlasdetection_cx></span><span id=atlasmergelog_cx></span><span id=atlassource_cx></span>atlasDetection, atlasMergeLog, atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=denisdr3source_cx></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=first08jul16source_cx></span><span id=firstsource_cx></span><span id=firstsource12feb16_cx></span>first08Jul16Source, firstSource, firstSource12Feb16</td>
 <td class=v>FIRST</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=glimpse1_hrc_cx></span><span id=glimpse1_mca_cx></span><span id=glimpse2_hrc_cx></span><span id=glimpse2_mca_cx></span><span id=glimpse_hrc_inter_cx></span><span id=glimpse_mca_inter_cx></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca, glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=iras_psc_cx></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=mgcdetection_cx></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=nvsssource_cx></span>nvssSource</td>
 <td class=v>NVSS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=rosat_bsc_cx></span><span id=rosat_fsc_cx></span>rosat_bsc, rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=twomass_psc_cx></span><span id=twomass_scn_cx></span><span id=twomass_sixx2_psc_cx></span><span id=twomass_sixx2_scn_cx></span><span id=twomass_sixx2_xsc_cx></span><span id=twomass_xsc_cx></span>twomass_psc, twomass_scn, twomass_sixx2_psc, twomass_sixx2_scn, twomass_sixx2_xsc, twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>cx</td>
 <td class=v><span id=wise_allskysc_cx></span><span id=wise_prelimsc_cx></span>wise_allskysc, wise_prelimsc</td>
 <td class=v>WISE</td>
 <td class=v>unit vector of spherical co-ordinates (similar to x in IPAC IRSA schema, but recomputed)</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_X</td>
</tr>
<tr> <td class=v>CY</td>
 <td class=v><span id=twoxmm_cy></span><span id=twoxmm_v1_2_cy></span><span id=twoxmmi_dr3_v1_0_cy></span>twoxmm, twoxmm_v1_2, twoxmmi_dr3_v1_0</td>
 <td class=v>XMM</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=currentastrometry_cy></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>unit vector of spherical co-ordinates of device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=atlasdetection_cy></span><span id=atlasmergelog_cy></span><span id=atlassource_cy></span>atlasDetection, atlasMergeLog, atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=denisdr3source_cy></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=first08jul16source_cy></span><span id=firstsource_cy></span><span id=firstsource12feb16_cy></span>first08Jul16Source, firstSource, firstSource12Feb16</td>
 <td class=v>FIRST</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=glimpse1_hrc_cy></span><span id=glimpse1_mca_cy></span><span id=glimpse2_hrc_cy></span><span id=glimpse2_mca_cy></span><span id=glimpse_hrc_inter_cy></span><span id=glimpse_mca_inter_cy></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca, glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=iras_psc_cy></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=mgcdetection_cy></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=nvsssource_cy></span>nvssSource</td>
 <td class=v>NVSS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=rosat_bsc_cy></span><span id=rosat_fsc_cy></span>rosat_bsc, rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=twomass_psc_cy></span><span id=twomass_scn_cy></span><span id=twomass_sixx2_psc_cy></span><span id=twomass_sixx2_scn_cy></span><span id=twomass_sixx2_xsc_cy></span><span id=twomass_xsc_cy></span>twomass_psc, twomass_scn, twomass_sixx2_psc, twomass_sixx2_scn, twomass_sixx2_xsc, twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>cy</td>
 <td class=v><span id=wise_allskysc_cy></span><span id=wise_prelimsc_cy></span>wise_allskysc, wise_prelimsc</td>
 <td class=v>WISE</td>
 <td class=v>unit vector of spherical co-ordinates (similar to y in IPAC IRSA schema, but recomputed)</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Y</td>
</tr>
<tr> <td class=v>CZ</td>
 <td class=v><span id=twoxmm_cz></span><span id=twoxmm_v1_2_cz></span><span id=twoxmmi_dr3_v1_0_cz></span>twoxmm, twoxmm_v1_2, twoxmmi_dr3_v1_0</td>
 <td class=v>XMM</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=currentastrometry_cz></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>unit vector of spherical co-ordinates of device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=atlasdetection_cz></span><span id=atlasmergelog_cz></span><span id=atlassource_cz></span>atlasDetection, atlasMergeLog, atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=denisdr3source_cz></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=first08jul16source_cz></span><span id=firstsource_cz></span><span id=firstsource12feb16_cz></span>first08Jul16Source, firstSource, firstSource12Feb16</td>
 <td class=v>FIRST</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=glimpse1_hrc_cz></span><span id=glimpse1_mca_cz></span><span id=glimpse2_hrc_cz></span><span id=glimpse2_mca_cz></span><span id=glimpse_hrc_inter_cz></span><span id=glimpse_mca_inter_cz></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca, glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=iras_psc_cz></span>iras_psc</td>
 <td class=v>IRAS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=mgcdetection_cz></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=nvsssource_cz></span>nvssSource</td>
 <td class=v>NVSS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=rosat_bsc_cz></span><span id=rosat_fsc_cz></span>rosat_bsc, rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=twomass_psc_cz></span><span id=twomass_scn_cz></span><span id=twomass_sixx2_psc_cz></span><span id=twomass_sixx2_scn_cz></span><span id=twomass_sixx2_xsc_cz></span><span id=twomass_xsc_cz></span>twomass_psc, twomass_scn, twomass_sixx2_psc, twomass_sixx2_scn, twomass_sixx2_xsc, twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>unit vector of spherical co-ordinates</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
<tr> <td class=v>cz</td>
 <td class=v><span id=wise_allskysc_cz></span><span id=wise_prelimsc_cz></span>wise_allskysc, wise_prelimsc</td>
 <td class=v>WISE</td>
 <td class=v>unit vector of spherical co-ordinates (similar to z in IPAC IRSA schema, but recomputed)</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_EQ_Z</td>
</tr>
</table>
</table>
</table>
</table>
</table>
</table>
