<p><TABLE border=0 bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<tr><th class='h' width='600'><h3> Glossary of OSA attributes </h3></th></tr>
<tr><th class='h'><h5>This Glossary alphabetically lists all attributes used in the <a href="osa_browser.html">OSAv20130304</a> database(s) held in the OSA. If you would like to have more information about the schema tables please use the <a href="osa_browser.html">OSAv20130304</a> <a href='osa_browser.html' title="this Browser version">Schema Browser</a>.</h5></th></tr>
</TABLE>
<table border='1' bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<colgroup width='38' span='13'>
</colgroup>
<tr>
 <td class='h' align='center'><a href='gloss_a.html'>A</a></td>
 <td class='h' align='center'><a href='gloss_b.html'>B</a></td>
 <td class='h' align='center'><a href='gloss_c.html'>C</a></td>
 <td class='h' align='center'><a href='gloss_d.html'>D</a></td>
 <td class='h' align='center'><a href='gloss_e.html'>E</a></td>
 <td class='h' align='center'><a href='gloss_f.html'>F</a></td>
 <td class='h' align='center'><a href='gloss_g.html'>G</a></td>
 <td class='h' align='center'><a href='gloss_h.html'>H</a></td>
 <td class='h' align='center'><a href='gloss_i.html'>I</a></td>
 <td class='h' align='center'><a href='gloss_j.html'>J</a></td>
 <td class='h' align='center'><a href='gloss_k.html'>K</a></td>
 <td class='h' align='center'><a href='gloss_l.html'>L</a></td>
 <td class='h' align='center'><a href='gloss_m.html'>M</a></td>
</tr><tr>
 <td class='h' align='center'><a href='gloss_n.html'>N</a></td>
 <td class='h' align='center'><a href='gloss_o.html'>O</a></td>
 <td class='h' align='center'><a href='gloss_p.html'>P</a></td>
 <td class='h' align='center'><a href='gloss_q.html'>Q</a></td>
 <td class='h' align='center'><a href='gloss_r.html'>R</a></td>
 <td class='h' align='center'><a href='gloss_s.html'>S</a></td>
 <td class='h' align='center'><a href='gloss_t.html'>T</a></td>
 <td class='h' align='center'><a href='gloss_u.html'>U</a></td>
 <td class='h' align='center'><a href='gloss_v.html'>V</a></td>
 <td class='h' align='center'><a href='gloss_w.html'>W</a></td>
 <td class='h' align='center'><a href='gloss_x.html'>X</a></td>
 <td class='h' align='center'><a href='gloss_y.html'>Y</a></td>
 <td class='h' align='center'><a href='gloss_z.html'>Z</a></td>
</tr>
</table><p>

<TABLE border=0 bgcolor=#888888 width='1200' cellspacing=3 cellpadding=3>
<colgroup width='1300'><col width='10%'><col width='10%'><col width='5%'><col width='35%'><col width='5%'><col width='5%'><col width='10%'><col width='10%'><col width='10%'></colgroup>
<tr><th class='h' colspan='9'><h3>A</h3></th></tr>
<tr><th class='h'>Name</th><th class='h'>Schema Table</th><th class='h'>Database</th><th class='h'>Description</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr> <td class=v>a</td>
 <td class=v><span id=twomass_psc_a></span>twomass_psc</td>
 <td class=v>2MASS</td>
 <td class=v>Catalog identifier of an optical source from either the Tycho 2 or USNO-A2.0 catalog that falls within ~5" of the TWOMASS source position.</td>
 <td class=v>varchar</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>ID_ALTERNATIVE</td>
</tr>
<tr> <td class=v>A1</td>
 <td class=v><span id=mgcgalaxystruct_a1></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Asymmetry index (background corrected) alpha=1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>A2</td>
 <td class=v><span id=mgcgalaxystruct_a2></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Asymmetry index (background corrected) alpha=2</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>A3</td>
 <td class=v><span id=mgcgalaxystruct_a3></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Asymmetry index (background corrected) alpha=3</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>A4</td>
 <td class=v><span id=mgcgalaxystruct_a4></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Asymmetry index (background corrected) alpha=4</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>A_IMAGE</td>
 <td class=v><span id=mgcdetection_a_image></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Flux rms along major axis</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixel</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>abMagLim</td>
 <td class=v><span id=multiframedetector_abmaglim></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>5-sigma limiting AB magnitude for point sources {catalogue&nbsp;extension&nbsp;keyword:&nbsp; ABMAGLIM}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_CSB_BULGE</td>
 <td class=v><span id=mgcgalaxystruct_abs_csb_bulge></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Absolute Central Surface Brightness of Bulge</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag/sq arcsec</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_CSB_DISK</td>
 <td class=v><span id=mgcgalaxystruct_abs_csb_disk></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Absolute Central Surface Brightness of Disk</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag/sq arcsec</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_ESB_BULGE</td>
 <td class=v><span id=mgcgalaxystruct_abs_esb_bulge></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Absolute Effective Surface Brightness of Bulge</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag/sq arcsec</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_ESB_DISK</td>
 <td class=v><span id=mgcgalaxystruct_abs_esb_disk></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Absolute Effective Surface Brightness of Disk</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag/sq arcsec</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_HLRSB_BULG</td>
 <td class=v><span id=mgcgalaxystruct_abs_hlrsb_bulg></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Absolute Surface Brightness at Re</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag/sq arcsec</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_HLRSB_DISK</td>
 <td class=v><span id=mgcgalaxystruct_abs_hlrsb_disk></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Absolute Surface Brightness at 1.678alpha</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag/sq arcsec</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_MAG_GIM2D</td>
 <td class=v><span id=mgcgalaxystruct_abs_mag_gim2d></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>GIM2D B Absolute Disk mag, dust and K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_MAG_GIM2DB</td>
 <td class=v><span id=mgcgalaxystruct_abs_mag_gim2db></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>GIM2D B Absolute mag, dust and K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_MAG_GIM2DD</td>
 <td class=v><span id=mgcgalaxystruct_abs_mag_gim2dd></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>GIM2D B Absolute Bulge mag, dust and K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_SB_B</td>
 <td class=v><span id=mgcgalaxystruct_abs_sb_b></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>MGC B Absolute KRON SB, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_SB_g</td>
 <td class=v><span id=mgcgalaxystruct_abs_sb_g></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS g Absolute PET SB, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_SB_i</td>
 <td class=v><span id=mgcgalaxystruct_abs_sb_i></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS i Absolute PET SB, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_SB_r</td>
 <td class=v><span id=mgcgalaxystruct_abs_sb_r></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS r Absolute PET SB, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_SB_u</td>
 <td class=v><span id=mgcgalaxystruct_abs_sb_u></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS u Absolute PET SB, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ABS_SB_z</td>
 <td class=v><span id=mgcgalaxystruct_abs_sb_z></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS z Absolute PET SB, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>abSatMag</td>
 <td class=v><span id=multiframedetector_absatmag></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Saturation limit for point sources (AB magnitude) {catalogue&nbsp;extension&nbsp;keyword:&nbsp; ABMAGSAT}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPsf_g</td>
 <td class=v><span id=mgcgalaxystruct_absmagpsf_g></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS g Absolute PSF mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPsf_i</td>
 <td class=v><span id=mgcgalaxystruct_absmagpsf_i></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS i Absolute PSF mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPsf_r</td>
 <td class=v><span id=mgcgalaxystruct_absmagpsf_r></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS r Absolute PSF mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPsf_u</td>
 <td class=v><span id=mgcgalaxystruct_absmagpsf_u></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS u Absolute PSF mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPsf_z</td>
 <td class=v><span id=mgcgalaxystruct_absmagpsf_z></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS z Absolute PSF mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPt_B</td>
 <td class=v><span id=mgcgalaxystruct_absmagpt_b></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>MGC B Absolute KRON mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPt_g</td>
 <td class=v><span id=mgcgalaxystruct_absmagpt_g></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS g Absolute PET mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPt_i</td>
 <td class=v><span id=mgcgalaxystruct_absmagpt_i></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS i Absolute PET mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPt_r</td>
 <td class=v><span id=mgcgalaxystruct_absmagpt_r></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS r Absolute PET mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPt_u</td>
 <td class=v><span id=mgcgalaxystruct_absmagpt_u></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS u Absolute PET mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>absMagPt_z</td>
 <td class=v><span id=mgcgalaxystruct_absmagpt_z></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>SDSS z Absolute PET mag, dust K & E-corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>AB mag</td>
 <td class=v>-99.000</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>adaAbsrotEnd</td>
 <td class=v><span id=multiframeesokeys_adaabsrotend></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Abs rot angle at exp end {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO ADA ABSROT END}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>deg</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>adaAbsrotPpos</td>
 <td class=v><span id=multiframeesokeys_adaabsrotppos></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>sign of probe position {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO ADA ABSROT PPOS}</td>
 <td class=v>varchar</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>adaAbsrotStart</td>
 <td class=v><span id=multiframeesokeys_adaabsrotstart></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Abs rot angle at exp start {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO ADA ABSROT START}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>deg</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>adaGuidStatus</td>
 <td class=v><span id=multiframeesokeys_adaguidstatus></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Status of autoguider {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO ADA GUID STATUS}</td>
 <td class=v>varchar</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>adaPosang</td>
 <td class=v><span id=multiframeesokeys_adaposang></span>MultiframeEsoKeys</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Position angle at start {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO ADA POSANG}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>adjacentFrameTolerance</td>
 <td class=v><span id=programme_adjacentframetolerance></span>Programme</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The match tolerance for adjacent frames in the survey</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aebv</td>
 <td class=v><span id=filter_aebv></span>Filter</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The constant to multiply the Schlegel map E(B-V) by to get the total galactic extinction.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>aG</td>
 <td class=v><span id=atlassource_ag></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The galactic extinction correction in the G band for extragalactic objects</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>aI</td>
 <td class=v><span id=atlassource_ai></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The galactic extinction correction in the I band for extragalactic objects</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>air_temp</td>
 <td class=v><span id=twomass_scn_air_temp></span>twomass_scn</td>
 <td class=v>2MASS</td>
 <td class=v>Air temperature at beginning of scan.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>degC</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHYS_TEMP_MISC</td>
</tr>
<tr> <td class=v>air_temp</td>
 <td class=v><span id=twomass_sixx2_scn_air_temp></span>twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>air temperature (deg C) at beginning of scan</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>degC</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>airm</td>
 <td class=v><span id=twomass_scn_airm></span>twomass_scn</td>
 <td class=v>2MASS</td>
 <td class=v>Airmass at beginning of scan.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_ATM_AIRMASS</td>
</tr>
<tr> <td class=v>airm</td>
 <td class=v><span id=twomass_sixx2_scn_airm></span>twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>beginning airmass of scan</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>amEnd</td>
 <td class=v><span id=multiframe_amend></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Airmass at end of observation {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO TEL AIRM END}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_ATM_AIRMASS</td>
</tr>
<tr> <td class=v>amStart</td>
 <td class=v><span id=multiframe_amstart></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Airmass at start of observation {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;HIERARCH ESO TEL AIRM START}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_ATM_AIRMASS</td>
</tr>
<tr> <td class=v>ANCHOR_PARITY</td>
 <td class=v><span id=mgcgalaxystruct_anchor_parity></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>0=OK, 1=Inverted, 2=LSB BULGE</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>9 (FIX)</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ANCHOR_POINT</td>
 <td class=v><span id=mgcgalaxystruct_anchor_point></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Radius at which MU_BULGE=MU_DISK</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>kpc</td>
 <td class=v>9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>ANCHOR_SB</td>
 <td class=v><span id=mgcgalaxystruct_anchor_sb></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Surface brightness at Anchor Point</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>Vega mag/sq arcsec</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>anom</td>
 <td class=v><span id=twomass_scn_anom></span>twomass_scn</td>
 <td class=v>2MASS</td>
 <td class=v>Special flag indicating whether or not an unusual problem was found in the Atlas Images for this scan.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>anom</td>
 <td class=v><span id=twomass_sixx2_scn_anom></span>twomass_sixx2_scn</td>
 <td class=v>2MASS</td>
 <td class=v>entry in coadd anomaly table (0:not found|1:found)</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap35mag_I</td>
 <td class=v><span id=denisdr3source_ap35mag_i></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in I band from 3.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap35mag_J</td>
 <td class=v><span id=denisdr3source_ap35mag_j></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in J band from 3.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap35mag_K</td>
 <td class=v><span id=denisdr3source_ap35mag_k></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in K band from 3.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap45mag_I</td>
 <td class=v><span id=denisdr3source_ap45mag_i></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in I band from 4.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap45mag_J</td>
 <td class=v><span id=denisdr3source_ap45mag_j></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in J band from 4.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap45mag_K</td>
 <td class=v><span id=denisdr3source_ap45mag_k></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in K band from 4.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap55mag_I</td>
 <td class=v><span id=denisdr3source_ap55mag_i></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in I band from 5.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap55mag_J</td>
 <td class=v><span id=denisdr3source_ap55mag_j></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in J band from 5.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Ap55mag_K</td>
 <td class=v><span id=denisdr3source_ap55mag_k></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>Magnitude in K band from 5.5" aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc15mag_I</td>
 <td class=v><span id=denisdr3source_apc15mag_i></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>I band Magnitude in 1.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc15mag_J</td>
 <td class=v><span id=denisdr3source_apc15mag_j></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>J band Magnitude in 1.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc15mag_K</td>
 <td class=v><span id=denisdr3source_apc15mag_k></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>K band Magnitude in 1.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc25mag_I</td>
 <td class=v><span id=denisdr3source_apc25mag_i></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>I band Magnitude in 2.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc25mag_J</td>
 <td class=v><span id=denisdr3source_apc25mag_j></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>J band Magnitude in 2.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc25mag_K</td>
 <td class=v><span id=denisdr3source_apc25mag_k></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>K band Magnitude in 2.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc35mag_I</td>
 <td class=v><span id=denisdr3source_apc35mag_i></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>I band Magnitude in 3.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc35mag_J</td>
 <td class=v><span id=denisdr3source_apc35mag_j></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>J band Magnitude in 3.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>Apc35mag_K</td>
 <td class=v><span id=denisdr3source_apc35mag_k></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>K band Magnitude in 3.5" corr. aperture</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>aperCor1</td>
 <td class=v><span id=multiframedetector_apercor1></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: 1&#8260;2 &#215; core flux {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCOR1}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperCor2</td>
 <td class=v><span id=multiframedetector_apercor2></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: 1&#8260;&#8730;2 core flux {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCOR2}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperCor3</td>
 <td class=v><span id=multiframedetector_apercor3></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: core flux {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCOR3}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperCor4</td>
 <td class=v><span id=multiframedetector_apercor4></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: &#8730;2 &#215; core flux {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCOR4}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperCor5</td>
 <td class=v><span id=multiframedetector_apercor5></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: 2 &#215; core flux {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCOR5}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperCor6</td>
 <td class=v><span id=multiframedetector_apercor6></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: 2&#8730;2 &#215; core flux {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCOR6}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperCor7</td>
 <td class=v><span id=multiframedetector_apercor7></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: 4 &#215; core flux {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCOR7}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperCorPeak</td>
 <td class=v><span id=multiframedetector_apercorpeak></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Stellar aperture correction: peak height {catalogue&nbsp;extension&nbsp;keyword:&nbsp; APCORPK}<br> corrected photometry = 2.5&#215;log<sub>10</sub>(flux) + aperCor + skyCorr</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aperFlux1</td>
 <td class=v><span id=atlasdetection_aperflux1></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Default aperture flux counts 1 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_1}<br> 1/2 &#215; rcore</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux10</td>
 <td class=v><span id=atlasdetection_aperflux10></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 10 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_10}<br> 7 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux10err</td>
 <td class=v><span id=atlasdetection_aperflux10err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 10 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_10_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux11</td>
 <td class=v><span id=atlasdetection_aperflux11></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 11 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_11}<br> 8 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux11err</td>
 <td class=v><span id=atlasdetection_aperflux11err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 11 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_11_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux12</td>
 <td class=v><span id=atlasdetection_aperflux12></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 12 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_12}<br> 10 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux12err</td>
 <td class=v><span id=atlasdetection_aperflux12err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 12 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_12_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux13</td>
 <td class=v><span id=atlasdetection_aperflux13></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 13 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_13}<br> 12 &#215; rcore ie. &#8776;24 arcsec diameter. (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux13err</td>
 <td class=v><span id=atlasdetection_aperflux13err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 13 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_13_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux1err</td>
 <td class=v><span id=atlasdetection_aperflux1err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux counts 1 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_1_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux2</td>
 <td class=v><span id=atlasdetection_aperflux2></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Default aperture flux 2 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_2}<br> 1/&#8730;2 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux2err</td>
 <td class=v><span id=atlasdetection_aperflux2err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 2 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_2_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux3</td>
 <td class=v><span id=atlasdetection_aperflux3></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 3 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_3}<br> rcore; recommended if a single number is required to represent the flux for ALL images. (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux3err</td>
 <td class=v><span id=atlasdetection_aperflux3err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 3 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_3_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux4</td>
 <td class=v><span id=atlasdetection_aperflux4></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 4 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_4}<br> &#8730;2 &#215; rcore; ensures &#8764;99% of PSF flux. (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux4err</td>
 <td class=v><span id=atlasdetection_aperflux4err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 4 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_4_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux5</td>
 <td class=v><span id=atlasdetection_aperflux5></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 5 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_5}<br> 2 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux5err</td>
 <td class=v><span id=atlasdetection_aperflux5err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 5 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_5_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux6</td>
 <td class=v><span id=atlasdetection_aperflux6></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 6 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_6}<br> 2&#8730;2 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux6err</td>
 <td class=v><span id=atlasdetection_aperflux6err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 6 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_6_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux7</td>
 <td class=v><span id=atlasdetection_aperflux7></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 7 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_7}<br> 4 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux7err</td>
 <td class=v><span id=atlasdetection_aperflux7err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 7 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_7_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux8</td>
 <td class=v><span id=atlasdetection_aperflux8></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 8 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_8}<br> 5 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux8err</td>
 <td class=v><span id=atlasdetection_aperflux8err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 8 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_8_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperFlux9</td>
 <td class=v><span id=atlasdetection_aperflux9></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>default aperture flux 9 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_9}<br> 6 &#215; rcore (see glossary entry for aperFlux1)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INTENSITY_ADU</td>
</tr>
<tr> <td class=v>aperFlux9err</td>
 <td class=v><span id=atlasdetection_aperflux9err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in aperture flux 9 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Aper_flux_9_err}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>ADU</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag1</td>
 <td class=v><span id=atlasdetection_apermag1></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag10</td>
 <td class=v><span id=atlasdetection_apermag10></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 10. No aperture correction applied since it is 0.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag10err</td>
 <td class=v><span id=atlasdetection_apermag10err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 10</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag11</td>
 <td class=v><span id=atlasdetection_apermag11></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 11. No aperture correction applied since it is 0.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag11err</td>
 <td class=v><span id=atlasdetection_apermag11err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 11</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag12</td>
 <td class=v><span id=atlasdetection_apermag12></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 12. No aperture correction applied since it is 0.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag12err</td>
 <td class=v><span id=atlasdetection_apermag12err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 12</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag13</td>
 <td class=v><span id=atlasdetection_apermag13></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 13. No aperture correction applied since it is 0.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag13err</td>
 <td class=v><span id=atlasdetection_apermag13err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 13</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag1err</td>
 <td class=v><span id=atlasdetection_apermag1err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag2</td>
 <td class=v><span id=atlasdetection_apermag2></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 2</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag2err</td>
 <td class=v><span id=atlasdetection_apermag2err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 2</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag3</td>
 <td class=v><span id=atlasdetection_apermag3></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 3. aperMag3 has also a saturation correction applied for saturated stars.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag3err</td>
 <td class=v><span id=atlasdetection_apermag3err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 3</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag4</td>
 <td class=v><span id=atlasdetection_apermag4></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 4</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag4err</td>
 <td class=v><span id=atlasdetection_apermag4err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 4</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag5</td>
 <td class=v><span id=atlasdetection_apermag5></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 5</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag5err</td>
 <td class=v><span id=atlasdetection_apermag5err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 5</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag6</td>
 <td class=v><span id=atlasdetection_apermag6></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 6</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag6err</td>
 <td class=v><span id=atlasdetection_apermag6err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 6</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag7</td>
 <td class=v><span id=atlasdetection_apermag7></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 7</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag7err</td>
 <td class=v><span id=atlasdetection_apermag7err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 7</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag8</td>
 <td class=v><span id=atlasdetection_apermag8></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 8. No aperture correction applied since it is 0.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag8err</td>
 <td class=v><span id=atlasdetection_apermag8err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 8</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMag9</td>
 <td class=v><span id=atlasdetection_apermag9></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and corrected aperture magnitude 9. No aperture correction applied since it is 0.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMag9err</td>
 <td class=v><span id=atlasdetection_apermag9err></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Error in calibrated aperture magnitude 9</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>aperMagNoAperCorr1</td>
 <td class=v><span id=atlasdetection_apermagnoapercorr1></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and standard corrected (but no aperture correction applied) aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMagNoAperCorr2</td>
 <td class=v><span id=atlasdetection_apermagnoapercorr2></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and standard corrected (but no aperture correction applied) aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMagNoAperCorr3</td>
 <td class=v><span id=atlasdetection_apermagnoapercorr3></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and standard corrected (but no aperture correction applied) aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMagNoAperCorr4</td>
 <td class=v><span id=atlasdetection_apermagnoapercorr4></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and standard corrected (but no aperture correction applied) aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMagNoAperCorr5</td>
 <td class=v><span id=atlasdetection_apermagnoapercorr5></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and standard corrected (but no aperture correction applied) aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMagNoAperCorr6</td>
 <td class=v><span id=atlasdetection_apermagnoapercorr6></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and standard corrected (but no aperture correction applied) aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperMagNoAperCorr7</td>
 <td class=v><span id=atlasdetection_apermagnoapercorr7></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Calibrated and standard corrected (but no aperture correction applied) aperture magnitude 1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>aperture</td>
 <td class=v><span id=requiredlistdrivenproduct_aperture></span>RequiredListDrivenProduct</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>CASU list-driven photometry tool option specifying the fixed radius to be used for photometry</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>??</td>
</tr>
<tr> <td class=v>aProf1</td>
 <td class=v><span id=atlasdetection_aprof1></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 1 (can be non-integer for deblends) {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_1_profile}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aProf2</td>
 <td class=v><span id=atlasdetection_aprof2></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 2 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_2_profile}<br> (see glossary entry for aProf1)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aProf3</td>
 <td class=v><span id=atlasdetection_aprof3></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 3 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_3_profile}<br> (see glossary entry for aProf1)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aProf4</td>
 <td class=v><span id=atlasdetection_aprof4></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 4 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_4_profile}<br> (see glossary entry for aProf1)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aProf5</td>
 <td class=v><span id=atlasdetection_aprof5></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 5 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_5_profile}<br> (see glossary entry for aProf1)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aProf6</td>
 <td class=v><span id=atlasdetection_aprof6></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 6 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_6_profile}<br> (see glossary entry for aProf1)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aProf7</td>
 <td class=v><span id=atlasdetection_aprof7></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 7 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_7_profile}<br> (see glossary entry for aProf1)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aProf8</td>
 <td class=v><span id=atlasdetection_aprof8></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>No. of pixels above rethreshold 8 {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Areal_8_profile}<br> (see glossary entry for aProf1)</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>pixels</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aR</td>
 <td class=v><span id=atlassource_ar></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The galactic extinction correction in the R band for extragalactic objects</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>arcfile</td>
 <td class=v><span id=multiframe_arcfile></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Archive File Name {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;ARCFILE}</td>
 <td class=v>varchar</td>
 <td class=v>64</td>
 <td class=v>&nbsp;</td>
 <td class=v>NONE</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>aU</td>
 <td class=v><span id=atlassource_au></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The galactic extinction correction in the U band for extragalactic objects</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>averageConf</td>
 <td class=v><span id=atlasdetection_averageconf></span>atlasDetection</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The average confidence level in the default 2 arcsec diameter aperture (aper3). {catalogue&nbsp;TType&nbsp;keyword:&nbsp;Av_conf}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>avSaturLevel</td>
 <td class=v><span id=multiframedetector_avsaturlevel></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Average saturation level in frame {catalogue&nbsp;extension&nbsp;keyword:&nbsp; SATURATE}</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-9.999995e+08</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>avStellarEll</td>
 <td class=v><span id=multiframedetector_avstellarell></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Average stellar ellipticity (1-b/a) {catalogue&nbsp;extension&nbsp;keyword:&nbsp; ELLIPTIC}<br> Should not average much above 0.15 for "normal" frames</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHYS_ELLIPTICITY</td>
</tr>
<tr> <td class=v>axis1Length</td>
 <td class=v><span id=multiframedetector_axis1length></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>length of data axis 1 (X-axis size) {image&nbsp;extension&nbsp;keyword:&nbsp;(Z)NAXIS1}</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>axis2Length</td>
 <td class=v><span id=multiframedetector_axis2length></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>length of data axis 2 (Y-axis size) {image&nbsp;extension&nbsp;keyword:&nbsp;(Z)NAXIS2}</td>
 <td class=v>int</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>aZ</td>
 <td class=v><span id=atlassource_az></span>atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>The galactic extinction correction in the Z band for extragalactic objects</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
</table>
</table>
</table>
</table>
</table>
</table>
