<p><TABLE border=0 bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<tr><th class='h' width='600'><h3> Glossary of OSA attributes </h3></th></tr>
<tr><th class='h'><h5>This Glossary alphabetically lists all attributes used in the <a href="osa_browser.html">OSAv20130304</a> database(s) held in the OSA. If you would like to have more information about the schema tables please use the <a href="osa_browser.html">OSAv20130304</a> <a href='osa_browser.html' title="this Browser version">Schema Browser</a>.</h5></th></tr>
</TABLE>
<table border='1' bgcolor=#888888 width='600' cellspacing=3 cellpadding=3 align='center'>
<colgroup width='38' span='13'>
</colgroup>
<tr>
 <td class='h' align='center'><a href='gloss_a.html'>A</a></td>
 <td class='h' align='center'><a href='gloss_b.html'>B</a></td>
 <td class='h' align='center'><a href='gloss_c.html'>C</a></td>
 <td class='h' align='center'><a href='gloss_d.html'>D</a></td>
 <td class='h' align='center'><a href='gloss_e.html'>E</a></td>
 <td class='h' align='center'><a href='gloss_f.html'>F</a></td>
 <td class='h' align='center'><a href='gloss_g.html'>G</a></td>
 <td class='h' align='center'><a href='gloss_h.html'>H</a></td>
 <td class='h' align='center'><a href='gloss_i.html'>I</a></td>
 <td class='h' align='center'><a href='gloss_j.html'>J</a></td>
 <td class='h' align='center'><a href='gloss_k.html'>K</a></td>
 <td class='h' align='center'><a href='gloss_l.html'>L</a></td>
 <td class='h' align='center'><a href='gloss_m.html'>M</a></td>
</tr><tr>
 <td class='h' align='center'><a href='gloss_n.html'>N</a></td>
 <td class='h' align='center'><a href='gloss_o.html'>O</a></td>
 <td class='h' align='center'><a href='gloss_p.html'>P</a></td>
 <td class='h' align='center'><a href='gloss_q.html'>Q</a></td>
 <td class='h' align='center'><a href='gloss_r.html'>R</a></td>
 <td class='h' align='center'><a href='gloss_s.html'>S</a></td>
 <td class='h' align='center'><a href='gloss_t.html'>T</a></td>
 <td class='h' align='center'><a href='gloss_u.html'>U</a></td>
 <td class='h' align='center'><a href='gloss_v.html'>V</a></td>
 <td class='h' align='center'><a href='gloss_w.html'>W</a></td>
 <td class='h' align='center'><a href='gloss_x.html'>X</a></td>
 <td class='h' align='center'><a href='gloss_y.html'>Y</a></td>
 <td class='h' align='center'><a href='gloss_z.html'>Z</a></td>
</tr>
</table><p>

<TABLE border=0 bgcolor=#888888 width='1200' cellspacing=3 cellpadding=3>
<colgroup width='1300'><col width='10%'><col width='10%'><col width='5%'><col width='35%'><col width='5%'><col width='5%'><col width='10%'><col width='10%'><col width='10%'></colgroup>
<tr><th class='h' colspan='9'><h3>B</h3></th></tr>
<tr><th class='h'>Name</th><th class='h'>Schema Table</th><th class='h'>Database</th><th class='h'>Description</th><th class='h'>Type</th><th class='h'>Length</th><th class='h'>Unit</th><th class='h'>Default Value</th><th class='h'>Unified Content Descriptor</th></tr>
<tr> <td class=v>b</td>
 <td class=v><span id=currentastrometry_b></span>CurrentAstrometry</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Galactic latitude of device centre</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_GAL_LAT</td>
</tr>
<tr> <td class=v>b</td>
 <td class=v><span id=atlasdetection_b></span><span id=atlassource_b></span>atlasDetection, atlasSource</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Galactic latitude</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>Degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_GAL_LAT</td>
</tr>
<tr> <td class=v>b</td>
 <td class=v><span id=glimpse1_hrc_b></span><span id=glimpse1_mca_b></span><span id=glimpse2_hrc_b></span><span id=glimpse2_mca_b></span><span id=glimpse_hrc_inter_b></span><span id=glimpse_mca_inter_b></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca, glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>Galactic latitude</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>POS_GAL_LAT</td>
</tr>
<tr> <td class=v>B1</td>
 <td class=v><span id=mgcgalaxystruct_b1></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Background correction applied to A1</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>B2</td>
 <td class=v><span id=mgcgalaxystruct_b2></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Background correction applied to A2</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>B3</td>
 <td class=v><span id=mgcgalaxystruct_b3></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Background correction applied to A3</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>B4</td>
 <td class=v><span id=mgcgalaxystruct_b4></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Background correction applied to A4</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>b_err</td>
 <td class=v><span id=glimpse1_hrc_b_err></span><span id=glimpse1_mca_b_err></span><span id=glimpse2_hrc_b_err></span><span id=glimpse2_mca_b_err></span><span id=glimpse_hrc_inter_b_err></span><span id=glimpse_mca_inter_b_err></span>glimpse1_hrc, glimpse1_mca, glimpse2_hrc, glimpse2_mca, glimpse_hrc_inter, glimpse_mca_inter</td>
 <td class=v>GLIMPSE</td>
 <td class=v>Error in Galactic latitude</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>arcsec</td>
 <td class=v>&nbsp;</td>
 <td class=v>ERROR</td>
</tr>
<tr> <td class=v>B_IMAGE</td>
 <td class=v><span id=mgcdetection_b_image></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Flux rms along minor axis</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>pixel</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>b_m_opt</td>
 <td class=v><span id=twomass_psc_b_m_opt></span>twomass_psc</td>
 <td class=v>2MASS</td>
 <td class=v>Blue magnitude of associated optical source.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>SPECT_FLUX_VALUE</td>
</tr>
<tr> <td class=v>B_MGC</td>
 <td class=v><span id=mgcdetection_b_mgc></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Best of MAG_AUTO and MAG_ISOCOR</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>B_MGC_DC</td>
 <td class=v><span id=mgcdetection_b_mgc_dc></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>B_MGC corrected for extinction</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BACK</td>
 <td class=v><span id=mgcgalaxystruct_back></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Background Level (digital units)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BACKGRND</td>
 <td class=v><span id=mgcdetection_backgrnd></span>mgcDetection</td>
 <td class=v>MGC</td>
 <td class=v>Background at object position</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>count</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BACKm</td>
 <td class=v><span id=mgcgalaxystruct_backm></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Background Level error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BACKp</td>
 <td class=v><span id=mgcgalaxystruct_backp></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Background Level error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>bandMergingCriterion</td>
 <td class=v><span id=programme_bandmergingcriterion></span>Programme</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>maximum timespan over which different filters are merged into sources in the synoptic source table.</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>minutes</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BBDWEIGHT</td>
 <td class=v><span id=mgcgalaxystruct_bbdweight></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Weight from MGC4 BBD</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BBDWEIGHTERR</td>
 <td class=v><span id=mgcgalaxystruct_bbdweighterr></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Error in weight from MGC4 BBD</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>best_use_cntr</td>
 <td class=v><span id=wise_allskysc_best_use_cntr></span>wise_allskysc</td>
 <td class=v>WISE</td>
 <td class=v>Cntr identification value of the source extraction that was selected as a candidate Catalog source in the duplicate resolution process for the group of associated sources that included this extraction.<br> For the All-Sky Release Catalog, best_use_cntr = cntr. For the All-Sky Reject Table, best_use_cntr may be the cntr value of a corresponding source in the All-Sky Release Catalog.</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BEST_Z</td>
 <td class=v><span id=mgcbrightspec_best_z></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>Best redshift</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BEST_ZQUAL</td>
 <td class=v><span id=mgcbrightspec_best_zqual></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>Quality of best redshift</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BESTTQZ_Z</td>
 <td class=v><span id=mgcbrightspec_besttqz_z></span>mgcBrightSpec</td>
 <td class=v>MGC</td>
 <td class=v>2qz redshift</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>bgrCpsa</td>
 <td class=v><span id=rosat_bsc_bgrcpsa></span><span id=rosat_fsc_bgrcpsa></span>rosat_bsc, rosat_fsc</td>
 <td class=v>ROSAT</td>
 <td class=v>background countrate, vignetting corrected</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>counts/sec/arcmin**2</td>
 <td class=v>&nbsp;</td>
 <td class=v>INST_BACKGROUND</td>
</tr>
<tr> <td class=v>biasCor</td>
 <td class=v><span id=multiframedetector_biascor></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Bias correction done {image&nbsp;extension&nbsp;keyword:&nbsp;BIASCOR}</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>biasID</td>
 <td class=v><span id=multiframe_biasid></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>UID of library bias frame {image&nbsp;extension&nbsp;keyword:&nbsp;BIASSRC}</td>
 <td class=v>bigint</td>
 <td class=v>8</td>
 <td class=v>&nbsp;</td>
 <td class=v>-99999999</td>
 <td class=v>ID_FRAME</td>
</tr>
<tr> <td class=v>BII</td>
 <td class=v><span id=twoxmm_bii></span><span id=twoxmm_v1_2_bii></span><span id=twoxmmi_dr3_v1_0_bii></span>twoxmm, twoxmm_v1_2, twoxmmi_dr3_v1_0</td>
 <td class=v>XMM</td>
 <td class=v>Galactic latitude of the detection in degrees corresponding to the (corrected) coordinates RA and DEC.</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>degrees</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>bitsPerPix</td>
 <td class=v><span id=multiframe_bitsperpix></span>Multiframe</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>number of bits per data pixel {image&nbsp;primary&nbsp;HDU&nbsp;keyword:&nbsp;BITPIX}</td>
 <td class=v>tinyint</td>
 <td class=v>1</td>
 <td class=v>&nbsp;</td>
 <td class=v>0</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>bitsPerPix</td>
 <td class=v><span id=multiframedetector_bitsperpix></span>MultiframeDetector</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>Number of bits per data pixel, eg. +32 = 4 byte integers {image&nbsp;extension&nbsp;keyword:&nbsp;BITPIX}</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>FITS bitpix</td>
 <td class=v>&nbsp;</td>
 <td class=v>NUMBER</td>
</tr>
<tr> <td class=v>bl_flg</td>
 <td class=v><span id=twomass_psc_bl_flg></span>twomass_psc</td>
 <td class=v>2MASS</td>
 <td class=v>Blend flag.</td>
 <td class=v>varchar</td>
 <td class=v>3</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>bl_flg</td>
 <td class=v><span id=twomass_sixx2_psc_bl_flg></span>twomass_sixx2_psc</td>
 <td class=v>2MASS</td>
 <td class=v>indicates # JHK components fit to source</td>
 <td class=v>varchar</td>
 <td class=v>3</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>bl_sub_flg</td>
 <td class=v><span id=twomass_xsc_bl_sub_flg></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>blanked/subtracted src description flag.</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>CODE_MISC</td>
</tr>
<tr> <td class=v>blk_fac</td>
 <td class=v><span id=twomass_xsc_blk_fac></span>twomass_xsc</td>
 <td class=v>2MASS</td>
 <td class=v>LCSB blocking factor (1, 2, 4, 8).</td>
 <td class=v>smallint</td>
 <td class=v>2</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
 <td class=v>FIT_PARAM</td>
</tr>
<tr> <td class=v>Bmag</td>
 <td class=v><span id=denisdr3source_bmag></span>denisDR3Source</td>
 <td class=v>DENIS</td>
 <td class=v>B magnitude of USNOA2.0 nearest match</td>
 <td class=v>float</td>
 <td class=v>8</td>
 <td class=v>mag</td>
 <td class=v>&nbsp;</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>bMag</td>
 <td class=v><span id=ukirtfsstars_bmag></span>ukirtFSstars</td>
 <td class=v>ATLASv20130304</td>
 <td class=v>B band total magnitude</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>mag</td>
 <td class=v>-0.9999995e9</td>
 <td class=v>PHOT_INT-MAG</td>
</tr>
<tr> <td class=v>BULGE_E</td>
 <td class=v><span id=mgcgalaxystruct_bulge_e></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Ellipticity</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_Em</td>
 <td class=v><span id=mgcgalaxystruct_bulge_em></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Ellipticity error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_Ep</td>
 <td class=v><span id=mgcgalaxystruct_bulge_ep></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Ellipticity error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_FRAC</td>
 <td class=v><span id=mgcgalaxystruct_bulge_frac></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Fraction (0=pure disk)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_FRACm</td>
 <td class=v><span id=mgcgalaxystruct_bulge_fracm></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Fraction error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_FRACp</td>
 <td class=v><span id=mgcgalaxystruct_bulge_fracp></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Fraction error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_PA</td>
 <td class=v><span id=mgcgalaxystruct_bulge_pa></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Position Angle</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_PAm</td>
 <td class=v><span id=mgcgalaxystruct_bulge_pam></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Position Angle error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_PAp</td>
 <td class=v><span id=mgcgalaxystruct_bulge_pap></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Position Angle error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_RE</td>
 <td class=v><span id=mgcgalaxystruct_bulge_re></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Effective Radius</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_REm</td>
 <td class=v><span id=mgcgalaxystruct_bulge_rem></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Effective Radius error (-)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
<tr> <td class=v>BULGE_REp</td>
 <td class=v><span id=mgcgalaxystruct_bulge_rep></span>mgcGalaxyStruct</td>
 <td class=v>MGC</td>
 <td class=v>Bulge Effective Radius error (+)</td>
 <td class=v>real</td>
 <td class=v>4</td>
 <td class=v>&nbsp;</td>
 <td class=v>99.99</td>
 <td class=v>&nbsp;</td>
</tr>
</table>
</table>
</table>
</table>
</table>
</table>
