body {
	margin: 0px;
	padding: 0px;
	color: #c2bead;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #2f2e28;
	background-image: url(../images/body_repeat3.jpg);
	background-repeat: repeat;
	background-position: left;
	overflow-x:auto;
	overflow-y:hidden;
	width:100%;
}

html, body {height: 100%;
	}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
*:focus {
    outline: none;
 -moz-outline: none;
}
a, a:link, a:visited { color: #34baf9; text-decoration: none; }
a:hover { color: #FEA71A;  }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: white; }
h1 { font-size: 24px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 20px; font-weight: normal; margin: 0 0 30px 0; font-weight: normal; }
h3 { font-size: 16px; margin: 0 0 15px 0; padding: 0; padding: 0; font-weight: normal;  }
h4 { font-size: 14px; margin: 0 0 15px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }


.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { display: inline-block; border: 1px solid #000; background: #333; padding: 4px; margin-bottom: 10px; }
.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#333; }
cite span { color: #666; }
em { color: #f9a834; }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: transparent url(../images/list.png) no-repeat; margin:0 0 20px; padding: 0 0 0 20px; 	line-height: 1em; }
.tmo_list li a { color: #fff; }
.tmo_list li a:hover { color: #ff4301; }

.btn_more a {
	display: inline-block;
	font-weight: bold;
	color: #dcd9cb;
}

.btn_more a span {
	font-size: 16px;
}

.btn_more a:hover {
	color: #CCFF00;
	text-decoration: none;
}

.service_list { margin: 40px 0 0 30px; padding: 0; list-style: none; }
.service_list li { margin: 0; padding: 0; }
.service_list li a { display: block; height: 25px; margin-bottom: 20px; padding-left: 35px; }
.service_list li .service_one { background: url(../images/onebit_08.png) center left no-repeat; }
.service_list li .service_two { background: url(../images/onebit_11.png) center left no-repeat; }
.service_list li .service_three { background: url(../images/onebit_17.png) center left no-repeat; }
.service_list li .service_four { background: url(../images/onebit_21.png) center left no-repeat; }
.service_list li .service_five { background: url(../images/onebit_12.png) center left no-repeat; }

#contact_form { padding: 0; }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { width: 440px; padding: 8px; background: #333028; border: 1px solid #886; color: #FFF; }
#contact_form form label { display: block; width: 100px; margin-right: 10px; font-size: 14px; margin-bottom: 3px; }

#contact_form form textarea { 
	width: 440px;  
	height: 120px; 
	padding: 8px; 
	background: #333028; 
	font-family: Arial, Helvetica, sans-serif;	
	border: 1px solid #886; 
	color: #FFF; 
}

#contact_form form .submit_btn {
	color: #886;
	background: #333028;
	border: 1px solid #886;
	padding: 10px 20px;
	margin-right: 140px;
	font-size: 15px;
}

#gallery_container { 
	clear: both; 
	margin-top: 30px; 
	padding-right: 40px; 
	width: 480px; 
	height: 320px; 
	overflow: auto; 
} 

#gallery_container .gallery_box {
	clear: both;
	display: block; 
	padding: 0;
	margin: 0 0 40px 0;
}
 
.gallery_box img {
	float: left;
	width: 120px;
	height: 100px;
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 3px 30px 0 0;
}

	
#footer {
	position: absolute;
	bottom:0;
	height: 38px;
	clear:right;	
	width: 700px;
	margin-left:-170px;
	padding: 5px 0;
	left:50%;
	z-index:99;
	background: url("../images/postit.png") no-repeat;
}

#slider {
    position: relative;
	width: 98%;
	min-width: 1024px;
	padding: 0px 10px 0 2px;
	height:100%;
	max-height:100%;
	min-height:100%;
	min-width: 1325px;
	
}

#sidebar {
	float: left;
	width: 300px;
	background: url("../images/menu_repeat3.jpg") repeat-y;
	max-width:300px;
}

#main {
	margin: 0 auto;
	float:right;
	padding-top: 7px;
	width: 76%;	
	padding-bottom: 0px;  /* must be same height as the footer */
	height:90%;
	max-height:90%;
	min-height:90%;
	
	
}


#header {
	margin-left: 29px;
	width: 230px;
	height: 170px;
	text-align: center;
	padding: 2px 0 0 0;
	background: url(../images/header2.jpg) no-repeat top left;
}


#content { 
	margin:0 auto;
	height:89%;
	width:100%;
	min-width:800px;
	background: url(../images/content_mid3.jpg) repeat;
	
}


#content-mid { 
	width:94%;
	height:100%;
	overflow-y:auto;
	margin:0 auto;
	
	
}

#content-right { 
	width:22px;
	height:100%;
	float:right;
	background: url(../images/content_mid_right3.jpg) repeat-y ;
}


#content-left { 
	float:left;
	width:18px;
	height:100%;
	background: url(../images/content_mid_left3.jpg) repeat-y;
}

#top-left {
	float:left;
	width:18px;
	height:35px;
	background: url(../images/content_top_left3.jpg) no-repeat;
}

#top-right {
	width:29px;
	height:35px;
	float:right;
	background: url(../images/content_top_right3.jpg) no-repeat;
}

#top-mid {
	width:100%;
	
	margin:0 auto;
	height:35px;
	background: url(../images/content_top3.jpg) repeat-x;
}

#bot-left {
	float:left;
	height:35px;
	width:18px;
	background: url(../images/content_bot_left3.jpg) no-repeat;
}

#bot-right {
	width:28px;
	height:35px;
	float:right;
	background: url(../images/content_bot_right3.jpg) no-repeat;
}

#bot-mid {
	width:98%;
	height:35px;
	margin:0 auto;
	background: url(../images/content_bot3.jpg) repeat-x;
}

#bot-bar {
	width:100%;


}

#top-bar {
	width:100%;
	height:35px;
	margin-bot:1px;
	
}

.hide {
    display: none;
}

.button {
		background: -moz-linear-gradient(center top , #8CBFC2, #519093) repeat scroll 0 0 transparent;
		background: #8cbfc2; /* Old browsers */
		background: -moz-linear-gradient(top, #8cbfc2 0%, #519093 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cbfc2), color-stop(100%,#519093)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* IE10+ */
		background: linear-gradient(top, #8cbfc2 0%,#519093 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbfc2', endColorstr='#519093',GradientType=0 ); /* IE6-9 */		
		border: medium none;
		border-radius: 5px 5px 5px 5px;
		color: white !important;
		cursor: pointer;
		font-size:13px;
		font-family: arial;
		padding: 4px 10px;
		text-shadow: 0 1px 1px #003547;	
		height:24px;
		outline:none;
		text-decoration:none;
}

.button.active {
		text-decoration:none;
	}	
	
.button:hover {
		background: none repeat scroll 0 0 #8CBFC2;
		text-decoration: none;	
	
	}

#logged_in_notification {
		text-align:center;
		min-width:150px;
		max-width: 215px;
		margin-left:30px;
		color:white;
		background:#403A3B;
		opacity:0.7;
		filter:alpha(opacity=40); 
		z-index:50;
				
	}	


#content_dbaccess_login .error{
	color:red;
	
}



#generic_form .submit_button {
	background: -moz-linear-gradient(center top , #8CBFC2, #519093) repeat scroll 0 0 transparent;
	background: #8cbfc2; /* Old browsers */
	background: -moz-linear-gradient(top, #8cbfc2 0%, #519093 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cbfc2), color-stop(100%,#519093)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* IE10+ */
	background: linear-gradient(top, #8cbfc2 0%,#519093 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbfc2', endColorstr='#519093',GradientType=0 ); /* IE6-9 */		
	border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 13px;
    height: 24px;
    outline: medium none;
    padding: 4px 10px;
    text-shadow: 0 1px 1px #003547;
    width: 65px;
	outline:none;

}

#generic_form .submit_button:hover {
	background: none repeat scroll 0 0 #8CBFC2;
	text-decoration: none;	

}

#generic_form {
	background: url("../images/Gray_Gradient_background.jpg") repeat scroll 0 0 transparent;
    border: 2px solid #AFC7C7;
    padding:10px;
	
}

#generic_form .styled-select {
	 float:right;
	 width:400px;
	 margin-bottom:10px
}

#generic_form textarea {
 	max-height: 50px;
    max-width: 227px;
    min-height: 50px;
    min-width: 227px;
}

#generic_form table{
	border-collapse:collapse;
}

#generic_form table  td, #generic_form table th {
	font-size:1em;
	border:1px solid #AFC7C7;
	padding:3px 7px 2px 7px;
	
}

#generic_form table th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}


#generic_form table tr.alt td {
	color:#000000;
	background-color:#EAF2D3;
}


	
#register {
	background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #777777;
    cursor: pointer;
    display: inline;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 12px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    margin-right:5px;
    
}

#unregister {
	background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #777777;
    cursor: pointer;
    display: inline;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 12px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    margin-right:5px;
    
    
}

#loadvotable, #loadImage {
	background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #777777;
    cursor: pointer;
    display: inline;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 12px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    margin-right:5px;

}

#samp_connection {
	vertical-align:middle;
	margin-right:6px;
}

#toggle_menu_bar { 
	background-color:#79766B;
	position:absolute;
	left:249px;
	height:100%;
	float:left;
	width:10px;
	margin:0 auto;
	text-align:center;
	z-index:10;
	padding-top: 15px;
}

#toggle_menu_bar:hover { 
	cursor:pointer;
	background-color:gray;
}

#menu_bar_img {
	position:relative;
	right:9px;
	
}

.logo-image {
	border:2px solid gray;
	vertical-align:middle;
}

#loading_options a:hover, #error_tooltip_link:hover{
	cursor:pointer;
}

#logged_in_notification {
	font-size:11px;
}

