
#schema_wrapper #wfaulogo
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px
}
#schema_wrapper #ifalogo
{
    LEFT: 720px;
    POSITION: absolute;
    TOP: 0px
}
#schema_wrapper #banner
{
    COLOR: #22eeff;
    BACKGROUND-COLOR: #333333;
    FONT-FAMILY: arial,helvetica,sans-serif;
    FONT-SIZE: 32pt;
    POSITION: center;
    FONT-WEIGHT: bold;
    TOP: 4px
}
#schema_wrapper #gutter
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 180px
}
#schema_wrapper #sgutter
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 460px
}
#schema_wrapper #navibar
{
    LEFT: 120px;
    POSITION: absolute;
    TOP: 84px
}


#schema_wrapper #transp
{
    LEFT: 140px;
    POSITION: absolute;
    TOP: 130px
}

#schema_wrapper .sml
{
    FONT-SIZE: 8pt;
}
#schema_wrapper .smlmed
{
    FONT-SIZE: ;
}
#schema_wrapper .med
{
    FONT-SIZE: 8pt;
}
#schema_wrapper .medlrg
{
    FONT-SIZE: ;
}
#schema_wrapper .lrg
{
    FONT-SIZE: 12pt;
}
#schema_wrapper .hi
{
    COLOR: #ff4444;
    FONT-SIZE: 8pt;
}
#schema_wrapper .lo
{
    COLOR: #8888ff;
    FONT-SIZE: 8pt;
}
#schema_wrapper .thi
{
    COLOR: #ff4444;
    FONT-SIZE: ;
    FONT-WEIGHT: 800;
}
#schema_wrapper .tlo
{
    COLOR: #8888ff;
    FONT-SIZE: ;
    FONT-WEIGHT: 800;
}
#schema_wrapper .s
{
    BACKGROUND-COLOR: #552255;
    COLOR: #99eeff;
}
#schema_wrapper .t
{
    font-size:8pt;
    BACKGROUND-COLOR: #333366;
    COLOR: #99eeff;
}
#schema_wrapper .d
{
    font-size:;
}
#schema_wrapper .b
{
    BACKGROUND-COLOR: #000060;
    COLOR: #99eeff;
}
#schema_wrapper .h
{
    font-size:8pt;
    font-weight:800;
    BACKGROUND-COLOR: #500000;
    COLOR: #99eeff;
}
#schema_wrapper .i
{
    font-size:8pt;
    background-color:#115566;
    font-weight: 100;
    color: #f0ffff
}
#schema_wrapper .v
{
    font-size:8pt;
    background-color:#000070;
    font-weight: 100;
    color: #f0ffff
}
#schema_wrapper .cbl
{
    font-size:8pt;
    background-color:#44b7cc;
    font-weight: 100;
    color: #f0ffff
}
#schema_wrapper .cbi
{
    border-top:4px solid #115566;
    border-bottom:3px solid #115566;
    border-left:3px solid #115566;
    border-right:3px solid #115566
}
#schema_wrapper .cbv
{
    border-top:4px solid #000060;
    border-bottom:3px solid #000060;
    border-left:3px solid #000060;
    border-right:3px solid #000060
}
#schema_wrapper .cbs
{
    background-color:#44b7cc;
    border-top:4px solid #44b7cc;
    border-bottom:3px solid #44b7cc;
    border-left:3px solid #44b7cc;
    border-right:3px solid #44b7cc
}
#schema_wrapper .o
{
    font-size:8pt;
    background-color:#003030;
}


#schema_wrapper .isize
{
    width: 70px; 
    font-size:8pt;
    font-family:courier;
}
samp
{
    FONT-FAMILY: courier; 
    font-size:8pt;
    color:#ffff88
}
#schema_wrapper .ret
{
    FONT-FAMILY: Helvetica,Times,monospace; 
    font-size:8pt;
    color:#50dddd
}
#schema_wrapper .fin
{
    font-size:8pt;
    BACKGROUND-COLOR: #000050;
    font-weight: 100;
    color: #f0ffff
}
#schema_wrapper .fout
{
    font-size:8pt;
    BACKGROUND-COLOR: #003030;
    font-weight: 100;
    COLOR: #f0ffff
}
#schema_wrapper .func
{
    font-size:8pt;
    BACKGROUND-COLOR: #500000;
    COLOR: #99eeff
}
#schema_wrapper .proc
{
    font-size:8pt;
    BACKGROUND-COLOR: #005050;
    COLOR: #99eeff
}
#schema_wrapper .atab
{
    font-size:8pt;
    BACKGROUND-COLOR: #000070;
    COLOR: #99eeff
}
#schema_wrapper .view
{
    font-size:8pt;
    BACKGROUND-COLOR: #551166;
    COLOR: #99eeff
}
#schema_wrapper .tsml
{
    BACKGROUND-COLOR: #333366;
    COLOR: #99eeff;
    FONT-SIZE: 8pt
}
#schema_wrapper .bsml
{
    BACKGROUND-COLOR: #000060;
    COLOR: #99eeff;
    FONT-SIZE: 8pt
}
#schema_wrapper .hsml
{
    BACKGROUND-COLOR: #006060;
    COLOR: #99eeff;
    FONT-SIZE: 8pt
}
#schema_wrapper .caption
{
    COLOR: #cccc55;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold
}
#schema_wrapper .question
{
    BACKGROUND-COLOR: darkred;
    COLOR: whitesmoke
}
#schema_wrapper .exercise
{
    BACKGROUND-COLOR: darkgreen;
    COLOR: snow
}
#schema_wrapper .rchallenge
{
    BACKGROUND-COLOR: midnightblue;
    COLOR: silver
}
#schema_wrapper .version
{
    font-style:italic;
    font-size:15pt;
}
