$def with (prefix)

<h1>ROSAT_Tables.sql</h1>
<table width='720'><tr>
<td class='d'> Database schema file for the ROSAT Point Source Catalogues held in
 the WFCAM Science Archive. Contains sql scripts to create
 the relevant tables.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='ROSAT/ROSAT_TABLE_rosat_bscSchema.html#rosat_bsc'>rosat_bsc</a></td><td class='t'> Contains the parameters provided for each source in the ROSAT Bright Source Catalogue.</td></tr>
<tr><td class='atab'><a href='ROSAT/ROSAT_TABLE_rosat_fscSchema.html#rosat_fsc'>rosat_fsc</a></td><td class='t'> Contains the parameters provided for each source in the ROSAT Faint Source Catalogue.</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>5056, 2008-08-22 17:58:12 (Fri, 22 Aug 2008)</td></tr>
</tbody>
</TABLE>

