$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>6dF Archive</b> is an implementation of the <a href=http://www.aao.gov.au/local/www/6df/ target=_top>6dF Galaxy Survey (6dFGS)</a> that contains 136,304 spectra and 110,256 new redshifts from across the southern sky. It was carried out on the UK Schmidt telescope using the Six-degree Field (6dF) multi-object fibre spectrograph from 2001 to 2006. It covers more than ten times the sky area of the successful 2dF Galaxy Redshift Survey (2dFGRS) and almost twice that of the Sloan Digital Sky Survey.
</BODY>
</HTML>
