$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>ROSAT Archive</b> is an implementation of the <a href=http://www.xray.mpe.mpg.de/rosat/survey/rass-bsc/ target=_top>ROSAT All-Sky Survey Bright Source Catalogue</a> (RASS-BSC, revision 1RXS) and the <a href=http://www.xray.mpe.mpg.de/rosat/survey/rass-fsc/ target=_top>ROSAT All-Sky Survey Faint Source Catalogue</a> (RASS-FSC, revision 1RXS).<br><p>
The RASS-BSC is derived from the all-sky survey performed during the
first half year of the ROSAT mission in 1990/91. 18,811 sources are
catalogued, with a limiting ROSAT PSPC countrate of 0.05 cts/s in
the 0.1-2.4 keV energy band. The sources have a detection likelihood of at
least 15 and contain at least 15 source photons. At a brightness limit
of 0.1 cts/s (8,547 sources) the catalogue represents a sky coverage of
92%. The typical positional accuracy is 30 arcsec. <br><p>
The RASS-FSC is derived from the all-sky survey performed during the ROSAT
mission in the energy band 0.1- 2.4 keV. 105,924 sources are catalogued and
represent the faint extension to the RASS bright source catalogue. The sources
have a detection likelihood of at least 7 and contain at least 6 source
photons. (The likelihood of source detection is defined as L =-ln (1-P) ,
with P = probability of source detection).

</BODY>
</HTML>
