$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>SuperCOSMOS Science Archive</b> is an implementation of the
<a href=http://www-wfau.roe.ac.uk/sss/ target=_top>legacy SuperCOSMOS Sky Survey flat-file data</a> in
Windows/SQL Server as opposed to
the flat-file system accessible via the SSS web interface.
It consists of data from digitised sky survey plates taken with the UK Schmidt
telescope (UKST), the ESO Schmidt, and the Palomar Schmidt.
<br>
The data is organised in schemas, which include
tables, views, and constraints.
</BODY>
</HTML>
