$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>WISE Archive</b> is an implementation of the Source Catalogues of the
preliminary and the all-sky data releases of the
<a href=http://wise.ssl.berkeley.edu/ target=_top>WISE Mission</a>.
WISE (Wide-field Infrared Survey Explorer) mapped the sky at 3.4, 4.6, 12, and
22 &mu;m in 2010 with an angular resolution of 6.1" 6.4" 6.5" & 12.0" in the
four bands. WISE achieved 5&sigma; point source sensitivities better than 0.08,
 0.11, 1 and 6 mJy in unconfused regions on the ecliptic in the four bands.
Sensitivity improves toward the ecliptic poles due to denser coverage and
lower zodiacal background. <br>
The WISE Preliminary Release includes data from the first 105 days of WISE
survey observations, 14 January 2010 to 29 April 2010, that were processed with
 initial calibrations and reduction algorithms. The Source Catalogue contains
positional and photometric information for over 257 million objects
detected on the WISE images.<br>
The WISE All-Sky Release Source Catalogue contains positions and four-band
photometry for 563,921,584 objects detected in 18,240 Atlas Tiles. <br>
Each Catalogue entry gives positions, magnitudes, astrometric and photometric
uncertainties, flags indicating the reliability and quality of the source
characterizations, and associations with any nearby 2MASS Point and Extended
Source Catalogue.<br>
For more information see the Explanatory Supplement to the <a href=http://wise2.ipac.caltech.edu/docs/release/prelim/expsup/ target=_top> WISE Preliminary Data
Release Products</a> or the Explanatory Supplement to the <a href=http://wise2.ipac.caltech.edu/docs/release/allsky/expsup/ target=_top> WISE All-Sky Data
Release Products</a>.
</BODY>
</HTML>

