$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>SPITZER Archive</b> is an implementation of several catalogues of
the <a href=http://ssc.spitzer.caltech.edu/ target=_top>Spitzer Mission</a>.
The Spitzer Space Telescope (formerly SIRTF, the Space Infrared Telescope Facility) was launched into space by a Delta rocket from Cape Canaveral, Florida on 25 August 2003. Consisting of a 0.85-meter telescope and three cryogenically-cooled science instruments, Spitzer was the largest infrared telescope ever launched into space at the time.
</BODY>
</HTML>

