$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>MCPS Archive</b> is an implementation of the <a href=http://ngala.as.arizona.edu/dennis/mcsurvey.html target=_top>Magellanic Cloud Photometric Survey</a>.
The Magellanic Cloud Photometric Survey is producing a UBVI catalog of stars in the central 8 by 8 degrees of the LMC and 4 by 4 degrees of the SMC. The limiting magnitude (set primarily by crowding) is V = 21.
</BODY>
</HTML>

