$def with (prefix)
<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>Galaxy Evolution Explorer (GALEX)</b> (see <a href=http://www.galex.caltech.edu target=_top>www.galex.caltech.edu</a> for general information) satellite is a NASA mission led by the California Institute of Technology aimed at investigating how star formation in galaxies evolved from the early Universe up to the present.

<p>
The listed GALEX Releases are links to the related GALEX Schema Browser. They will open in a new browser window.
</BODY>
</HTML>
