$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<div id="dhtmltooltip"></div>
<script type="text/JavaScript" src="$prefix/static/js/tooltip.js">
document.onmousemove=positiontip</script>
<p>The <b>Functions</b> and <b>Procedures</b> take a number of parameters and
execute a previously defined sequence of commands.<br>
Here you will be shown <samp>examples</samp> and tables containing the names
of the<font class="fin"> input </font>and<font class="fout"> output </font>
variables, their type and size, and a number which indicates the position
of the parameter in the function/procedure call.
</BODY>
</HTML>
