$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>COMBO-17 Archive</b> is an implementation of catalogues of
the <a href=http://www.mpia.de/COMBO/combo_index.html target=_top>COMBO-17 Survey</a>.
The COMBO-17 survey has imaged 1 square degree of sky in 17 optical filters
using the Wide Field Imager at the MPG/ESO 2.2-m telescope at La Silla, Chile.
It found &sim;25000 galaxies and &sim;300 QSOs with redshift errors of
dz/(1+z)&sim;0.02, as well as &sim;5000 stars and &sim;30 white dwarfs.
It has deep and sharp R-band data for exploration of weak gravitational lensing. </BODY>
</HTML>

