$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>VST ATLAS Survey</b> is a panoramic optical survey, which will
complement the proposed VST and VISTA Hemisphere Surveys in the South. The
initial aim of ATLAS is to survey 4500 deg<sup>2</sup> of the Southern Sky at
high galactic latitudes to comparable depths to the SDSS in the North. The VST
ATLAS will be the first step towards a panoramic digital survey of the Southern
Sky in the optical bands. Science drivers and uses are:
<ul class='d'>
<li> to determine the dark energy equation of state by detecting 'baryon wiggles' in the power-spectrum of &sim;450000 z&sim;0.7 Luminous Red Galaxies (LRGs), using either photo-z from VST ATLAS + VHS imaging or spectroscopic redshifts via the new AAOmega instrument;</li>
<li> to probe for dark energy including LRG z-space distortion, the Integrated Sachs-Wolfe Effect and the dependence of QSO lensing on redshift;</li>
<li> to colour select QSO candidates out to z&sim;7.</li>
</ul></p>
<p>In addition, the VST ATLAS+AAOmega will feed VLT with rare galaxy and QSO
targets for high resolution spectroscopy, constituting a new and uniquely
powerful tool for survey cosmology.<br>
For more information see the <a href="http://astro.dur.ac.uk/Cosmology/vstatlas/" target=_top>ATLAS home page</a>.
</p></BODY>
</HTML>
