$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>VISTA Science Verification (SV) observations were carried out on 15 nights
 between October 15 - November 02, 2009. The <b>VISTA Galactic Mini-Survey
 (SVORION)</b> is a deep ZYJHKs survey of &sim;30 square degrees in the
Orion OB association. The area is covered by 20 overlapping tiles.
The secondary goal is the photometric monitoring of sources contained in one
of the tiles.
<p>
For more information see the <a href="http://www.eso.org/sci/activities/vistasv/VISTA_SV.html#Phase2_Orion" target=_top>Phase2 Information for SV Orion</a> on the VISTA Science Verification page at ESO.
</BODY>
</HTML>
