$def with (prefix)
<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>2XMM Archive</b> is an implementation of the second
<a href=http://xmmssc-www.star.le.ac.uk/Catalogue/xcat_public_2XMM.html target=_top>XMM-Newton Serendipitous Source Catalogue</a>. It is the second
comprehensive catalogue of serendipitous X-ray sources from the European Space
Agency's (ESA) XMM-Newton observatory. The catalogue has been constructed by
the XMM-Newton Survey Science Centre (SSC) on behalf of ESA.<br>
The catalogue contains source detections drawn from 3491 XMM-Newton EPIC
observations made between 2000 February 3 and 2007 March 31; all datasets
were publicly available by 2007 May 01 but not all public observations are
included in this catalogue. The catalogue contains 246897 X-ray source
detections which relate to 191870 unique X-ray sources.
</BODY>
</HTML>
