$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>WFCAM Science Archive</b> UKIDSS databases contain calibrated data
from the
<a href = http://www.roe.ac.uk/atc/projects/wfcam/index.html target=_top>UKIRT
Wide Field Camera (WFCAM)</a> pre-planned public survey operations
through the UKIDSS project. The UKIDSS surveys are as follows:
<ul color=#ffffff class='d'>
<li> Large Area Survey (LAS) : on completion, 4000 sq.deg. to K=18.4 <br>
       short exposures, unstacked, but later 2nd pass </li>
<li> Galactic Plane Survey (GPS) on completion, 1800 sq.deg. to K=19.0 <br>
       main survey : short exposures, unstacked, but later 2nd pass <br>
       some deeper stacked sub-components </li>
<li> Galactic Cluster Survey (GCS) on completion, 1000 sq. deg. to K=18.7 <br>
       short exposures, unstacked, but later 2nd pass </li>
<li> Deep Extragalactic Survey (DXS) 35 sq.deg. K=21 on completion <br>
       longer exposures, and stacked over many nights</li>
<li> Ultra Deep Survey (UDS) : 0.75 sq.deg. K=23 on completion <br>
       Very long exposure, stacked over many many nights </li>
</ul><p>
The data are organised in schemas, which include
tables, views, indexes and constraints.
</BODY>
</HTML>
