$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<div id="dhtmltooltip"></div>
<script type="text/JavaScript" src="$prefix/static/js/tooltip.js">
document.onmousemove=positiontip</script>
<p>The <b>Tables</b> contain the data in the database. They are organized in
columns and rows. <br>
Here you will be shown the names of these columns, their
data type, the data type size, the unit, a short description, a default
value (if set), and the Unified Content Descriptor. The last one is a
categorization of any parameter present in a column of a table or catalogue
in a predefined scheme (see the UCD page at <a href='http://vizier.u-strasbg.fr/UCD/' target=_top>CDS</a>). <br>
Also a description of the table is given, and a list of the required
constraints, ie. the primary key and key references.<br>
<font class="i">Indexed variables</font> are higlighted.<br>
Some attributes have a <a onMouseover="ddrivetip('tooltip')"; onMouseout="hideddrivetip()">
<img src='$prefix/static/images/img/tooltip1.gif' alt='tooltip' height='12' border='0'></a>
image. This indicates that there is some more information in a small
JavaScript tooltip window. This will appear if you hover with your mouse over
this image or the attribute itself.<br>
The <a><img src='$prefix/static/images/img/gloss1.gif' alt='link to glossary' height='12' border='0'></a> image shows that there is extended information on this attribute in the glossary.
Click on the image or the attribute itself to go to the corresponding glossary
entry.<br>
If an attribute is derived directly from a FITS keyword the keyword is given in {...}.
</BODY>
</HTML>
