$def with (prefix)
<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor=#000000 color="#ffffff" class='d'>
<p>The SuperCOSMOS plate scanning facility has digitised a large collection of
over 200 UK Schmidt Telescope plates taken in a single field of view (F287)
over the past 30 years. Standard astronomical source extraction software
analyses each digitised image to produce a catalogue of the positions, sizes,
shapes and brightnesses of ~4x10<sup>5</sup> detected sources on each plate
yielding a catalogue dataset of around 10 GB in size. The resulting
&quot;synoptic survey&quot; of this particular field of view is unique in
astronomical terms: it provides time-series brightness and position
measurements for objects to a detection limit more than one million times
fainter than can be seen with the naked eye, sampled several times per year in
two to four optical passbands over 30 year survey lifetime. </p>
</body>
</html>
