$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>Personal version of the SuperCOSMOS Science Archive</b> (PSSA)
contains an extract of the <a href=http://surveys.roe.ac.uk/ssa/ target="_top"> SSA</a>
covering the area (184 &lt; RA/deg &lt; 186, -1.25 &lt; Dec/deg &lt; 1.25)
and including a CrossNeighbour table with the Sloan Digital Sky Survey (SDSS)
Early Data Release (EDR), which records all EDR sources within 10 arcsec of
each PSSA source, and which facilitates spatial matching between the two
catalogues.
<br>
The data is organised in schemas, which include
tables, views, and constraints.
</BODY>
</HTML>
