$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>Database Objects</b> are the top level organization of the data in a
logical database design. Each database object is a collection of SQL objects,
such as <font class="atab">tables</font>, <font class="view">views</font>,
and <font class="func">functions</font>. These are shown with a short
description of their content.
</BODY>
</HTML>
