$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>IRAS Archive</b> is an implementation of the IRAS catalogue of
Point Sources, Version 2.0 (IPAC 1986). This is a catalogue of some 250,000
well-confirmed infrared point sources observed by the Infrared Astronomical
Satellite, i.e., sources with angular extents less than approximately 0.5,
0.5, 1.0, and 2.0 arcmin in the in-scan direction at 12, 25, 60, and 100
microns, respectively. Positions, flux densities, uncertainties, associations
with known astronomical objects and various cautionary flags are given
for each object. Away from confused regions of the sky, the survey is
complete to about 0.4, 0.5, 0.6, and 1.0 Jy at 12, 25, 60, and 100 microns.
Typical position uncertainties are about 2 to 6 arcseconds in-scan and
about 8 to 16 arcseconds cross-scan. The processing steps applied to detect
and confirm point sources, and the positional and photometric error analyses
are described in the <a href=http://lambda.gsfc.nasa.gov/product/iras/docs/exp.sup/index.html target=_top>IRAS Catalogues and Atlases Explanatory Supplement</a>;
the catalogue format is described in Chapter X. The sources appear in order of
increasing right ascension.
</BODY>
</HTML>
