$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p> The <b>EROS Archive</b> is an implementation of catalogues of
the <a href=http://eros.in2p3.fr/ target=_top>EROS Project</a>.
The EROS (Exp&eacute;rience pour la Recherche d'Objets Sombres) Project's main objective is the search and the study of dark stellar bodies, so-called "brown dwarfs" or "MACHOs" which belong gravitationally to our Galaxy. This is made possible by their gravitational microlensing effects on stars in the Magellanic Clouds.
</BODY>
</HTML>

