$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>VISTA Science Verification (SV) observations were carried out on 15 nights
 between October 15 - November 02, 2009. The <b>VISTA Extragalactic Mini-Survey
 (SVNGC253)</b> is a deep survey of the stellar halo in the nearby edge-on
 spiral galaxy NGC 253. This survey will use three different tile patterns.
Tile patterns with 3 pawprints will be used for the &quot;shallow survey&quot;
which aims to observe the bright disk of NGC 253. The 6 pawprint tile pattern
will be used for the deep survey which aims to resolve the brightest red giant
branch stars in the halo.
<p>
For more information see the <a href="http://www.eso.org/sci/activities/vistasv/VISTA_SV.html#Phase2_NGC253" target=_top>Phase2 Information for SV NGC253</a> on the VISTA Science Verification page at ESO.
</BODY>
</HTML>
