$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>VISTA Deep Extragalactic Observations Survey (VIDEO)</b> is a 15
square degree Z, Y, J, H, K<sub>s</sub> survey to study galaxy evolution as a
function
of epoch and environment to redshift of &sim;4 using active galactic nuclei,
galaxy cluster evolution, and very massive galaxies. The survey comprises
four fields: the Chandra Deep Field South, 4.5 square degrees of the
XMM-Newton Large-Scale Structure Survey, a field of the European
Large-Area ISO Survey, and a new field. The width and area of VIDEO
are intermediate between the wide but relatively shallow VIKING survey
and the small, but very deep, Ultra-VISTA.
</BODY>
</HTML>
