$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>WFCAM Science Archive</b> standard star calibration data is kept in
databases named <b>WFCAMCAL&lsaquo;semester&rsaquo;</b>.
<i>semester</i> denotes the last semester included in the database
from 05A onwards,
eg. WFCAMCAL08B includes data from 05A up to 08B. This is the
set of data taken to calibrate WFCAM. There are 58 pointings that cover 49
faint stars in the UKIRT Faint Star catalogue. Some stars are covered in
more than one pointing so that the same star is observed on multiple
detectors. The fields are observed when they are closest to the zenith and
are observed in all broad-band filters: Z, Y, J, H, K. Occasionally the current
complement of narrow band filters are also observed. Each field is observed
multiple times and the time between repeat observations in the same filter
is much greater (typically one day) than the time to cycle through all
filters (5-10 minutes) so the data are processed to give colours at each
epoch through the SynopticSource table: a correlated multi-epoch data set.<p>
The products include deep images and catalogues and
multi-epoch variability selection. The total area covered is &sim;10 square
degrees, at a range of RA and dec and stellar density.
</BODY>
</HTML>
