$def with (prefix)

<html>
<head>
<link href="$prefix/static/css/wsaserver.css" rel="stylesheet" type="text/css">

</HEAD>
<BODY bgcolor=#000000 color=#ffffff class='d'>
<p>The <b>Ultra-VISTA Survey (UltraVISTA)</b> aims to image one patch of the
sky (the COSMOS field) over and over again to unprecedented depths. The
survey will use the Y, J, H, and K<sub>s</sub> broadband filters along with
one narrow-band filter specifically designed to study Lyman-&alpha; emitters
at redshift 8.8, of which &sim;30 are expected to be found with this survey.
The science goals of Ultra-VISTA include studying the first galaxies,
the stellar mass build-up during the peak epoch of star formation activity,
and dust obscured star formation.
</BODY>
</HTML>
