<html>
<head>
<link href="wsaserver.css" rel="stylesheet" type="text/css">

<title>SSA Browser: Database Documentation</title>


</head>

<body text="#aaffff" bgcolor=#333333>

<table border="0" cellspacing="0" cellpadding="10" align=left>
<tr> 
<td align=left bgcolor=#333333>
   <img SRC="../common/img/ssa_blue.gif" alt="SSA logo" height="88">
</td>

<td bgcolor=#333333><img SRC="../common/img/greyblank.gif" width="55"> </td>

<td bgcolor=#333333>
   <table border="0" cellspacing="10" cellpadding="0">
   <tr>
   <td>
      <div id='banner'>
      <img src="../common/img/ssa_small_greybg.gif" width="64" height="27" alt="SSA logo small"> <font size="+3">Browser</font>
      </div>
   </td>
   </tr>

   <tr>
   <td nowrap>
      <a href="http://surveys.roe.ac.uk/ssa/index.html" target='_top'>Home</a> | 
      <a href="http://surveys.roe.ac.uk/ssa/dboverview.html" target='_top'>Overview</a> | 
      <a href="../www/ssa_browser.html" target='_top'>Browser</a> | 
      <a href="http://surveys.roe.ac.uk/ssa/dbaccess.html" target='_top'>Access</a> |
      <a href="../sqlcookbook.html" target='_top'>Cookbook</a> |
      <a href="http://surveys.roe.ac.uk/ssa/links.html" target='_top'>Links</a> |
      <a href="http://surveys.roe.ac.uk/ssa/credits.html" target='_top'>Credits</a> 
   </td>
   </tr>
   </table>
</td>

<td bgcolor=#333333>&nbsp &nbsp</td>

<td bgcolor=#333333 valign="top">
   <a href="http://www.roe.ac.uk/ifa/wfau/" target='_top'>
<img border=0 src="../common/img/wfau_new.gif" alt="WFAU Home" height="95" width="132"></A>
</td>
</tr>
</table>
</body>
</html>
