BODY { margin:5px; }

A
{
    COLOR: #aaeeff;
    FONT-FAMILY: arial,helvetica,sans-serif;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
P
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
TD
{
    COLOR: #eeffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
UL
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
H1
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif;
    FONT-SIZE: 16pt
}
H2
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
H3
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
H4
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
H5
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
H6
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
CENTER
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,helvetica,sans-serif
}
EM
{
    COLOR: #cccc55;
    FONT-WEIGHT: 800
}
#wfaulogo
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 0px
}
#ifalogo
{
    LEFT: 720px;
    POSITION: absolute;
    TOP: 0px
}
#banner
{
    COLOR: #22eeff;
    BACKGROUND-COLOR: #333333;
    FONT-FAMILY: arial,helvetica,sans-serif;
    FONT-SIZE: 32pt;
    POSITION: center;
    FONT-WEIGHT: bold;
    TOP: 4px
}
#gutter
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 180px
}
#sgutter
{
    LEFT: 0px;
    POSITION: absolute;
    TOP: 460px
}
#navibar
{
    LEFT: 120px;
    POSITION: absolute;
    TOP: 84px
}
#title
{
    COLOR: #22ddff;
    FONT-FAMILY: arial,helvetica,sans-serif;
    FONT-SIZE: 18pt;
    FONT-WEIGHT: bold;
    LEFT: 250px;
    POSITION: absolute;
    TOP: 48px;
    Z-INDEX: 1
}
#text
{
    BACKGROUND-COLOR: #333360;
    HEIGHT: 90%;
    LEFT: 140px;
    POSITION: absolute;
    TOP: 130px;
    WIDTH: 640px
}
#transp
{
    LEFT: 140px;
    POSITION: absolute;
    TOP: 130px
}
#dhtmltooltip
{
    position: absolute;
    width: 350px;
    border: 2px solid lightSalmon;
    padding: 8px;
    background-color: lightyellow;
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    text-align: left;
    visibility: hidden;
    z-index: 100
}
.sml
{
    FONT-SIZE: 8pt
}
.smlmed
{
    FONT-SIZE: 9pt
}
.med
{
    FONT-SIZE: 10pt
}
.medlrg
{
    FONT-SIZE: 11pt
}
.lrg
{
    FONT-SIZE: 12pt
}
.hi
{
    COLOR: #ff4444;
    FONT-SIZE: 10pt
}
.lo
{
    COLOR: #8888ff;
    FONT-SIZE: 10pt
}
.thi
{
    COLOR: #ff4444;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: 800
}
.tlo
{
    COLOR: #8888ff;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: 800
}
.s
{
    BACKGROUND-COLOR: #552255;
    COLOR: #99eeff
}
.t
{
    font-size:10pt;
    BACKGROUND-COLOR: #333366;
    COLOR: #99eeff
}
.d
{
    font-size:11pt
}
.b
{
    BACKGROUND-COLOR: #000060;
    COLOR: #99eeff
}
.h
{
    font-size:10pt;
    font-weight:800;
    BACKGROUND-COLOR: #500000;
    COLOR: #99eeff
}
.i
{
    font-size:10pt;
    background-color:#115566;
    font-weight: 100;
    color: #f0ffff
}
.v
{
    font-size:10pt;
    background-color:#000070;
    font-weight: 100;
    color: #f0ffff
}
.cbl
{
    font-size:10pt;
    background-color:#44b7cc;
    font-weight: 100;
    color: #f0ffff
}
.cbi
{
    border-top:4px solid #115566;
    border-bottom:3px solid #115566;
    border-left:3px solid #115566;
    border-right:3px solid #115566
}
.cbv
{
    border-top:4px solid #000060;
    border-bottom:3px solid #000060;
    border-left:3px solid #000060;
    border-right:3px solid #000060
}
.cbs
{
    background-color:#44b7cc;
    border-top:4px solid #44b7cc;
    border-bottom:3px solid #44b7cc;
    border-left:3px solid #44b7cc;
    border-right:3px solid #44b7cc
}
.o
{
    font-size:10pt;
    background-color:#003030;
}
.dhead 
{
    font-size:10pt
}
.ddrop
{
    font-size:10pt;
    font-weight:100
}
.isize
{
    width: 70px; 
    font-size:10pt;
    font-family:courier;
}
samp
{
    FONT-FAMILY: courier; 
    font-size:10pt;
    color:#ffff88
}
.ret
{
    FONT-FAMILY: Helvetica,Times,monospace; 
    font-size:10pt;
    color:#50dddd
}
.fin
{
    font-size:10pt;
    BACKGROUND-COLOR: #000050;
    font-weight: 100;
    color: #f0ffff
}
.fout
{
    font-size:10pt;
    BACKGROUND-COLOR: #003030;
    font-weight: 100;
    COLOR: #f0ffff
}
.func
{
    font-size:10pt;
    BACKGROUND-COLOR: #500000;
    COLOR: #99eeff
}
.proc
{
    font-size:10pt;
    BACKGROUND-COLOR: #005050;
    COLOR: #99eeff
}
.atab
{
    font-size:10pt;
    BACKGROUND-COLOR: #000070;
    COLOR: #99eeff
}
.view
{
    font-size:10pt;
    BACKGROUND-COLOR: #551166;
    COLOR: #99eeff
}
.tsml
{
    BACKGROUND-COLOR: #333366;
    COLOR: #99eeff;
    FONT-SIZE: 8pt
}
.bsml
{
    BACKGROUND-COLOR: #000060;
    COLOR: #99eeff;
    FONT-SIZE: 8pt
}
.hsml
{
    BACKGROUND-COLOR: #006060;
    COLOR: #99eeff;
    FONT-SIZE: 8pt
}
.caption
{
    COLOR: #cccc55;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold
}
.question
{
    BACKGROUND-COLOR: darkred;
    COLOR: whitesmoke
}
.exercise
{
    BACKGROUND-COLOR: darkgreen;
    COLOR: snow
}
.rchallenge
{
    BACKGROUND-COLOR: midnightblue;
    COLOR: silver
}
.version
{
    font-style:italic;
    font-size:15pt;
}
