$def with (header, side_menu, input_form, footer)
<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html>

    <head>
   		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Admin Interface</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" />		
		<link rel="stylesheet" type="text/css" href="static/css/create_new.css" />	
		<link rel="stylesheet" type="text/css" href="static/css/service-details.css" />
		<link rel="stylesheet" type="text/css" href="static/css/menu.css" />    
		<link rel="stylesheet" type="text/css" href="static/js/jquery-treeview/themes/default/easyui.css" />
		<link rel="stylesheet" type="text/css" href="static/js/jquery-treeview/themes/icon.css" />      
			
		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/properties.js"></script>
		<script type="text/javascript" src="static/js/helper_functions.js"></script>
        <script type="text/javascript" src="static/js/menu.js"></script>
        <script type="text/javascript" src="static/js/create_new.js"></script>
     	<script type="text/javascript" src="static/js/jquery-treeview/jquery.easyui.min.js"></script>
        
    </head>
    
    <body>
   
	$:header
	
	$:side_menu
	
	<div id="content">
	
	 	$:input_form
   
    </div>
   	<div id="error"></div>
    
    <div id="container"></div>
    
    $:footer
    	
    </body>

</html>
