$def with (content)
<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html>

    <head>
   		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>TAP Web2.0 Archive Interface</title>
		<link rel="stylesheet" type="text/css" href="static/css/admin-page.css" />	    
        <script type="text/javascript" src="static/js/jquery.js"></script>
        <script type="text/javascript" src="static/js/admin-page.js"></script>
        
    </head>
    
    <body>
	

	<div id="viewer_header"> 
		<h3>Webpy Admin Interface </h3>	 
	</div>	
	
	<div id="gradient"></div>


	<div id="input_div">
		<div id="input_form_container">
			<form method="post" class="input_form">
				<label for="service_select_with_text">Select a database with text:</label> 
				<input name="service_select_with_text" type="text" id="service_select_with_text"/>
				<input type="submit" value="Submit" class="submit" />
				<span>Filter databases based on a text value</span>
				
			</form>

			<br />
		
			
			<form method="post" class="input_form">
				
				<label for="service_select_by_name">Select a database by name:</label> 
				<input name="service_select_by_name" type="text" id="service_select_by_name"/>
				<input type="submit" value="Submit" class="submit" /><br />
				<span>Filter databases by name</span>
				
			</form>
				
			<br />
		
			<form method="post" class="input_form">
				
				<label for="service_create">Create new service :</label> 
				<input name="service_create" type="text" id="service_create"/>
				<input type="submit" value="Submit" class="submit" />
				<span>Enter the name of a new service to add</span>
				
				
			</form>
			
			<br />	
		
		</div>
	<br />
		
	</div>
    
    <div id="container">$:content</div>
    <div id="load"> </div>
    <div id="error"></div>
	

    <br>
	
	
    </body>

</html>
