<div id="input_div">
		<div id="input_form_container">
			<form method="post" class="input_form">
				<label for="db_select_with_text">Select a database with text:</label> 
				<input name="db_select_with_text" type="text" id="db_select_with_text"/>
				<input type="submit" value="Submit" class="submit" />
				<span>Filter databases based on a text value</span>
				
			</form>

			<br />
		
			
			<form method="post" class="input_form">
				
				<label for="db_select_by_name">Select a database by name:</label> 
				<input name="db_select_by_name" type="text" id="db_select_by_name"/>
				<input type="submit" value="Submit" class="submit" /><br />
				<span>Filter databases by name</span>
				
			</form>
				
			<br /><br />	
			<div class='right-aligned'>
				<span >Database type:</span> 
				<select id="db_type" name="db_type">
				  <option value="http://data.metagrid.co.uk/wfau/firethorn/types/adql-service-1.0.json"">ADQL Service</option>
				  <option value="http://data.metagrid.co.uk/wfau/firethorn/types/jdbc-resource-1.0.json">JDBC</option>
				  <option value="all">All</option>
				</select>
			</div>
			<br />	
		
		</div>
	<br />
		
	</div>