$def with (name, created, modified, db_type, available_action, img)

<div id ='sub_item' class='rounded' >
	
	<div id="available_action" style="float:right;text-align:right">$:available_action </div>
	<div id="tree-folder-indiv"><img src=" $:img " /></div>
	<div id='name'><span>Name: </span> $:name</div>
	<div id='created'><span>Created on: </span> $:created</div>
	<div id='modified'><span>Modified on: </span> $:modified</div>
	<div id='db_type' style="display:none">$:db_type</div>
	<br/> 
</div>
