$def with (cur_path,import_input_area)

<head>
<link rel="stylesheet" type="text/css" href="static/static_vospace/styles/reset.css" />
<link rel="stylesheet" type="text/css" href="static/static_vospace/scripts/jquery.filetree/jqueryFileTree.css" />
<link rel="stylesheet" type="text/css" href="static/static_vospace/scripts/jquery.contextmenu/jquery.contextMenu-1.01.css" />
<link rel="stylesheet" type="text/css" href="static/static_vospace/styles/filemanager.css" />
<link rel="stylesheet" type="text/css" href="static/css/superfish.css" />
<link rel="stylesheet" type="text/css" href="static/css/jquery.fancybox.css" />
<link rel="stylesheet" type="text/css" href="static/css/adql_syntax/adql.css" />
<link rel="stylesheet" type="text/css" href="static/css/adql_syntax/codemirror.css" />
<link rel="stylesheet" type="text/css" href="static/css/adql_syntax/simple-hint.css" />
<link rel="stylesheet" type="text/css" href="static/css/dataTables_stylesheets/ColReorder.css" />
<link rel="stylesheet" type="text/css" href="static/css/dataTables_stylesheets/ColVis.css" />
<link rel="stylesheet" type="text/css" href="static/css/dataTables_stylesheets/demo_table_jui.css" />	
<link rel="stylesheet" type="text/css" href="static/css/dataTables_stylesheets/TableTools.css" />


<!--[if IE]>
<link rel="stylesheet" type="text/css" href="styles/ie.css" />
<![endif]-->
</head>
<div id = "vospace_content">
<form id="uploader" method="post">
	<button  class="shadow" id="home" name="home" type="button" value="Home">&nbsp;</button>
	<button  class="shadow" id="prev" name="prev" type="button" value="Previous">&nbsp;</button>
	<input id="mode" name="mode" type="hidden" value="add" /> 
	<input id="currentpath" name="currentpath" type="hidden" /> 
	<input id="cur_workspace" name="cur_workspace" type="hidden" value="" /> 
	<input id="cur_parent_folder" name="cur_parent_folder" type="hidden" value=""/> 
	<input id="cur_parent_name" name="cur_name" type="hidden" value=""/> 
	<ul class="sf-menu" style="margin-left:15px;">
			<li class="current">
				<a class="head_link"><img style="vertical-align:bottom;" src="static/static_vospace/images/add.png" /> &nbsp;Import</a>
				<ul>
					<li>
						<a id="import" type="button" >By Search</a>
					</li>
					<li>
						<a id="upload" type="button" >Upload</a>
					</li>
					<li class="current">
						<a>By URL</a>
						<ul>
							<li class="current"><a>JDBC</a></li>
							<li><a>TAP</a></li>
						</ul>
					</li>
					<li>
						<a id="import" type="button" >Other</a>
					</li>
				
				</ul>
			</li>
			<li>
				<a class="head_link" id="newfolder" type="button">&nbsp;<img style="vertical-align:bottom;" src="static/static_vospace/images/folder_add.png" />&nbsp;New Folder</a>
			</li>
			<li>
				<a class="head_link" id="actions" type="button">&nbsp;<img style="vertical-align:bottom;" src="static/static_vospace/images/application_view_list.png" />&nbsp;Actions</a>
				<ul>
					<li>
						<a id="runquery" type="button" >Run Query</a>
					</li>
				
					<li>
						<a id="share" type="button" >Share</a>
					</li>
					
					<li>
						<a id="other" type="button" >Other</a>
					</li>
				</ul>
			
			</li>
	</ul>
	
	<div style="float:right;">
		<h1></h1>
		<button id="grid" class="ON" type="button">&nbsp;</button>
		<button id="list" type="button">&nbsp;</button>
	</div>
	
</form>

<div id="splitter">
<div id="filetree"></div>
<div id="fileinfo">
<h1></h1>
</div>
</div>


<div id="runquery_dialog" style="margin:0 auto;display:none">


	<form style="" id="runquery_form"  method="post">
	
		<input type="text" id="runquery_input" name="runquery_input"><br/><br/>
		<div id="runquery_response"></div>	
		
	</form>
	
	<form style="" id="query_name_form"  method="post">
		
		Result name: <input type="text" id="query_name" name="query_name"><br/><br/>
		
		
	</form>
	
</div>


<div id="upload_dialog" style="display:none">
	<form id="file_uploader" method="post">
		<input	id="newfile" name="newfile" type="file" />
		<input	id="upload_name" name="upload_name" type="hidden" />
		<button class="button" id="file_upload" name="upload" type="submit" value="Upload">Upload File</button>
		<div id="uploadresponse"></div>	
		
	</form>
</div>

<div id="import_dialog" style="display:none">
	<br />
	$:import_input_area
	<br /><br />
	<div id="import_error" style="display:none;color:red;text-align:center;margin:0 auto;"></div>
	<br /><br />
</div>

<ul id="itemOptions" class="contextMenu">
	<li class="select"><a href="#select"></a></li>
	<li class="download"><a href="#download"></a></li>
	<li class="rename"><a href="#rename"></a></li>
	<li class="move_up"><a href="#move_up"></a></li>
	<li class="get_metadata"><a href="#get_metadata"></a></li>
	<li class="delete separator"><a href="#delete"></a></li>
</ul>

<div id="preview" style="display:none"></div>

<script type="text/javascript" src="static/js/global_vars.js"></script>
<script type="text/javascript" src="static/js/external_libs/dataTables/jquery.lightbox-0.5.js"></script>
<script src="static/js/jquery-ui-1.9.1.custom.js"></script>
<script type="text/javascript" src="static/js/external_libs/adql_syntax/codemirror.js"></script>
<script type="text/javascript" src="static/js/external_libs/adql_syntax/adql.js"></script>
<script type="text/javascript" src="static/js/external_libs/adql_syntax/simple-hint.js"></script>
<script src="static/js/external_libs/dataTables/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/external_libs/dataTables/jquery.dataTables.js" type="text/javascript"></script> 
<script src="static/js/external_libs/dataTables/ColReorder.js" type="text/javascript"></script> 
<script src="static/js/external_libs/dataTables/ColVis.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="static/js/external_libs/dataTables/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8" src="static/js/external_libs/dataTables/TableTools.js"></script> 	
<script type="text/javascript" src="static/js/external_libs/dataTables/Table_Tools_additional.js"></script>
<script src="static/js/external_libs/dataTables/jquery.mousewheel.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/external_libs/dataTables/mwheelIntent.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/external_libs/dataTables/jquery.doubleScroll.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/external_libs/dataTables/parser.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/external_libs/dataTables/jquery.actual.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="static/static_vospace/scripts/jquery.form-2.63.js"></script>
<script type="text/javascript" src="static/static_vospace/scripts/jquery.splitter/jquery.splitter-1.5.1.js"></script>
<script type="text/javascript" src="static/static_vospace/scripts/jquery.filetree/jqueryFileTree.js"></script>
<script type="text/javascript" src="static/static_vospace/scripts/jquery.contextmenu/jquery.contextMenu-1.01.js"></script>
<script type="text/javascript" src="static/static_vospace/scripts/jquery-impromptu.js"></script>
<script type="text/javascript" src="static/static_vospace/scripts/jquery.tablesorter-2.0.5b.min.js"></script>
<script type="text/javascript" src="static/static_vospace/scripts/filemanager.config.js"></script>
<script type="text/javascript" src="static/static_vospace/scripts/filemanager.js"></script>
<script type="text/javascript" src="static/js/superfish.js"></script>
<script type="text/javascript" src="static/js/jquery.fancybox.js"></script>

<script type="text/javascript" src="static/js/supersubs.js"></script>





</div>