$def with (header, side_menu, footer,  content, vospace_content, input_area)
<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html>

    <head>
   		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Admin Interface</title>
   		
   		<link rel="stylesheet" type="text/css" href="static/css/workspace.css" />
   		<link rel="stylesheet" type="text/css" href="static/css/main.css" />
   		<link rel="stylesheet" type="text/css" href="static/css/service-details.css" /> 
		<link rel="stylesheet" type="text/css" href="static/css/menu.css" />    

		<link href="static/css/ui-lightness/jquery-ui-1.9.1.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="static/js/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="static/js/properties.js"></script>
   		<script type="text/javascript" src="static/js/helper_functions.js"></script>
        <script type="text/javascript" src="static/js/menu.js"></script>
        <script type="text/javascript" src="static/js/workspace.js"></script>
        <script type="text/javascript" src="static/js/jquery-treeview/jquery.easyui.min.js"></script>
        
        
    </head>
    
    <body>
	
	$:header
	
	<div id="content">
		$:side_menu
		<div id="container">$:content</div>
	</div>
	
	<div id="error"></div>
	<div id="import_dialog" style="display:none">
		<br />
		$:input_area
		<br /><br />
		<div id="import_error" style="display:none;color:red;text-align:center;margin:0 auto;"></div>
		<br /><br />
	</div>
		
	<div id="vospace_area">$:vospace_content</div>
	
	$:footer

	
    </body>

</html>
