$def with (prefix)

<h1>IRAS_Tables.sql</h1>
<table width='720'><tr>
<td class='d'> Database schema file for the IRAS Point Source Catalog held in
 the WFCAM Science Archive. Contains sql scripts to create
 the relevant tables.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='IRAS/IRAS_TABLE_iras_ascSchema.html#iras_asc'>iras_asc</a></td><td class='t'> Contains the parameters provided for each source in the IRAS associated PSCs.</td></tr>
<tr><td class='atab'><a href='IRAS/IRAS_TABLE_iras_assoc_catsSchema.html#iras_assoc_cats'>iras_assoc_cats</a></td><td class='t'> Contains the parameters provided for the IRAS associated catalogues.</td></tr>
<tr><td class='atab'><a href='IRAS/IRAS_TABLE_iras_pscSchema.html#iras_psc'>iras_psc</a></td><td class='t'> Contains the parameters provided for each source in the IRAS PSC.</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>5056, 2008-08-22 17:58:12 (Fri, 22 Aug 2008)</td></tr>
</tbody>
</TABLE>

