#ImageList_minimizer {
	display:none;
	cursor: pointer;
}

.ImageList_form input:disabled{
	background-color: gray;
}

#content_dbaccess_ImageList_form .error {
	color:red;
	font-size:11px;
}
#ImageList_error {
	color:red;
	font-size:11px;
	
}

#content_dbaccess_ImageList_form #ImageList_error {
	color:red;
	font-size:11px;
}

#content_dbaccess_ImageList_form #ImageList_load {
	display:none;
	margin:0 auto;
	width:100px;
	height:15px;
	text-align:center;
	background: url("../images/ajax-loader.gif") no-repeat;
	
}

#ImageList_results {
	color: #3E3E3E;
    font: 12px "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	display:none;
	
}


#ImageList_getImage_results { 
	display:none;
}
	

#ImageList_getImage_results table { 
	color:#191B19;
}
	
#ImageList_getImage_results center table{
	color: #C2BEAD !important;
}
	
#facebox {
	height:580px;
	width:850px;
	overflow-y:auto;
	overflow-x:auto;
	max-height:85%;
}	
	