<div >

<h1>The Wide Field Astronomy Unit (WFAU)</h1>
<p>
The Wide Field Astronomy Unit at the IfA provides astronomical surveys and
infrastructure through a range of activities:
</p><ul>
<li> Currently working on the Science Archives for the UKIRT Wide-Field
Camera, WFCAM (<a href="http://surveys.roe.ac.uk/wsa/">WSA data release, DR8 September 2010</a>) and the VISTA Survey 
Telescope, (<a href="http://surveys.roe.ac.uk/vsa/">VISTA Science Archive</a>). 
</li><li> It has developed, and now operates, TByte-scale on-line sky surveys
derived from scanning photographic plates observed with the UK Schmidt
telescope in Australia. These include flat-file databases from the broad-band
and H-alpha surveys, and a relational database Catalogue, the SuperCosmos
Science Archive (SSA), built as the prototype of the WFCAM/VISTA science
archive.

</li><li> It is part of the AstroGrid consortium, an e-science project working
towards integrated astronomical database access and advanced data-mining tools,
as part of an international initiative towards the "Virtual Observatory".
</li><li>It has developed, and now operates, on-line Science Archives for the 6dF
galaxy redshift survey being observed by the
AAO with the UK Schmidt Telescope.
</li><li> It maintains an archive of original photographic plates observed with the
UK Schmidt Telescope and copies of photographic sky atlases produced from the
UK, Palomar and ESO Schmidt telescopes. 
</li></ul>


<hr>

</div>