$def with (survey_prefix, content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="expires" content="-1">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>WFAU Home</title>
			
  			<script src="$survey_prefix/static/wfau/scripts/jquery-1.9.0.min.js"></script>
		  	<link rel="stylesheet" href="$survey_prefix/static/wfau/wfau_def_layout.css" type="text/css" media="screen" />
			<link rel="stylesheet" type="text/css" href="$survey_prefix/static/wfau/css/menu.css" />
		 	<script src="$survey_prefix/static/wfau/js/menu.js" type="text/javascript"></script>
			   
</head>
<body>





		<div id="wfau_wrapper">
		
			<div id="wfau_main_top">
							<a id="uoelogo"></a>
			
				<div style="float:left;left:10px;position:absolute"><img src="$survey_prefix/static/wfau/images/moving.png" /></div>
			
				<div id="menu" style="width:500px;margin:0 auto;text-align:center;margin-top:10px;">
				    <ul class="menu">
				        <li><a href="$survey_prefix/wfau" class="current"><span>Home</span></a>
				           </li>
				        <li><a href="$survey_prefix/wfau/about"  class="current"><span>About us</span></a>    
				        </li>
				        <li><a href="#"  class="current"><span>MyWFAU</span></a></li>
				        <li><a href="$survey_prefix/wfau/news"  class="current"><span>News</span></a></li>
				    </ul>
				</div>
							
				
			</div>

			<div id="wfau_content">
				
				
					$:content
					<div class="cleaner"></div>
				
			</div>


			<div id="wfau_footer">
				<p style="text-align: center; margin-right: 25px;">
				
					<i> <span>WFAU, Institute for Astronomy 2012</span>
					</i> &nbsp; (<a href="http://www.roe.ac.uk/ifa">IfA</a> | <a
						accesskey="e" href="http://www.ed.ac.uk/">UoE</a> | <a
						href="http://www.roe.ac.uk/">ROE</a> )

				</p>

				<p style="font-size: 11px;">
					<a href="mailto:wfau-contact@roe.ac.uk">wfau-contact@roe.ac.uk
					</a> | <a href="http://www.roe.ac.uk/ifa/about/Contact.html">Contact
						the IfA</a>



				</p>
				<div class="cleaner"></div>
			</div>

		</div>
		<div class="cleaner"></div>

		<div style="visibility: hidden">
		 <br />
		 <a href="http://apycom.com/">link</a><br />
		</div>

</body>
</html>