$def with (survey_prefix, tooltip_about,tooltip_astrotrop,tooltip_euclid,tooltip_gaia_eso,tooltip_gaia,tooltip_help,tooltip_mywfau,tooltip_news,tooltip_osa,tooltip_other,tooltip_pubs,tooltip_ssa,tooltip_vista,tooltip_vo,tooltip_wfcam)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="expires" content="-1">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>WFAU Home</title>
		    <link rel="stylesheet" href="$survey_prefix/static/wfau/themes/default/default.css" type="text/css" media="screen" />
		    <link rel="stylesheet" href="$survey_prefix/static/wfau/themes/light/light.css" type="text/css" media="screen" />
		    <link rel="stylesheet" href="$survey_prefix/static/wfau/themes/dark/dark.css" type="text/css" media="screen" />
		    <link rel="stylesheet" href="$survey_prefix/static/wfau/themes/bar/bar.css" type="text/css" media="screen" />
			<link href="$survey_prefix/static/wfau/css/nivo-slider.css"
				rel="stylesheet" type="text/css" />
			<link href="$survey_prefix/static/wfau/wfau_style.css"
				rel="stylesheet" type="text/css" />
			<link rel="stylesheet" type="text/css"
				href="$survey_prefix/static/wfau/ddsmoothmenu.css" />
			<link rel="stylesheet"
				href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
			<script src="$survey_prefix/static/wfau/scripts/jquery-1.9.0.min.js"></script>
			<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
			<script type="text/javascript"
				src="$survey_prefix/static/wfau/ddsmoothmenu.js"></script>
			<script type="text/javascript"
				src="$survey_prefix/static/wfau/js/jquery.nivo.slider.js"></script>

			<script type="text/javascript">
				jQuery(window).load(function() {
					 jQuery('#slider').nivoSlider();
				   
			    
			      
			    	  jQuery(".wfautooltip").on('click',  function(){
			    		  window.location.href = jQuery(this).parent().find("a")[0].href;
			    		
			    		  
			    	  });
			    	  
				      jQuery( ".wfautooltip" ).tooltip({
			      		 show: null,
			      		   
			      		    position: {
			      		        my: "center bottom-50",
			      		        at: "center top"
			      		    },
			      		    open: function( event, ui ) {
			      		    	jQuery('.wfautooltip').not(this).tooltip('close');
			      		        ui.tooltip.animate({ top: ui.tooltip.position().bottom - 10 }, "fast" );
			      		    }
			      		
			      		
			      		
			      	});
				      
				});
			</script>
</head>
<body>




		<div id="wfau_wrapper_inner">
			<div id="wfau_wrapper">



				<div id="wfau_main_top">

					<div class="right_header_panel">
						<div id="site_title">
							<a id="uoelogo"></a><br />
						</div>
						<div class="uoe_link_wrapper">
							<h4>Wide-Field Astronomy Unit</h4>
							<a id="uoelink" href="http://www.roe.ac.uk/ifa">Institute for
								Astronomy</a><br /> <a id="uoelink" href="">University of
								Edinburgh</a><br />
						</div>
					</div>
					<div class="slider-wrapper theme-dark">
						<div id="slider" class="nivoSlider">
							<img src="$survey_prefix/static/wfau/images/slider/photo_900x290_04.jpg"
								data-thumb="$survey_prefix/static/wfau/images/slider/photo_900x290_04.jpg"
								alt="" title="#htmlcaption"/> <img
								src="$survey_prefix/static/wfau/images/slider/photo_900x290_05.jpg"
								data-thumb="$survey_prefix/static/wfau/images/slider/photo_900x290_05.jpg"
								alt="" title="#htmlcaption2" /></a> <img
								src="$survey_prefix/static/wfau/images/slider/photo_900x290_03.jpg"
								data-thumb="$survey_prefix/static/wfau/images/slider/photo_900x290_03.jpg"
								alt="" title="#htmlcaption3"/> <img
								src="$survey_prefix/static/wfau/images/slider/photo_900x290_06.jpg"
								data-thumb="$survey_prefix/static/wfau/images/slider/photo_900x290_06.jpg"
								alt="" title="#htmlcaption4" />
						</div>
						<div id="htmlcaption" class="nivo-html-caption">
							<strong>This</strong> is a placeholder for <em>News Article #1</em>.
							
						</div>
						<div id="htmlcaption2" class="nivo-html-caption">
							<strong>This</strong> is a placeholder for <em>News Article #2</em>.
							
						</div>
						<div id="htmlcaption3" class="nivo-html-caption">
							<strong>This</strong> is a placeholder for <em>News Article #3</em>.
							
						</div>
						<div id="htmlcaption4" class="nivo-html-caption">
							<strong>This</strong> is a placeholder for <em>News Article #4</em>.
							
						</div>
					</div>

				</div>




			</div>

			<div id="wfau_content">
				<div id="wfau_content_wrapper">

					<div class="product_box margin_r_10">

						<a href="http://www.roe.ac.uk/~nch/wfcam/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/otherc2.png" /></a>
						<h3 class="wfautooltip"
							title="$tooltip_wfcam">WFCAM
							Science Archive</h3>

					</div>

					<div class="product_box margin_r_10">

						<a href="http://www.roe.ac.uk/~nch/wfcam/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/otherc2.png" /></a>
						<h3 class="wfautooltip"
							title="$tooltip_vista">VISTA
							Science Archive</h3>

					</div>

					<div class="product_box margin_r_10">

						<a href="http://surveys.roe.ac.uk/osa"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/dss2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_osa">OmegaCAM
							Science Archive</h3>

					</div>

					<div class="product_box margin_r_10">
						<a href="http://surveys.roe.ac.uk/ssa/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/usno2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_gaia_eso">Gaia-ESO
							Spectroscopic Survey</h3>

					</div>

					<div class="product_box margin_r_10">
						<a href="http://surveys.roe.ac.uk/ssa/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/usno2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_mywfau">MyWFAU</h3>

					</div>


					<div class="product_box margin_r_10">
						<a href="http://surveys.roe.ac.uk/ssa/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/usno2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_gaia">Gaia</h3>

					</div>


					<div class="product_box margin_r_10">
						<a href="http://surveys.roe.ac.uk/ssa/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/usno2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_euclid">Euclid</h3>

					</div>


					<div class="product_box margin_r_10">
						<a href="http://surveys.roe.ac.uk/ssa/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/usno2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_astrotrop">Astrotrop</h3>

					</div>


					<div class="product_box margin_r_10">
						<a href="http://surveys.roe.ac.uk/wsa/"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/otherc2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_vo">Virtual
							Observatory</h3>
					</div>



					<div class="product_box margin_r_10">

						<a href="http://www.roe.ac.uk/ifa/wfau/cosmos/"><img
							alt="image"
							src="$survey_prefix/static/wfau/images/surveys/cfhtls2.png" /></a>
						<h3 class="wfautooltip"
							title="$tooltip_ssa">SuperCOSMOS</h3>
					</div>


					<div class="product_box margin_r_10">
						<a href="$survey_prefix/wfau/about"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/otherc2.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_about">About
							WFAU</h3>
					</div>



					<div class="product_box margin_r_10">

						<a href="$survey_prefix/wfau/pubs"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/DAO_SPA.png" /></a>
						<h3 class="wfautooltip"
							title="$tooltip_pubs">Publications
							and Presentations</h3>

					</div>

					<div class="product_box margin_r_10">

						<a href="$survey_prefix/wfau/other"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/DAO_SPA.png" /></a>
						<h3 class="wfautooltip"
							title="$tooltip_other">Other
							Projects and Data</h3>
					</div>

					<div class="product_box margin_r_10">

						<a href="$survey_prefix/wfau/news"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/DAO_SPA.png" /></a>
						<h3 class="wfautooltip"
							title="$tooltip_news">News</h3>
					</div>

					<div class="product_box margin_r_10">

						<a href="$survey_prefix/wfau/help"><img alt="image"
							src="$survey_prefix/static/wfau/images/surveys/DAO_SPA.png" /></a>
						<h3 class="wfautooltip" title="$tooltip_help">Help</h3>
					</div>

					<div class="cleaner"></div>

					<div class="cleaner_h20"></div>

					<div class="cleaner"></div>
				</div>
			</div>


			<div id="wfau_footer">
			<div style="float:left;left:10px;position:absolute"><img src="$survey_prefix/static/wfau/images/moving.png" /></div>
				<p style="text-align: center; margin-right: 25px;">
				
					<i> <span>WFAU, Institute for Astronomy 2012</span>
					</i> &nbsp; (<a href="http://www.roe.ac.uk/ifa">IfA</a> | <a
						accesskey="e" href="http://www.ed.ac.uk/">UoE</a> | <a
						href="http://www.roe.ac.uk/">ROE</a> )

				</p>

				<p style="font-size: 11px;">
					<a href="mailto:wfau-contact@roe.ac.uk">wfau-contact@roe.ac.uk
					</a> | <a href="http://www.roe.ac.uk/ifa/about/Contact.html">Contact
						the IfA</a>



				</p>
				<div class="cleaner"></div>
			</div>

		</div>
		<div class="cleaner"></div>

</body>
</html>