a:link{color:#33CCFF; } /* #FF6600 */
a:visited{color:#33CCFF}
a:active{color:#33CCFF; }
a:hover{color:#33CCFF; }  
a.bar:link{color:#33CCFF; text-decoration:none } /* ff3333 */
a.bar:visited{color:#33CCFF; text-decoration:none }
a.bar:active{color:#33CCFF; text-decoration:none }
a.bar:hover{color:white; text-decoration:none} /* navy */
body {font-family: Arial, Helvetica, sans-serif; font-size: 11pt color: #FFFFFF}  


BIG { font-size : 120%}

BODY { margin:0px; }

table.form{background:#333333}

.thumb_big {
height: 610px;
width: 610px;
          }

.thumb {
height: 84px;
width: 84px;
          }