$def with (prefix)

<h1>GLIMPSE_Tables.sql</h1>
<table width='720'><tr>
<td class='d'> Database schema file for the GLIMPSE Highly Reliable Catalog and the
 GLIMPSE More Complete Archive held in the WFCAM Science Archive.
 Contains sql scripts to create the relevant tables.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='GLIMPSE/GLIMPSE_TABLE_glimpse1_hrcSchema.html#glimpse1_hrc'>glimpse1_hrc</a></td><td class='t'> Contains the parameters provided for each source in the GLIMPSEI Highly Reliable Catalog.</td></tr>
<tr><td class='atab'><a href='GLIMPSE/GLIMPSE_TABLE_glimpse1_mcaSchema.html#glimpse1_mca'>glimpse1_mca</a></td><td class='t'> Contains the parameters provided for each source in the GLIMPSEI More Complete Archive.</td></tr>
<tr><td class='atab'><a href='GLIMPSE/GLIMPSE_TABLE_glimpse2_hrcSchema.html#glimpse2_hrc'>glimpse2_hrc</a></td><td class='t'> Contains the parameters provided for each source in the GLIMPSEII Highly Reliable Catalog.</td></tr>
<tr><td class='atab'><a href='GLIMPSE/GLIMPSE_TABLE_glimpse2_mcaSchema.html#glimpse2_mca'>glimpse2_mca</a></td><td class='t'> Contains the parameters provided for each source in the GLIMPSEII More Complete Archive.</td></tr>
<tr><td class='atab'><a href='GLIMPSE/GLIMPSE_TABLE_glimpse_hrc_interSchema.html#glimpse_hrc_inter'>glimpse_hrc_inter</a></td><td class='t'> Contains the parameters provided for each source in the GLIMPSE Highly Reliable Catalog (intermediate).</td></tr>
<tr><td class='atab'><a href='GLIMPSE/GLIMPSE_TABLE_glimpse_mca_interSchema.html#glimpse_mca_inter'>glimpse_mca_inter</a></td><td class='t'> Contains the parameters provided for each source in the GLIMPSE More Complete Archive (intermediate).</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>5243, 2008-10-31 14:03:50 (Fri, 31 Oct 2008)</td></tr>
</tbody>
</TABLE>

