$def with (survey_prefix)

	<div style="float:left;margin-left:25px;margin-right:10px;margin-top:4px;"><a href="$survey_prefix"><img class="logo-image" src="$survey_prefix/static/images/logo-small.png"></img></a></div>

	<div class="navigation">
		<a href="#home_div" id="home_footer">Home</a> | 
		<a href="#dboverview_div" id="dboverview_footer">Overview</a> | 
		<a href="#roe_browser_div" id="roe_browser_footer">Browser</a> | 
		<a href="#dbaccess_div" id="dbaccess_footer">Access</a> |
		<a href="#dbaccess_login_div" id="dbaccess_login_footer">Login</a> |
		<a href="#sqlcookbook_div" id="sqlcookbook_footer">Cookbook</a> |
		<a href="#dbaccess_ImageList_form_div" id="dbaccess_ImageList_form_footer">Listing</a> |
		<a href="#dbaccess_SQL_form_div" id="dbaccess_SQL_form_footer">FreeSQL</a> | 
		<a href="#links_div" id="links_footer">Links</a> |
		<a href="#contactus_div" id="contactus_footer">Contact</a>
	</div>
			
	<p style="text-align:center;margin-right:25px;">
		<i>
			<span>WFAU, Institute for Astronomy 2012</span> 					
		</i>
			
			&nbsp; (<a href="http://www.roe.ac.uk/ifa">IFA</a> | <a href="http://www.roe.ac.uk/">ROE</a> | <a href="$survey_prefix/wfau" id="wfau">WFAU</a>)
	</p>