$def with (survey_prefix)

        <ul class="navigation">
            <li class="main_menu_li"><a href="#home_div" id="home">OSA Home</a></li>
            
            <li class="main_menu_li"><a href="#help_div" id="help">Help</a>
            	<ul class="sub_menu_navigation"> 
            	 	<li><a href="#startHere_div" id="startHere">Start Here</a></li>
            		<li><a href="#sqlcookbook_div" id="sqlcookbook">SQL Cookbook</a></li>
            		<li><a href="#glossary_div" id="glossary">Glossary</a></li>
            		<li><a href="#qa_div" id="qa">Q&amp;A</a></li>
			<li><a href="#helpdesk_div" id="helpdesk">Helpdesk</a></li>
            	</ul>
            </li>

            <li class="main_menu_li"><a href="#archive_explorer_div" id="archive_explorer">Archive Information</a>
            	<ul class="sub_menu_navigation"> 
   		            <li><a href="#dboverview_div" id="dboverview">Data Overview</a></li>
   			    <li><a href="#coverage_maps_div" id="coverage_maps">Coverage Maps</a></li>
   		            <li><a href="#theSurveys_div" id="theSurveys">VST Atlas Survey</a></li>
            		<li><a href="#releasehistory_div" id="releasehistory">Release History</a></li>
            		<li><a href="#monitor_div" id="monitor">Data Monitor</a></li>
            		<li><a href="#downtime_div" id="downtime">Downtime</a></li>
            	</ul>
            </li>
            
            <li class="main_menu_li"><a  href="#dbaccess_div" id="dbaccess">Data access</a>	
            	<ul class="sub_menu_navigation">  
            		<li><a href="#dbaccess_ImageList_form_div" id="dbaccess_ImageList_form">File Listing</a></li>
		            <li><a href="#dbaccess_getImage_form_div" id="dbaccess_getImage_form">GetImage</a></li>
		            <li><a href="#dbaccess_MultiGetImage_form_div" id="dbaccess_MultiGetImage_form">MultiGetImage</a></li>
		            <li><a href="#dbaccess_region_form_div" id="dbaccess_region_form">Region</a></li>
		            <li><a href="#dbaccess_SQL_form_div" id="dbaccess_SQL_form">Freeform SQL</a></li>
		            <li><a href="#dbaccess_crossID_form_div" id="dbaccess_crossID_form">CrossID</a></li>
		       	</ul>
            </li>
            
            <li class="main_menu_li"><a href="#roe_browser_div" id="roe_browser">Schema browser</a></li>
            <li class="main_menu_li"><a href="#knownIssues_div" id="knownIssues">Known Issues</a></li>
            
  
            <li class="main_menu_li"><a href="#documentation_div" id="documentation">Documents</a>
            	<ul class="sub_menu_navigation"> 
   					<li><a href="#pubs_div" id="pubs">Publications</a></li>

           			<li><a href="#links_div" id="links">Links</a></li>
            	</ul>
            </li>
            
            <li class="main_menu_li"><a href="#gallery_div" id="gallery">Gallery</a></li>
            <li class="main_menu_li"><a href="#dbaccess_voexplorer_div" id="dbaccess_voexplorer">VO Query</a></li>
            <li class="main_menu_li"><a href="#contactus_div" id="contactus">Contact us</a></li>
        </ul>
        
