#getImage_minimizer {
	display:none;
	cursor: pointer;
}

.getImage_form input:disabled{
	background-color: gray;
}

#content_dbaccess_getImage_form .error {
	color:red;
	font-size:11px;
}


#content_dbaccess_getImage_form #getImage_error {
	color:red;
	font-size:11px;
}

#content_dbaccess_getImage_form #getImage_load {
	display:none;
	margin:0 auto;
	width:100px;
	height:15px;
	text-align:center;
	background: url("../images/ajax-loader.gif") no-repeat;
	
}

#getImage_results { 
		display:none;
	}
	
#getImage_results table { 
		color:#191B19;
		
	}
	
#getImage_results center table{
		color: #C2BEAD !important;
	}
	
#getImage_results_secondary {
		display:none;
		width: 800px;
	} 
	
#getImage_results_secondary a {
		color:red;
}	
	
#getImage_results_secondary a:hover { 
		color: gray;
}

#facebox {
	height:580px;
	overflow-y:auto;
	overflow-x:hidden;
	max-height:85%;
}	
