#pixel_minimizer {
	display:none;
	cursor: pointer;
}


.pixel_form input:disabled{
	background-color: gray;
}

.pixel_form .submit_button, .pixel_form .submit_button:visited, .pixel_form .submit_button:link{
	text-decoration:none;
	outline:none;
}

#content_dbaccess_pixel_form .error {
	color:red;
	font-size:11px;
}


#content_dbaccess_pixel_form #pixel_error {
	color:red;
	font-size:11px;
}

#content_dbaccess_pixel_form #pixel_load {
	display:none;
	margin:0 auto;
	width:100px;
	height:15px;
	text-align:center;
	background: url("../images/ajax-loader.gif") no-repeat;
	
}

#pixel_results { 
	display:none;
	overflow-x: auto; 
    min-width:100%;
    height:100%;
	max-width:100%;
}
	

#pixel_results table { 
	color:#191B19;
}
	
#pixel_results center table{
	color: #C2BEAD !important;
}

	
#facebox {
	height:580px;
	overflow-y:auto;
	overflow-x:hidden;
	width: 70%;
	max-height:85%;
}

#facebox .content {
  display:table;
  width:100%;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#content_dbaccess_pixel_form .submit_button {
    background: -moz-linear-gradient(center top , #8CBFC2 0%, #519093 100%) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 13px;
    height: 24px;
    outline: medium none;
    padding: 4px 10px;
    text-shadow: 0 1px 1px #003547;
    width: 115px;
}

#content_dbaccess_pixel_form .submit_button:hover {
	background: none repeat scroll 0 0 #8CBFC2;
	text-decoration: none;	
}