#MultiGetImage_minimizer {
	display:none;
	cursor: pointer;
}


.MultiGetImage_form input:disabled{
	background-color: gray;
}

#content_dbaccess_MultiGetImage_form .error {
	color:red;
	font-size:11px;
}


#content_dbaccess_MultiGetImage_form #MultiGetImage_error {
	color:red;
	font-size:11px;
}

#content_dbaccess_MultiGetImage_form #MultiGetImage_load {
	display:none;
	margin:0 auto;
	width:100px;
	height:15px;
	text-align:center;
	background: url("../images/ajax-loader.gif") no-repeat;
	
}

#MultiGetImage_results { 
		display:none;
	}
	
#MultiGetImage_results table { 
		color:#191B19;
	}
	
#MultiGetImage_results center table{
		color: #C2BEAD !important;
	}
	
#facebox {
	height:580px;
	overflow-y:auto;
	overflow-x:hidden;
	max-height:85%;
	width:700px;
}	

#multiget_loadImage {

    background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #777777;
    cursor: pointer;
    display: inline;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 12px;
    margin-right: 5px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
	
}