<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoASOV</display-name>
  
  <servlet>
    <display-name>Demo UWS ASOV</display-name>
    <servlet-name>DemoUWS_Servlet</servlet-name>
    <servlet-class>asov.uws.DemoUWS_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoUWS_Servlet</servlet-name>
    <url-pattern>/uws/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Demo TAP ASOV</display-name>
    <servlet-name>DemoTAP_Servlet</servlet-name>
    <servlet-class>asov.tap.DemoTAP_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoTAP_Servlet</servlet-name>
    <url-pattern>/tap/*</url-pattern>
  </servlet-mapping>
  
</web-app>