$def with (prefix)

<h1>OSA_CurationLogsSchema.sql</h1>
<table width='720'><tr>
<td class='d'>  Database schema file to create OSA curation tables in SQL.
  NB: Tables are ordered by foreign key dependencies.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ArchiveCurationHistorySchema.html#ArchiveCurationHistory'>ArchiveCurationHistory</a></td><td class='t'> Contains details of the matrix of the Archives' required curation tasks.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_AstrCalVersSchema.html#AstrCalVers'>AstrCalVers</a></td><td class='t'> Contains a record for every astrometric calibration version in the archive.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_CurationTaskSchema.html#CurationTask'>CurationTask</a></td><td class='t'> Contains a list of all curation tasks that are used within the OSA.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ExternalSurveySchema.html#ExternalSurvey'>ExternalSurvey</a></td><td class='t'> A list of all externally produced survey products held in the OSA.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ExternalSurveyTableSchema.html#ExternalSurveyTable'>ExternalSurveyTable</a></td><td class='t'> Contains information about the external surveys tables.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_FilterSchema.html#Filter'>Filter</a></td><td class='t'> Contains details of the OMEGACAM filters.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_PhotCalVersSchema.html#PhotCalVers'>PhotCalVers</a></td><td class='t'> Contains details of all photometric calibration versions in the OSA.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ProductLinksSchema.html#ProductLinks'>ProductLinks</a></td><td class='t'> Contains links between different products, e.g. tiles and stacks, mosaics and tiles, mosaics and stacks</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ProgrammeSchema.html#Programme'>Programme</a></td><td class='t'> Contains details of the OMEGACAM observation programmes.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ProgrammeCurationHistorySchema.html#ProgrammeCurationHistory'>ProgrammeCurationHistory</a></td><td class='t'> Contains details of the matrix of programmes and required curation tasks.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ProgrammeTableSchema.html#ProgrammeTable'>ProgrammeTable</a></td><td class='t'> Contains details of the set of curated tables for each programme.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_ReleaseSchema.html#Release'>Release</a></td><td class='t'> Contains the release details for a survey curated within the OSA.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_RequiredDiffImageSchema.html#RequiredDiffImage'>RequiredDiffImage</a></td><td class='t'> Contains details of default difference image products curated in the archive.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_RequiredFiltersSchema.html#RequiredFilters'>RequiredFilters</a></td><td class='t'> Contains required filters used for every programme held in the OSA.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_RequiredListDrivenProductSchema.html#RequiredListDrivenProduct'>RequiredListDrivenProduct</a></td><td class='t'> Contains programmes/surveys required for list-driven co-located photometry.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_RequiredNeighboursSchema.html#RequiredNeighbours'>RequiredNeighbours</a></td><td class='t'> Details programmes/survey tables that have default joins within the OSA.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_RequiredStackSchema.html#RequiredStack'>RequiredStack</a></td><td class='t'> Contains details of default stack image products curated in the archive.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_SurveySchema.html#Survey'>Survey</a></td><td class='t'> Contains information about the curated surveys within the OSA.</td></tr>
<tr><td class='atab'><a href='OSA/OSA_TABLE_SurveyProgrammesSchema.html#SurveyProgrammes'>SurveyProgrammes</a></td><td class='t'> Contains details of which programme(s) belong to which survey(s)</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>9668, 2013-01-23 12:22:25 (Wed, 23 Jan 2013)</td></tr>
</tbody>
</TABLE>

