$def with (prefix)

<h1>OSA_PS_Views.sql</h1>
<table width='720'><tr>
<td class='d'>  This script creates the required indices for release databases and curation
  purposes. The script is coded as a set of T-SQL batches so this script can
  be manually played on the load server through Query Analyser. Additionally,
  curation application codes can read this script, parse it for the indices
 created and use this information to enable individual index drop/create
  calls as well as a complete index creation run (i.e. CU18).
</td></tr></table>
<table width='720'>

<tr><td class='h'>Latest Revision:</td><td class='h'>9344, 2012-08-03 11:28:27 (Fri,  3 Aug 2012)</td></tr>
</tbody>
</TABLE>

