$def with (prefix)

<h1>COMMON_StoredProcsAndFuncs.sql</h1>
<table width='720'><tr>
<td class='d'>  Schema for stored <font class='func'>functions</font>,
  <font class='proc'>procedures</font>, and ancillary
  <font class="atab">tables</font>.<br>
  Contains sql script to create all stored functions and procedures.
  based on: sp_HTML.sql from Jim Gray;
            Pure HTM functions (working off HTM table) V1 June 2002,
            based on SkyServer design of Alex Szalay and Jim Gray;
            Jim Gray's performance monitoring stuff from
            SkyServer_MyTimeX.sql (version of Nov-13-2001)
</td></tr></table>
<table width='720'>
<tr><td class='func'><a href='OSA/OSA_FUNCTION_fDMSSchema.html#fDMS'>fDMS</a></td><td class='t'> Convert declination in degrees to +dd:mm:ss.ss notation.</td></tr>
<tr><td class='func'><a href='OSA/OSA_FUNCTION_fDMSbaseSchema.html#fDMSbase'>fDMSbase</a></td><td class='t'> Base function to convert declination in degrees to +dd:mm:ss.ss notation.</td></tr>
<tr><td class='func'><a href='OSA/OSA_FUNCTION_fGreatCircleDistSchema.html#fGreatCircleDist'>fGreatCircleDist</a></td><td class='t'> Returns float holding great circle distance between two points (ra1,dec1) & (ra2,dec2).</td></tr>
<tr><td class='func'><a href='OSA/OSA_FUNCTION_fHMSSchema.html#fHMS'>fHMS</a></td><td class='t'> Convert right ascension in degrees to +hh:mm:ss.ss notation.</td></tr>
<tr><td class='func'><a href='OSA/OSA_FUNCTION_fHMSbaseSchema.html#fHMSbase'>fHMSbase</a></td><td class='t'> Base function to convert right ascension in degrees to +hh:mm:ss.ss notation.</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>9228, 2012-06-20 12:50:26 (Wed, 20 Jun 2012)</td></tr>
</tbody>
</TABLE>

