$def with (prefix)

<h1>TWOMASS_Tables.sql</h1>
<table width='720'><tr>
<td class='d'> Database schema file for the TWOMASS Source Catalogues held in
 the WFCAM Science Archive. Contains sql scripts to create
 the relevant tables.
</td></tr></table>
<table width='720'>
<tr><td class='atab'><a href='TWOMASS/TWOMASS_TABLE_twomass_pscSchema.html#twomass_psc'>twomass_psc</a></td><td class='t'> Contains the parameters provided for each source in the TWOMASS All Sky Release PSC.</td></tr>
<tr><td class='atab'><a href='TWOMASS/TWOMASS_TABLE_twomass_scnSchema.html#twomass_scn'>twomass_scn</a></td><td class='t'> Contains the parameters in the Scan Information Table.</td></tr>
<tr><td class='atab'><a href='TWOMASS/TWOMASS_TABLE_twomass_sixx2_pscSchema.html#twomass_sixx2_psc'>twomass_sixx2_psc</a></td><td class='t'> Contains the parameters provided for each source in the TWOMASS Long Exposure (6x) Scan PSC.</td></tr>
<tr><td class='atab'><a href='TWOMASS/TWOMASS_TABLE_twomass_sixx2_scnSchema.html#twomass_sixx2_scn'>twomass_sixx2_scn</a></td><td class='t'> Contains the parameters in the Scan Information Table.</td></tr>
<tr><td class='atab'><a href='TWOMASS/TWOMASS_TABLE_twomass_sixx2_xscSchema.html#twomass_sixx2_xsc'>twomass_sixx2_xsc</a></td><td class='t'> Contains the parameters provided for each source in the TWOMASS Long Exposure (6x) Scan XSC.</td></tr>
<tr><td class='atab'><a href='TWOMASS/TWOMASS_TABLE_twomass_xscSchema.html#twomass_xsc'>twomass_xsc</a></td><td class='t'> Contains the parameters provided for each source in the TWOMASS All Sky Release XSC.</td></tr>

<tr><td class='h'>Latest Revision:</td><td class='h'>8253, 2011-05-13 13:43:06 (Fri, 13 May 2011)</td></tr>
</tbody>
</TABLE>

