<?xml version="1.0" encoding="UTF-8"?>
<!--+
    |
    | Copyright (c) 2018, ROE (http://www.roe.ac.uk/)
    | All rights reserved.
    |
    | This program is free software: you can redistribute it and/or modify
    | it under the terms of the GNU General Public License as published by
    | the Free Software Foundation, either version 3 of the License, or
    | (at your option) any later version.
    |
    | This program is distributed in the hope that it will be useful,
    | but WITHOUT ANY WARRANTY; without even the implied warranty of
    | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    | GNU General Public License for more details.
    |
    | You should have received a copy of the GNU General Public License
    | along with this program.  If not, see <http://www.gnu.org/licenses/>.
    |
    +-->
<configuration scan="true">

    <!--+
        | Rolling log for INFO and above.
        | Rollover daily, max file size is 250MB (before compression), 4 days history, total size limit of 1GB.
        +-->
    <appender name="info-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/firethorn-info.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] [%logger{0}] %message %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Rollover daily -->
            <fileNamePattern>logs/firethorn-info-%d{yyyyMMdd, UTC}-%i.log.gz</fileNamePattern>
            <!-- Each file should be at most 250MB -->
            <maxFileSize>250MB</maxFileSize>    
            <!-- Keep 4 days of history -->
            <maxHistory>4</maxHistory>
            <!-- Maximum 1GB of disc space -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--+
        | Rolling log for ERROR messages.
        | Rollover daily, max file size is 250MB (before compression), 4 days history, total size limit of 1GB.
        +-->
    <appender name="error-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/firethorn-error.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] [%logger{0}] %message %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Rollover daily -->
            <fileNamePattern>logs/firethorn-error-%d{yyyyMMdd, UTC}-%i.log.gz</fileNamePattern>
            <!-- Each file should be at most 250MB -->
            <maxFileSize>250MB</maxFileSize>    
            <!-- Keep 4 days of history -->
            <maxHistory>4</maxHistory>
            <!-- Maximum 1GB of disc space -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--+
        | Rolling log for DEBUG and above.
        | Rollover hourly, max file size is 1GB (before compression), 4 hours history, total size limit of 4GB.
        +-->
    <appender name="debug-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/firethorn-debug.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] [%logger{0}] %message %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Rollover hourly -->
            <fileNamePattern>logs/firethorn-debug-%d{yyyyMMddHH, UTC}-%i.log.gz</fileNamePattern>
            <!-- Each file should be at most 1GB -->
            <maxFileSize>1GB</maxFileSize>    
            <!-- Keep 4 hours of history -->
            <maxHistory>4</maxHistory>
            <!-- Maximum 4GB of disc space -->
            <totalSizeCap>4GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--+
        | Rolling log for TRACE and above.
        | Rollover hourly, max file size is 1GB (before compression), 4 hours history, total size limit of 4GB.
        +-->
    <appender name="trace-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/firethorn-trace.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] [%logger{0}] %message %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Rollover hourly -->
            <fileNamePattern>logs/firethorn-trace-%d{yyyyMMddHH, UTC}-%i.log.gz</fileNamePattern>
            <!-- Each file should be at most 1GB -->
            <maxFileSize>1GB</maxFileSize>    
            <!-- Keep 4 hours of history -->
            <maxHistory>4</maxHistory>
            <!-- Maximum 8GB of disc space -->
            <totalSizeCap>8GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--+
        | Different appenders with different levels.
        | https://stackoverflow.com/a/23894254
        | https://stackoverflow.com/a/13284960
        +-->
    <root level="ALL">
        <appender-ref ref="info-log" />
        <appender-ref ref="error-log" />
        <appender-ref ref="debug-log" />
        <appender-ref ref="trace-log" />
    </root>
    
    <!--+
        | Firethorn logging.
        +-->
    <logger name="uk.ac.roe.wfau.firethorn">
        <level value="TRACE"/>
    </logger>
    <logger name="uk.ac.roe.wfau.firethorn.adql.parser">
        <level value="DEBUG"/>
    </logger>
    <logger name="uk.ac.roe.wfau.firethorn.util.xml">
        <level value="WARN"/>
    </logger>

    <!--+
        | Spring loggers.
        +-->
    <logger name="org.springframework">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.core">
        <level value="DEBUG" />
    </logger>
    <logger name="org.springframework.beans">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.context">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.http">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.aop">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.jdbc">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.orm">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.web">
        <level value="INFO" />
    </logger>
    <!--logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <level value="WARN" />
    </logger-->

    <!--+
        | Spring scheduling.
        +-->
    <logger name="org.springframework.scheduling">
        <level value="DEBUG" />
    </logger>

    <!--+
        | Spring transactions.
        | http://stackoverflow.com/questions/1965454/spring-transaction-show-in-log
        +-->
    <logger name="org.springframework.transaction">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.transaction.interceptor">
        <level value="INFO" />
    </logger>

    <!--+
        | Hibernate loggers.
        +-->
    <logger name="org.hibernate">
        <level value="INFO" />
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="INFO" />
    </logger>

    <!--+
        | Hibernate 'proxy narrowing' warning.
        | https://jira.atlassian.com/browse/CONF-4981
        | http://opensource.atlassian.com/projects/hibernate/browse/HHH-1367
        | https://forum.hibernate.org/viewtopic.php?p=2404391
        | https://forum.hibernate.org/viewtopic.php?f=1&t=1030440
        | https://hibernate.atlassian.net/browse/HHH-1367
        +-->
    <logger name="org.hibernate.engine.internal.StatefulPersistenceContext">
        <level value="ERROR" />
    </logger>
    <logger name="org.hibernate.proxy.pojo.javassist.JavassistLazyInitializer">
        <level value="ERROR" />
    </logger>
    <logger name="org.hibernate.proxy.pojo.bytebuddy.ByteBuddyInterceptor">
        <level value="ERROR" />
    </logger>

    <!--+
        | C3PO loggers
        | Includes strange DEBUG via Exception logging.
        | http://stackoverflow.com/questions/8403227/weird-error-close-by-client-stack-trace
        | http://forum.springsource.org/archive/index.php/t-47689.html 
        | https://forum.hibernate.org/viewtopic.php?f=1&t=982410
        +-->
    <logger name="com.mchange">
        <level value="INFO" />
    </logger>
    <logger name="com.mchange.v2.async">
        <level value="INFO" />
    </logger>
    <logger name="com.mchange.v2.c3p0.impl.C3P0ImplUtils">
        <level value="WARN" />
    </logger>

    <!--+
        | StarLink loggers.
        +-->
    <logger name="uk.ac.starlink">
        <level value="INFO" />
    </logger>

    <!--+
        | OGSA-DAI loggers.
        +-->
    <logger name="uk.org.ogsadai">
        <level value="INFO" />
    </logger>

    <!--+
        | Liquibase loggers.
        +-->
    <logger name="liquibase">
        <level value="WARN" />
    </logger>
    <!--logger name="liquibase.changelog.ChangeSet">
        <level value="WARN" />
    </logger>
    <logger name="liquibase.ext.logging">
        <level value="WARN" />
    </logger-->

</configuration>

