$def with (survey_prefix)
<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'browsermain';
		init_scrolling_mechanism(this_div_name);
</script>

 <div id="content_browsermain">
	<h2>Available Browsers for the VST Science Archive</h2>
	
	<p>
	This page will host links to all, current and old, versions of the Schema 
	browser pages. The current version will always be at the top of this page.
	</p>
	
	<ul>
	<li><a class="bar"  class="ext_links_browsermain" href="#roe_browser_div"  title="Schema listings of databases, tables and columns held in the archive">
	<b>VDFSR1 Schema browser</b></a> and
	<a class="bar" class="ext_links_browsermain" href="#gloss_div" href="gloss/gloss_a" title="glossary of attributes held in the archive">
	<b>Glossary</b></a><br>
	Release of First batch of Science Verification data<br>
	Version: Month 1st 2009</li>
	</ul> 
	For more information about the different releases visit the <a  class="ext_links_browsermain" href="#releasehistory_div" >Release History</a>.
</div>