$def with (survey_prefix)
<h1>Contact us</h1>
<div id="contact_form">
     <span style="font-style:italic">Feel free to contact us for any questions or comments at:</span><br /><br />
     <div style="height:40px;"><img style="width:40px" src="$survey_prefix/static/images/contact_hover.png"></img><a class="button" style="position:relative;top:-12px;margin-left:10px;" href="mailto:osa-support@roe.ac.uk">osa-support@roe.ac.uk</a></div> 
     <br />
     
     <span>
      WFAU, Institute for Astronomy 2012
  	   Royal Observatory, Blackford Hill<br />
		Edinburgh, EH9 3HJ, UK<br />
		Tel +44 131 668 8356 (office)<br />
		or +44 131 668 8100 (switchboard)
	</span>
	<br /><br />
                  
</div>