$def with (survey_prefix)

<h2>Credits and Acknowlegements</h2>

<p>
The SuperCOSMOS Sky Survey project, whose results are presented 
in the SuperCOSMOS Science Archive, owes its existence and success 
to a large number of individuals. On the hardware side, many people 
at the former Royal Observatory Edinburgh (many now within the United 
Kingdom Astronomy Technology Centre)  were involved; particular thanks 
are due to Bill Cormack, Lance Miller, Magnus Paterson, Jim Herd, Janette 
Jameson, Tom Paul, Richard Bennett and Joel Sylvester. On the software side, 
we acknowledge the support of Steven Beard, Clive Davenhall, Bernard McNally 
and Mike Irwin. Obviously, the surveys would have been impossible without 
the diligence of many observers at the Schmidt telescopes, and many talented
 photographers in the development and copying laboratories. On the UK Schmidt 
side, we acknowledge the efforts of Malc Hartley, Ken Russell, Russell Cannon, 
Debi Allan, Fenella Stuart-Hamilton and Jason Cowan. Funding for the Wide Field 
Astronomy Unit at the Institute for Astronomy at the University of Edinburgh 
is provided by the UK Science and Technology Facilities Council (formerly
PPARC). We acknowledge the use of Starlink computing 
facilities at the Institute for Astronomy, and thank Microsoft for provision 
of the SQL Server database management system via the Academic Alliance scheme.</p>

<p>
 The National Geographic Society-Palomar Observatory Sky Survey (POSS-I) was
 made by the California Institute of Technology with grants from the National
 Geographic Society. The UK Schmidt Telescope was operated by the Royal
 Observatory Edinburgh, with funding from the UK Science and Engineering Research
 Council (later the UK Particle Physics and Astronomy Research Council), until 1988
 June, and thereafter by the Anglo-Australian Observatory. The blue plates of the
 southern sky atlas and its equatorial extension (together known as the SERC-J/EJ) as
 well as the Equatorial Red (ER), the second-epoch (red) Survey (SES or AAO-R)
 and the infrared (SERC-I) Survey were taken with the UK Schmidt Telescope. All
 data retrieved from the SuperCOSMOS Science Archive are subject to the copyright 
given in this copyright summary. Copyright information specific to individual plates is
 provided in the headers of the FITS files downloadable from the 
<a href="http://www-wfau.roe.ac.uk/sss/pixel.html">SuperCOSMOS Sky Survey image extraction
page</a>.</p>

<p>
Special thanks go to Jim Gray (MicroSoft Research) and Alex Szalay and Ani Thakar (Johns Hopkins 
University), without whose detailed help and advice over many months
the creation of the SuperCOSMOS Science Archive would have been immeasurably harder.</p>

<h3> Acknowledging use of the SuperCOSMOS Science Archive </h3>

<p>
If you have used the SuperCOSMOS Science Archive for your research, please include the following 
acknowledgement in any publications: <br>
<i>This research has made use of data obtained from the SuperCOSMOS Science Archive, 
prepared and hosted by the Wide Field Astronomy Unit, Institute for Astronomy, University 
of Edinburgh, which is funded by the UK Science and Technology Facilities Council.</i>


</p>
