$def with (form, text, selected_db, endpoint_arrangement, survey_prefix)
<link rel="stylesheet" type="text/css" href="$survey_prefix/static/static_vo_tool/style_vo_tool.css" />
<link rel="stylesheet" href="$survey_prefix/static/css/adql_syntax/codemirror.css">
<link rel="stylesheet" href="$survey_prefix/static/css/adql_syntax/adql.css">
<link rel="stylesheet" href="$survey_prefix/static/css/adql_syntax/simple-hint.css">
<script src="$survey_prefix/static/js/adql_syntax/codemirror.js"></script>
<script src="$survey_prefix/static/js/adql_syntax/adql.js"></script>
<script src="$survey_prefix/static/js/adql_syntax/simple-hint.js"></script>
<script type="text/javascript" src="$survey_prefix/static/js/cookie_functions.js"></script>
<script type="text/javascript" src="$survey_prefix/static/static_vo_tool/js/functions.js"></script>
<script type="text/javascript" src="$survey_prefix/static/js/Table_Tools_additional.js"></script>
<script type="text/javascript" src="$survey_prefix/static/js/samp.js"></script>
<script type="text/javascript" src="$survey_prefix/static/js/samp_helper.js"></script>	

<link rel="stylesheet" type="text/css" href="$survey_prefix/static/js/fancybox/jquery.fancybox.css" media="screen" />
<script type="text/javascript" src="$survey_prefix/static/js/fancybox/jquery.fancybox.js"></script>
<script src="$survey_prefix/static/static_vo_tool/js/freeformJS.js" type="text/javascript"></script>  	
<link rel="icon" type="image/png" href="$survey_prefix/static/static_vo_tool/icon2.png">

	
<style>
 
#facebox {
	height:580px;
	overflow-y:auto;
	overflow-x:hidden;
	max-height:85%;
	
}	                            
</style>

<div id="content_dbaccess_SQL_form">
    <h2>Freeform Query</h2>
	This form allows you to submit a query to the OSA database ( <a
		class="facebox_links" href="#sqlFormNotes_div">notes
		and tips</a> ).<br />
		Select from the list of Data Releases and execute you query
	    <br /><br />
    <div class="example_alt_pagination">
	
	<div id="container_index">
	
	
    <div id="toggle_metadata" class="toggle_metadata"></div>

	<div id="searchbar">	
	
	        <form class="form" method="post" name='form'> 
	         <input class="button" type="submit" value="Send Query">

	         
	             $:form.render() 
		    	
	        </form>
	        <a id="clear_query">Clear Query</a>
	        
	        <p style="font-size:11px;margin-left:85px;font-style:italic;color:#81F781;width:480px">
	          Press ctrl-space for autocompletion (Load the Table Metadata to include tables)
	          
	        </p>
	        <div id="toggle_endpoints">
	        	<a id="toggle_endpoints_a">Database(s)</a>
	        </div>

 
			<div id="settings">
				<a id="settings_a">Settings</a>
			</div>

					       
				
			  <form style="display:none">
			  	<input name="endpoint_arrangement" type="hidden" id="endpoint_arrangement"  value="$:endpoint_arrangement" /> 
			    <input type="radio" name="cache_selection" value="1" checked> <span style="vertical-align: 10%;">Cached</span> 
			  </form>
	 	
	</div>


		
		
	<div id="endpoints_form">
		<p>Please select one or more Data Releases from the available list (Click "Done" when ready)</p>
		<form class="endpoints_form" method="post" name='endpoints_form'> 	
			<a id="select_all">Check All</a>
	   		<input type="submit" class="submit" value="Done"/>
		   	<br />
	   		
	    	<div id="overflow"></div>
			<div id="prefixes" style="display:none"></div>
		 
		</form>	
   </div>
   
   <div id="settings_form">
		<form id="settings_outter_box">
			<div style="width:460px;margin-bottom:10px;margin-left:45px;text-align:left;"><span style="text-align:left;font-weight:bold;font-size:11px">Query data processing mode:</span>
				<div style="font-size: 11px; float:right;background-color: white;border: 2px solid gray;padding-left:5px;padding-right:5px;padding-bottom:10px">
				    <input type="radio" name="table_mode" value="static" checked> Server-side (Recommended)<br> 
				    <input type="radio" name="table_mode" value="interactive" > Browser-based (Smaller data-sets)
				 </div>   
				 <br><br><br><br>
				 <span style="font-size:11px;">Help: Select where the main processing for the table data will be conducted, server-side for large-data, browser-based for smaller data and faster interactions.
				 <br> Suggested limit for <i>Browser-based</i>: 100,000 cells
				 </span>
			</div> 
		</form>
	</div>
	
   	<div id="selected_databases_content">$:selected_db</div>
   	
   	<span id="error_tooltip_wrapper" style="display:none;margin-right:80px;margin-top:5px;float:right;color:red;font-size:11px;font-style:italic"><b>Error returned</b> &nbsp;<a id="error_tooltip_link" style="color:red;"><img src="$survey_prefix/static/images/red-exclamation-point.png"  style="vertical-align:middle"> </a></span>
   
   	<div id="tooltip">
    	<b>Help</b><br><br>
    	<hr>
    	<div style="width:700px;"></div>
    	<br>
    	<b>Cached</b>: Select from a list of pre-defined database archives <br><br> 
    	<b>Registry</b>: Query the WAFU registry to get the latest list of database archives 
    	<br><br> 
   	</div>
   
   
	<br>
	<div id="load"> </div>
	
	
	<div id="loading_options">
		<a class="myButtonStop">Stop query</a>
		<a class="myButtonEmail">Send via email</a>
	</div>
	
    
    <br><br>

    <div id="email_message"></div>
    
    <div id="send_email">
   		 <form class="email_form" method="post" name='email_form'>
   		 	<p>Please enter your email:<a class="email_cancel" href=''>x</a></p>
   		 	<input type="text" name="email" id="email" /> 	
 		 	<input type="submit" value="Submit" class='email_submit'/>
   		 	<div class="spacer"></div>
   		 </form>
    </div>
	
    <div id="error" style="display:none"></div> 
    
    <div id="metadata">
    <br>
    
    <span class="metadata_cancel"><a>[ Hide ]</a> </span> 
	    <div style="margin:0 auto; text-align:center;width:280px;background-color:#EDE8E8;color:#3E3E3E;padding-left:10px;padding-top:10px;padding-bottom:4px;margin-bottom:10px;border:1px solid gray;height:30px;">
	    	<div style="font-size:20px">Archive Metadata</div> 
	    </div>	
	    
	    <span style="font-size:12px;color:gray;font-style:italic">Help</span> <a id="metadata_help_link">[+]</a><br><br>
	    
	  
	   <div id="metadata_help">	
		    <p style="font-size:12px;font-style:italic">Click on a table name to reveal the metadata</p><br>
		    
		    <p style="font-size:11px;font-style:italic">Select one or more catalogues to query.<br>
		     Adding a prefixes is used to handle name conflicts, and make the process of querying easier and clearer.<br>
		     If using an ATLAS release for example, with a prefix 'atlas1', your query will look like: "Select .. from atlas1.atlasSource"
		    <br><br>
		    For more information on the tables you may click through the table data and view the column and table names.
		    </p><br>
	    </div>
	    
	    <div style="height:1px;background:#B7DDF2;width:95%;margin:0 auto;"></div>
	    <br>
	    <div id="tables"></div> 
    </div>
    
	
	<div id="results">
		$text
	</div>
	
	<br><br>
  	
	<div id="sql_facebox_content" style="display:none ;width:500px;">
	</div>
  
  
	<div id="database_selection" style="display:none;width:100%;min-height:480px;">
		<div style="width:670px;min-height:480px; margin:0 auto;">
		  <div class="tahoma_header">Please select from the list of available catalogues:</div>
		 <div class="tahoma_header" style="color:green;font-size:11px">Click (OK) to save your selection</div>
		 <hr>
		 <br />
		 <div class="db_select_container1">
			 <div class="database_selection_header">Selected Database(s)</div>
			    <ul id="selected_catalogues" class="dblist selected"></ul>
		</div>
		
		    
		<div class="db_select_buttons">
			<input id="database_selection_more" style="float:left;margin:2px;" type="submit" value="More" class="button">
		    <input id="database_selection_cancel"  style="float:right;margin:2px;" type="submit" value="Cancel" class="button">
			<input id="database_selection_ok"  style="float:right;margin:2px;" type="submit" value="OK" class="button">
		</div>
		<br>
		<div style="clear:both;"></div>
		<div id="database_selection_additional" style="display:none">
		
			<div class="db_select_container2">
			    <div class="database_selection_header">Available catalogue(s)</div>
			    <ul id="unselected_catalogues" class="dblist"></ul>
			</div>
		
		</div>
		</div>
	</div>
  
  
    </div>   
	
   
    </div>

</div>

