$def with (database_options, imagelist_programmes,  archive_input, survey_prefix)
<link href="$survey_prefix/static/static_vo_tool/style_vo_tool.css" media="screen" rel="stylesheet" type="text/css"/>  
<link href="$survey_prefix/static/static_ImageList_form/css/dbaccess_ImageList_form.css" media="screen" rel="stylesheet" type="text/css"/> 
<script type="text/javascript" src="$survey_prefix/static/js/Table_Tools_additional.js"></script> 
<script type="text/javascript" src="$survey_prefix/static/js/samp.js"></script>
<script type="text/javascript" src="$survey_prefix/static/js/samp_helper.js"></script>
<script src="$survey_prefix/static/static_ImageList_form/js/imageList.js" type="text/javascript"></script>



<div id="content_dbaccess_ImageList_form">
	
	<h3>File Listing <a id="ImageList_minimizer"> [+] </a></h3>

	<!-- was get -->
	This form
	allows users to retrieve listings of the multiframes (multi-extension
	FITS images) held in the OSA. Links are returned that allow users to
	view the compressed jpeg library images and download the FITS files.<br>
	<a class="facebox_links"
			href="#imageListNotes_div">Notes on using the form</a>
	<hr>
	
	<div id ="ImageList_error" style="color:red;display:none"></div>
	<form name="ImageList_form" class="ImageList_form" id="generic_form" >
			<input type="hidden" name="archive" value="$archive_input">
			<input type="hidden" name="po" value="y"> <input type="hidden"
				name="dlFile" value="y">
		
			<div class="clear"></div>
		

			<!--
			<p>
			Programme ID if open time selected above: &nbsp;&nbsp;
			<input type="text" name=openTimeID size="8" value="">
			-->
			
		<p>Use the parameters below to narrow your search. A maximum of
			100 entries per page will be returned.
		</p>
		<table>
			<tr>
				<td align="right"><b>Database release:</b> &nbsp;&nbsp; </td>
				<td><select name="database" >$:database_options</select></td>
			</tr>
			<tr>
			<td><b>Choose which parameters to list:</b> &nbsp;&nbsp;</td> 
			<td>
			<select
				class="styled-select"
				name="userSelect">
				<option value="default">default subset
				<option value="all">full listing
			</select>
			</td>
			</tr>
				$:imagelist_programmes
			<tr>
				<td align="right"><b>Observation type:</b></td>
				<td>	
				<select name="obsType"
						style="width:200px;">
						<option value="object">object
						<option value="sky">sky
						<option value="dark">dark
						<option value="bias">bias
						<option value="flat">flat
						<option value="confidence">confidence
						<option value="focus">focus
						<option value="all">all
				</select></td>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td align="right"><b>Frame type:</b></td>
				<td>
				<select name="frameType"
						style="width:200px;">
						<option value="stack">stack
						<option value="normal">normal
						<option value="conf">confidence
						<option value="diff">difference
						<option value="all">all
				</select></td>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td align="right"><b>Filter/waveband:</b></td>
				<td>
				<select name="filterID"
						style="width:200px;">
						<option value="all">all
						<option value="1">Z filter
						<option value="2">Y filter
						<option value="3">J filter
						<option value="4">H filter
						<option value="5">Ks filter
						<option value="9">NB118 filter
						<option value="10">NB980 filter
				</select></td>
				<td colspan="2">&nbsp</td>
			</tr>
			<tr>
				<td align="right"><b>Minimum RA of base position:</b></td>
				<td><input type="text" name=minRA size="8" value="0.0"></td>
				<td rowspan="2">
				<select name="formatRA">
						<option value="hours">decimal hours
						<option value="degrees">decimal degrees
						<option value="sexagesimal">sexagesimal
				</select></td>
				<td rowspan="2">Note return values are in decimal hours. If
					minimum &gt; maximum searches will be wrapped around 0.0 hours</td>
			</tr>
			<tr>
				<td align="right"><b>Maximum RA of base position:</b></td>
				<td><input type="text" name=maxRA size="8" value="24.0"></td>
			</tr>
			<tr>
				<td align="right"><b>Minimum Dec of base position:</b></td>
				<td><input type="text" name=minDec size="8" value="-90.0"></td>
				<td rowspan="2">
				
				<select name="formatDec">
						<option value="degrees">decimal degrees
						<option value="sexagesimal">sexagesimal
				</select></td>
				
				<td rowspan="2">Note return values are in decimal degrees.</td>
			</tr>
			<tr>
				<td align="right"><b>Maximum Dec of base position:</b></td>
				<td><input type="text" name=maxDec size="8" value="+90.0"></td>
			</tr>
			<tr>
				<td align="right"><b>Start Date:</b></td>
				<td nowrap>Day 
				<select name="startDay">
						<option value="0">---
						<option value="1">1
						<option value="2">2
						<option value="3">3
						<option value="4">4
						<option value="5">5
						<option value="6">6
						<option value="7">7
						<option value="8">8
						<option value="9">9
						<option value="10">10
						<option value="11">11
						<option value="12">12
						<option value="13">13
						<option value="14">14
						<option value="15">15
						<option value="16">16
						<option value="17">17
						<option value="18">18
						<option value="19">19
						<option value="20">20
						<option value="21">21
						<option value="22">22
						<option value="23">23
						<option value="24">24
						<option value="25">25
						<option value="26">26
						<option value="27">27
						<option value="28">28
						<option value="29">29
						<option value="30">30
						<option value="31">31
				</select> 
				Month 
				<select name="startMonth">
						<option value="0">----
						<option value="1">Jan
						<option value="2">Feb
						<option value="3">Mar
						<option value="4">Apr
						<option value="5">May
						<option value="6">Jun
						<option value="7">Jul
						<option value="8">Aug
						<option value="9">Sep
						<option value="10">Oct
						<option value="11">Nov
						<option value="12">Dec
				</select> 
				Year: 
				<select name="startYear">
						<option value="0">----
						<option value="2008">2008
						<option value="2009">2009
						<option value="2010">2010
						<option value="2011">2011
						<option value="2012">2012
						<option value="2013">2013
				</select>
				</td>
				<td rowspan="2" colspan="2">observation dates</td>
			</tr>
			<tr>
				<td align="right"><b>End Date:</b></td>
				<td nowrap>Day 
				<select name="endDay">
						<option value="0">---
						<option value="1">1
						<option value="2">2
						<option value="3">3
						<option value="4">4
						<option value="5">5
						<option value="6">6
						<option value="7">7
						<option value="8">8
						<option value="9">9
						<option value="10">10
						<option value="11">11
						<option value="12">12
						<option value="13">13
						<option value="14">14
						<option value="15">15
						<option value="16">16
						<option value="17">17
						<option value="18">18
						<option value="19">19
						<option value="20">20
						<option value="21">21
						<option value="22">22
						<option value="23">23
						<option value="24">24
						<option value="25">25
						<option value="26">26
						<option value="27">27
						<option value="28">28
						<option value="29">29
						<option value="30">30
						<option value="31">31
				</select> 
				Month 
				<select name="endMonth">
						<option value="0">----
						<option value="1">Jan
						<option value="2">Feb
						<option value="3">Mar
						<option value="4">Apr
						<option value="5">May
						<option value="6">Jun
						<option value="7">Jul
						<option value="8">Aug
						<option value="9">Sep
						<option value="10">Oct
						<option value="11">Nov
						<option value="12">Dec
				</select> 
				Year: 
				<select name="endYear">
						<option value="0">----
						<option value="2008">2008
						<option value="2009">2009
						<option value="2010">2010
						<option value="2011">2011
						<option value="2012">2012
						<option value="2013">2013
				</select>
				</td>
			</tr>
			<tr>
				<td align="right"><b>Deprecation:</b></td>
				<td><select name="dep"
							style="width:200px;">
						<option value="0">purge deprecated frames
						<option value="1" selected>list all frames
				</select></td>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td align="right"><b>Show Calibration:</b></td>
				<td><select name="showCal"
							style="width:200px;">
						<option value="y">include cal frames
						<option value="n">exclude cal frames
				</select></td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="right"><b>MultiframeID number:</b></td>
				<td><input type="text" name=mfid size="20" value=""></td>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td align="right"><b>List MultiframeID numbers:</b></td>
				<td><textarea name=lmfid cols="30" rows="2"></textarea></td>
				<td colspan="2">delimited by commas or space, maximum 100</td>
			</tr>
			<tr>
				<td align="right"><b>FramesetID number:</b></td>
				<td><input type="text" name=fsid size="20" value=""></td>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
			<tr> 
				<td align="right"><b>HTML rows:</b>&nbsp;&nbsp;(*)</td>
				<td>
					<input type="text" value="100" maxlength="6" size="6" name="rows">
				</td>
				<td>
					Number of rows written to HTML table summary (maximum 1000)
				</td>
				
			</tr>
		</table>
		
	
		<br />
		<div style="margin-left:10px">
			<input class="submit_button" type="submit" value="GetList" /> 
		
		</div>
	</form>
		
	<br /><br />
	<div id="ImageList_load"></div>
	<span id="error_tooltip_wrapper" style="display:none;margin-right:50px;float:right;color:red;font-size:11px;font-style:italic"><b>Error returned</b> &nbsp;<a id="error_tooltip_link" style="color:red;"><img src="$survey_prefix/static/images/red-exclamation-point.png"  style="vertical-align:middle"> </a></span>
	
	
	<div id="ImageList_results">
	</div>
	
	<div id="ImageList_getImage_results">
	</div>
	
	<div id="ImageList_facebox_content" style="display:none">
	</div>
	
	<br clear="all">


</div>