$def with (survey_prefix)
<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'dbaccess';
		init_scrolling_mechanism(this_div_name);
</script>
 
<div id="content_dbaccess">
	<h1> OSA - Data Access</h1>
	
	Users can access the data held in the OSA through web-based forms.
	These forms parse the user's input parameters and submit
	
	<a class="ext_links_dbaccess" href="#sql_help_div">SQL</a> (Structured Query Language) queries to the database.
	
	<p>
		<ul>
			<li><a class="ext_links_dbaccess" href="#dbaccess_ImageList_form_div">Archive listing</a> - retrieve listings of the multiframes held in the OSA. Links are returned allowing the user to view the library jpegs and download the FITS files.</li>
			<li><a class="ext_links_dbaccess" href="#dbaccess_getImage_form_div">GetImage</a> - extract cut-out images around a given position</li>
			<li><a class="ext_links_dbaccess" href="#dbaccess_MultiGetImage_form_div">MultiGetImage</a> - upload a list of coordinates and extract matching cut-out images </li>
			<li><a class="ext_links_dbaccess" href="#dbaccess_SQL_form_div">Freeform query</a> - submit an SQL query directly</li>
		</ul>
	<p>
	<b>Catalogue/Table queries</b><br>
	
	Query results i.e. rows selected from the database, are displayed
	in an HTML table and/or written to a file (ASCII, FITS 
	or VOTable format) that can be downloaded. 
	<p>Users should note the following general points:
		<ul>
			<li>HTML table output is only intended as a summary and the number of rows
			displayed is limited. A note at the end of the table informs the user
			if this was exceeded.</li>
			<li>The number of result rows written to files is also limited and 
			depends on how many parameters have been requested i.e. 
			<br /><br />
			<span style="color:orange;margin-left:60px; text-align:center">maximum rows written to file = nint(15000 / no. parameters) x 1000 </span>
			<br /><br />
			So if only three parameters have been requested than the file can contain
			up to 5 million rows. 
			Again users are warned if the limit was exceeded and an indication
			of how many extra rows were returned is provided.</li>
			<li>Users who exceed the file row limit should submit their query in parts
			e.g. by querying sections in RA or Dec or magnitude slices.</li>
			<li>If an email address is supplied queries are allowed to run for
			30 seconds before they are placed in the background and the browser
			window is released. On completion an email is sent  
			informing the user where to pick up the results.</li>
			<li>The tables in the database do not contain any NULL values.  Where values
			are unavailable for a given object parameter default values have been
			inserted. Users should be aware
			of this when constructing their queries and when interpreting the results.
			See the <a class="ext_links_dbaccess" href="#roe_browser_div">schema browser</a> for details of
			a given parameter's default value.</li>
			
			<li>
			NULL values can be returned  if users JOIN tables. If this occurs the values are written out as
			zeroes.</li>
		</ul>

</div>
