$def with (database_options, survey_prefix)
<link href="$survey_prefix/static/static_radial_form/css/dbaccess_radial_form.css" media="screen" rel="stylesheet" type="text/css"/>  
<link href="$survey_prefix/static/static_vo_tool/style_vo_tool.css" media="screen" rel="stylesheet" type="text/css"/>  
<script src="$survey_prefix/static/js/jquery.form.js" type="text/javascript"></script>
<script src="$survey_prefix/static/static_radial_form/js/radial.js" type="text/javascript"></script>

	
<div id="content_dbaccess_radial_form">

	<h3>SSA Radial search &nbsp;<a id="radial_minimizer">[+]</a></h3>
	
	Use this form to radially search around a given position or object name.
	<p>
	For help on using this form see <a class="ext_links_dbaccess_radial_form" href="#radial_help_div">radial help</a>.
	</p>	
	
	<hr>

	<div id ="radial_error" style="color:red;display:none"></div>
	
	<form name="radial_form" method="post" class="radial_form"
		 id="generic_form" action="">
		                
	    <input name="server" value="amachine" type="hidden">
	  	<input type="hidden" name="format" value="HTML" /> 
		<input type="hidden" name="compress" value="NONE" />
	  	
	  	<table class="form">
			<tbody>
			<tr>
			
				<td align="right"><b>RA</b> or <b>Galactic Long.:</b>&nbsp;&nbsp;(*)</td>
				<td><input name="ra" size="15" type="text"></td>
				<td rowspan="2"> sexagesimal format or decimal degrees </td>
			</tr>
			<tr>
				<td  align="right"><b>Dec</b> or <b>Galactic Lat.:</b>&nbsp;&nbsp;(*)</td>
				<td><input name="dec" size="15" type="text"> </td>
			</tr>
			<tr>
				<td align="right"><b>Coordinate System:</b></td>
				<td>
				<select name="sys">
				<option value="J" selected=""> J2000
				</option><option value="B"> B1950
				</option><option value="G"> Galactic
				</option></select>
				</td>
				<td>&nbsp;</td>
				</tr><tr>
				<td  align="right">
				or <b>Object name: </b></td>
				<td><input name="name" size="15" type="text"></td>
				<td> resolved by Simbad </td>
			</tr>
			<tr>
				<td align="right"><b>Search radius:</b>&nbsp;&nbsp;(*)</td>
				<td><input name="radius" size="5" value="1" type="text"></td>
				<td> in arcminutes (maximum 90) </td>
			</tr>
			<tr>
				<td align="right"><b>Select:</b>&nbsp;&nbsp;(*)</td>
				<td><input name="select" size="40" value="default" type="text"></td>
				<td>replace <em>default</em> with a comma-separated list of parameter names </td>
			</tr>
			<tr>
				<td align="right"><b>From:</b></td>
				<td><select name="from">
				<option value="source" selected="selected"> Source table (merged catalogue)
				</option><option value="detection"> Detection table (unmerged catalogue)
				</option></select> </td>
				<td>table to use</td>
			</tr>
			<tr>
				<td align="right"><b>Where:</b></td>
				<td><input name="where" size="40" value="" type="text"></td>
				<td>enter constraints</td>
			</tr>
				<tr> 
				<td align="right"><b>HTML rows:</b>&nbsp;&nbsp;(*)</td>
				<td>
					<input type="text" value="50" maxlength="6" size="6" name="rows">
				</td>
				<td>
					Number of rows written to HTML table summary (maximum 100)
				</td>
				
			</tr>
			</tbody>
		
		</table>
		
		<br>
		<p><input type="submit" style="margin-left:5px;" value="Submit" class="submit_button"></p>
		
    </form>

	<br>
	
	<div id="radial_load"></div>

	<div id="radial_results" class='dynamic_div'></div>
	
	<div style="display:none;" id="radial_results_secondary"></div>
	<br />
	
</div>
