$def with (database_options, programmes, table_options, table_input_name,archive_input, sys, select_clause, where_clause, survey_prefix)
<link href="$survey_prefix/static/static_vo_tool/style_vo_tool.css" media="screen" rel="stylesheet" type="text/css"/>  
<link href="$survey_prefix/static/static_region_form/css/dbaccess_region_form.css" media="screen" rel="stylesheet" type="text/css"/>  
<script type="text/javascript" src="$survey_prefix/static/js/Table_Tools_additional.js"></script>
<script type="text/javascript" src="$survey_prefix/static/js/samp.js"></script>
<script type="text/javascript" src="$survey_prefix/static/js/samp_helper.js"></script>
<script src="$survey_prefix/static/static_region_form/js/region.js" type="text/javascript"></script>


<div id="content_dbaccess_region_form">
	
	<noscript>
		<b>*** NB This form requires javascript to be enabled in order for
			it to correctly display options for various data releases ***</b>
	</noscript>
	
	
	
	<h3>Region search &nbsp;<a id="region_minimizer">[+]</a></h3>
	<br />
		Use this form to search around a given position or object name. For help
		on using this form see
		<a rel="facebox" href="#region_default_help2">region help</a>.
		<br />
	<hr>
	
	<div id ="region_error" style="color:red;display:none"></div>
	<form name="region_form" class="region_form" id="generic_form">
		
			<input type="hidden" name="archive" value="$archive_input"> 
			<input type="hidden" name="formaction" value="region" />
			<input type="hidden" name="boxAlignment" value="RADec" />
			
		<br />
		
		<table style="margin:0 auto">
		
			<tr>
				<td align="right"><b>Database release:</b></td>
				<td><select name="database" >$:database_options</select></td>
			</tr>
			$:programmes	
			<tr>
	
				<td align="right" nowrap><b>table:</b></td>
				<td><select id="baseTable" name="$table_input_name">
						$:table_options
				</select></td>
				<td>&nbsp;</td>
	
			</tr>
			<tr>
				<td nowrap align="right"><b>RA:</b> 	</td>
				<td><input type="text" name="ra" size="15" value="" class="ra"></td>
				<td rowspan="2">sexagesimal format or decimal degrees</td>
			</tr>
			<tr>
				<td nowrap align="right"><b>Dec:</b></td>
				<td><input type="text" name="dec" size="15" value="" class="dec"></td>
			</tr>
			
			<tr>
				<td nowrap align="right"><b>Galactic Long.:</b></td>
				<td><input type="text" name="galactic_long" size="15" value="" class="galactic_long" disabled="disabled"></td>
				<td rowspan="2">sexagesimal format or decimal degrees</td>
			</tr>
			<tr>
				<td nowrap align="right"><b>Galactic Lat.:</b></td>
				<td><input type="text" name="galactic_lat" size="15" value="" class="galactic_lat" disabled="disabled"></td>
			</tr>
			<tr>
				<td nowrap align="right"><b>Coordinate System:</b></td>
				<td><select name="$sys" class="$sys">
						<option value="J" selected="selected">J2000</option>
						<option value="B">B1950</option>
						<option value="G">Galactic</option>
				</select></td>
				<td>&nbsp;</td>
	
	
			</tr>
			<tr>
				<td align="right"><b>Search radius:</b></td>
				<td><input type="text" name="radius" size="5" value="1"></td>
				<td>in arcminutes (maximum 90)</td>
			
			</tr>
		</table>
	
		<br />
		<p>
			<b>Optional section allowing extra control.</b>
		</p>
		<p>You may modify the search by selecting the parameters you wish
			to extract and/or applying constraints.</p>
		<p></p>
	
		<table>
			<tr>
				<td align="right"><b>Select:</b></td>
				<td><input type="text" name="$select_clause" size="40"
					value="default"></td>
				<td>replace <a href="#region_default_help" rel="facebox">default</a>
					with a comma-separated list of parameter names
				</td>

			</tr>
			<tr>
				<td align="right"><b>Where:</b></td>
				<td><input type="text" id="whereClause" name="$where_clause" size="40" value=""></td>

				<td>enter constraints</td>
			</tr>
		</table>
			
	
		<br />
	
		<p>
			<input class="submit_button" type="submit" value="Submit" style="margin-left:10px" /> 
		</p>
		
	</form>
	
	<br /><br />	
	<div id="region_load"></div>
	<span id="error_tooltip_wrapper" style="display:none;margin-right:50px;float:right;color:red;font-size:11px;font-style:italic"><b>Error returned</b> &nbsp;<a id="error_tooltip_link" style="color:red;"><img src="$survey_prefix/static/images/red-exclamation-point.png"  style="vertical-align:middle"> </a></span>
	
	<div id="region_results">
		<h4>Results</h4>
	</div>
	
	<br />
	<br />
	
	<div id="region_getImage_results">
	</div>
	
	<div id="region_getImage_results_secondary" style="width:800px;">
	</div>
	
	<div id="region_facebox_content" style="display:none ;width:500px;">
	</div>
	<p>
		<br clear="all">
	</p>
		      
	<div id="region_default_help" style="display:none;font-size:13px;">
		     		
		<h3 style="color:black;">Default sets of attributes</h3>
		In some of the data access methods a <b>default</b> list of table attributes is returned for a given table. The
		listings for the various survey(s) and tables are shown below.<p> You can append to the <b>default</b> set by adding
		extra parameters, separated by commas, after default e.g. enter <em>default,htmID,cx,cy,cz</em> in the attributes to select box.
		If you do not wish the default list to be returned enter your own comma separated list in place of default e.g enter
		
		<em>htmID,cx,cy,cz</em>
		
		</p>
		<p>
		Attributes for a given table can be found in the schema browser.
		</p>
		<p>
			<em>
			Currently the default set of parameters is set to select ALL the attributes in the table being queried.
			</em>
		</p>
	
	</div>
	
	<div id="region_default_help2" style="display:none;font-size:13px;">
	
		<h3>Region search - help page</h3>
		This page provides guidance on how to use the
		<a class="ext_links_dbaccess_region_form" href="#dbaccess_region_form_div">region
			search form</a>
		. This form allows users quick access to searching a survey by position.
		Guidelines applicable to all methods of access are given in the
		<a class="ext_links_dbaccess_region_form" href="#dbaccess_div">data access page</a>
		.
		<p>
			Users must first select the survey/database/table they wish to search.
			Each survey has a <em>source</em> table and a <em>detection</em> table.
		
			<em>Source</em> tables contain merged records for a given object in the
			passbands/epochs that define the survey. <em>Detection</em> tables
			contain full details on the individual passband/epoch measurements.
		</p>
		<p>Users must supply a position (RA/Dec or Galactic) and a search
			radius in arcminutes. Coordinates can be in sexagesimal (e.g. 11:22:17) or decimal
			degrees and the system (J2000/B1950/Galactic) must also be specified.</p>
		<p></p>
		<p>During busy periods large area searches ( radius > 60 arcmin) can
			take a few minutes writing the results to file so it is recommended
			that an email address be supplied.</p>
		<p>
			For quick look small area searches it might be possible to view the
			entire results in the returned HTML table summary. However you want to
			save the results of searches then specify ASCII, FITS or VOTable (see 
			<a class="ext_links_dbaccess_region_form" href="#dbaccess_div">data access</a> for further details of limits).
		</p>
		<p>The final section of the form is optional and allows more
			control.</p>
		<p>
	
	</div>
</div>
