$def with (survey_prefix)

<h2>Defaults</h2>
The default set of parameters for the SOURCE table is <p>
RA,Dec,sigRA,sigDec,epoch,muAcosD,muD,sigMuAcosD,sigMuD,chi2,<br>
classMagB,classMagR1,classMagR2,classMagI,<br>
meanClass,classB,classR1,classR2,classI,<br>
ellipB,ellipR1,ellipR2,ellipI,qualB,qualR1,qualR2,qualI
</p><p>
The default set of parameters for the DETECTION table is </p><p>
surveyID,RA,Dec,area,aI,bI,thetaI,PA,<br>
class,blend,quality,prfStat,gmag,smag,<br>
iPeak,cosmag,iSky,xCen,yCen<br>

</p>

