$def with (survey_prefix)

<div id="content_f287tool">

<h3> The Field 287 analysis tool.</h3>

A specialist Graphical User Interface is available to aid exploration
of the Field 287 database. It can be
<a href="http://surveys.roe.ac.uk/ssa/F287_Analysis_Tools.jar">
launched from here</a> (N.B.: the tool requires Java 1.6 or later).
The tool offers simple push-button functionality under three broad
headings:
<ul>
 <li>General - summarises various statistical properties of the dataset, 
     including ranges of attributes and typical photometric errors;</li>
 <li>Sample selection - defines sample selection criteria by position, variability or
     classification as a known QSO etc, tabulating sample selections and allowing 
     plotting of light-curves;</li>
 <li>Source specific - allows detailed visualisation of light curves and colour curves
     for individual objects identified by position or source identifier</li>
</ul> 
At any stage, clicking "back" will take the user back to the previous
control panel window, without closing results panes. Options for previewing
the SQL being executed on the database are provided to help the user familiarise
themselves with methods of extracting data subsets from the tables.

<p>
Example usage: plot B-band light curves for a sample of known QSOs lying
within 20 arcminutes of a given position, and then select one object for which to plot
full UBRI light and U-B, B-R and R-I colour curves: 
</p><ul>
 <li><a href="http://surveys.roe.ac.uk/ssa/F287_Analysis_Tools.jar">Launch the tool</a> (if
     downloading and saving locally, invoke on the command line using 
     <it>java -jar F287_Analysis_Tools.jar</it>.): a pop-up window appears with 3 options.</li>
 <li>Press the "Sample Selection" button and click "OK: a new control panel pops up."</li>
 <li>Press "KnownQSO Sample Selection", passband "B (Blue)", select the sexagesimal tab and
     enter "21 40 00.0" for RA and "-45 00 00.0" for Dec with "Angular radius" 1200 arcsec (=20 arcmin);
     click on "Generate": after a short time a results table pops up with 8 quasars.</li>
 <li>Click on any object in the results table, for example "Q 2135-4530" (Spectroscopic redshift 0.308)
     and then click on "Generate Light Curve": a plot of the B band magnitude versus time pops up.</li>
 <li>Note that this object has source ID 310912; click "Back" on the sample selection control panel to
     return to the top-level panel, and this time select "Source Specific" to pop-up that control panel.</li>
 <li>Input 310912 into "Source ID" in the direct search box; select all passbands (UBRI); select class
     "Star" for point-source magnitudes; and finally in the plots pane select all options for light curves
     and colour curves from all available passbands along with error bars.</li>
 <li>Click on "Generate": two new plots will pop up (move the colour plot aside to see the light curves
     beneath). </li>
</ul>

<center>
<p>
<img src="$survey_prefix/static/images/lightcurves.png" width="500">

</p><p>
<img src="$survey_prefix/static/images/colourcurves.png" width="500">
</p></center>


</div>
