$def with (survey_prefix)

<h3>Working with OmegaCam flat files from the CASU pipeline</h3>

Also see the <a href="http://www.jach.hawaii.edu/UKIRT/observing/cookbooks/wfcam_reduction_cookbook.html">cookbook pages at JACH</a>, the
<a href="http://casu.ast.cam.ac.uk/surveys-projects/wfcam/technical">technical page at CASU</a> and this <a href="http://www.ast.cam.ac.uk/vdfs/docs/catalogues.pdf">CASU page about catalogues</a>.<p>

The OSA archives the FITS images and catalogues produced by the CASU pipeline.
Metadata from the images and objects from the catalogues are processed and ingested into database tables (also see <a href="dboverview.html">data overview</a>)

<p>
Typically the FITS images have a <em>.fit</em> file extension while the catalogues end <em>_cat.fits</em>. The database entity MULTIFRAME references a FITS image and if
applicable a corresponding FITS catlogue. Note only 
stacked images have catalogues (eg calibration frames and intermediate science 
frames do not have catalogues.)<p>
Apart from secondary data products (e.g. mosaic images) CASU FITS files
have a primary header and FITS extensions with each extension representing
one of the detectors.  
<!--The on-sky layout of the detectors shown below was taken from a CASU document.<p>
The green marker is the "bottom-left" corner on a default display ie. the pixel 1,1.
Note that all detector images output from the DAS are inverted with respect to astronomical sky and that each detector image is rotated through 90 degrees with respect to the next detector in the sequence.<p>
<img src="images/layout.gif"><p> -->
The FITS image files are RICE compressed and some applications will require the  file to be uncompressed before use, see 
<a href="http://surveys.roe.ac.uk/wsa/qa.html#compress">notes on compression</a>.<p>
Starlinks's GAIA is able to open the FITS images directly for display.
<p>
<a name="catmags"><b>Converting catalogue fluxes to magnitudes</b></a><p>

The FITS catalogues contain un-calibrated fluxes.
When ingested in to the database tables (DETECTION and SOURCE tables)  objects will have their fluxes
converted to calibrated magnitudes. 
The fluxes contained in the FITS catalogues can be converted to calibrated magnitudes 
using attributes in the FITS header of the relevant extension. Whereby,
the instrumental magnitude, instMag, is <p>
<em>instMag = -2.5 * log10(flux) </em> and <p>
the extinction correction, extCorr,  is <p>
<em>extCorr = -extinct * (airmassStart + airmassEnd)/2) -1)</em> and<p>
the exposure correction, texpCorr, is <p>
<em>texpCorr = 2.5 * log10(exptime)</em><p>
then the calibrated magnitude, calMag, is <p>

<em>calMag = instMag + magZpt + extCorr + texpCorr - aperCor</em>
<p>
The values for extinct, airmassStart, airmassEnd, exptime and
magZpt can be found in the FITS header of <b>the relevant extension</b> under
keywords: EXTINCT, AMSTART, AMEND, EXP_TIME and MAGZPT. The values for flux
are read for each object (row) in the catalogue from the required 
flux attribute
eg Aper_flux_3 or Kron_flux. For aperture corrected magnitudes use the corresponding APERCOR value in the FITS extension header eg APCOR3.<p>

By way of an example, the 1st extension of a FITS catlogues has the following
header information
<pre>
AMSTART =                1.083 / Airmass at start of observation                
AMEND   =                1.084 / Airmass at end of observation                  
EXP_TIME=            20.000000 / [s] Integration time per exposure              
APCOR1  =             1.242335 / Stellar aperture correction - 1/2x core flux   
APCOR2  =            0.8231881 / Stellar aperture correction - core/sqrt(2) flux
APCOR3  =            0.4040413 / Stellar aperture correction - core flux        
APCOR4  =            0.1864481 / Stellar aperture correction - sqrt(2)x core flu
APCOR5  =           0.07809448 / Stellar aperture correction - 2x core flux     
APCOR6  =           0.02818298 / Stellar aperture correction - 2sqrt(2)x core fl
APCOR7  =                   0. / Stellar aperture correction - 4x core flux     
MAGZPT  =               22.771 / Photometric ZP (mags) for default extinction   
EXTINCT =                0.05  / Extinction coefficient (mags)                  
</pre>       

<p>
So say for a given object the aper_flux_3 is 0.60321E+03 and the kron_flux is 0.10143E+04.
Then <p>extCorr = -0.00418, texpCorr=3.25257 and <p>

aperMag3 =-2.5*log10(0.60321E+03)+22.771-0.00418+3.25257-APERCOR3 = 18.664 and <p>
kronMag =-2.5*log10(0.10143+04)+22.771-0.00418+3.25257 = 18.504 <p>

<P><BR clear="all">