$def with (survey_prefix)
<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'getMultiImageNotes_help';
		init_scrolling_mechanism(this_div_name);
</script>


<div id="content_getMultiImageNotes_help">
	<h3>Notes on MultiGetImage</h3>
	
	These notes accompany the
	<a class ="ext_links_getMultiImageNotes_help" href="#dbaccess_MultiGetImage_form_div">MultiGetImage form</a>
	. This form allows multiple image cut-outs to be generated. Once
	completed the submitted request sends an email to the user containing a
	link to their results. FITS files and jpeg images are produced and
	presented in web-page tables and a PDF file. A tar saveset of the FITS
	files is also generated.
	<p>
	
		Users must supply a file of coordinates (J2000) either in decimal
		degrees or sexagesimal. Values should be separated by spaces or commas.
		An <b>optional</b> additional column can also be present that
		respresents the framesetID or multiframeID.
	</p>
	<p>At a given point in the sky there can be numerous multiframe
		images that could be extracted so currently this is narrowed down to
		only using frames that appear in the mergeLog table for a given
		programme/survey. If the database you are querying has an empty
		mergelog table than no images will be found.</p>
	<p>
		Note the presence of a framesetID (or multifrmaeID) is optional but can
		be useful if you want to specify a particular frame to use i.e. using
		the mergeLog narrows down the choice considerably but there will still
		be overlap regions. If supplying an ID column please change the <em>ID
			column</em> in the drop down list to the relevant value. <b>Note:</b> If
		you supply the multiframeID of the frames you want to use then do not
		specify a waveband.
	</p>
	<p>By default cross-hairs are plotted on the jpegs this can be
		turned off, cross hair=no.</p>
	<p>
		<b>Mode: </b> The <em>wget</em> mode can be used to extract up to 5000
		images. In this mode the service returns a list of wget commands to
		download the extracted images. No jpegs or PDF results file are
		returned in this mode. There is no need to supply an email address in
		wget mode as the query is run in real time. <BR clear="all">
	</p>
</div>