$def with (survey_prefix)
<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'getRegion_help';
		init_scrolling_mechanism(this_div_name);
</script>


<div id="content_getRegion_help">
	<h3>Region search - help page</h3>
	This page provides guidance on how to use the
	<a class="ext_links_getRegion_help" href="#dbaccess_region_form_div">region
		search form</a>
	. This form allows users quick access to searching a survey by position.
	Guidelines applicable to all methods of access are given in the
	<a class="ext_links_getRegion_help" href="#dbaccess_div">data access page</a>
	.
	<p>
		Users must first select the survey/database/table they wish to search.
		Each survey has a <em>source</em> table and a <em>detection</em> table.
	
		<em>Source</em> tables contain merged records for a given object in the
		passbands/epochs that define the survey. <em>Detection</em> tables
		contain full details on the individual passband/epoch measurements.
	</p>
	<p>Users must supply a position (RA/Dec or Galactic) and a search
		radius in arcminutes. Coordinates can be in sexagesimal (e.g. 11:22:17) or decimal
		degrees and the system (J2000/B1950/Galactic) must also be specified.</p>
	<p></p>
	<p>During busy periods large area searches ( radius > 60 arcmin) can
		take a few minutes writing the results to file so it is recommended
		that an email address be supplied.</p>
	<p>
		For quick look small area searches it might be possible to view the
		entire results in the returned HTML table summary. However you want to
		save the results of searches then specify ASCII, FITS or VOTable (see 
		<a class="ext_links_getRegion_help" href="#dbaccess_div">data access</a> for further details of limits).
	</p>
	<p>The final section of the form is optional and allows more
		control.</p>
	<p>
	
		<b>Select</b> - A default set of parameters is returned by the search
		unless it is overridden by a supplied comma-separated list e.g. to
		return only the RA and Dec of objects replace <em>default</em> with <em>ra,dec</em>.
		You can append to the default set by adding extra parameters e.g by
		entering <em>default,someParameter</em>
	</p>
	<p>
	
		<b>Where</b> - The final text box allows you to place constraints on
		the query e.g. impose a magnitude limit
	
	</p>
	<p>
	
		The <a class="ext_links_getRegion_help" href="#roe_browser_div">schema
			browser</a> can be used to explore the attributes of a given table.
	
	</p>
</div>