$def with (survey_prefix)
<script type="text/javascript">
		var this_div_name = 'glossary';
		var ext_links_name = '.ext_links_' + this_div_name;
		var content_id = "#gloss_dynamic_content";
		
		jQuery(ext_links_name).bind('click',function(event){
		  	event.preventDefault();
			var div_id = this.href.substring(this.href.indexOf('#'), this.href.length);
		    var url = path + div_id.substring(1,div_id.indexOf('_div'));  
		  	jQuery.get(url, function(data) {
	    			var _div = document.createElement('html');
		        	jQuery(_div).html(data);
					var all_tables = _div.getElementsByTagName("table");
					var all_h3s = _div.getElementsByTagName("h3");
					
					var result = "";
					if (all_tables.length>2){
						result = all_h3s[0].outerHTML;
						result += all_tables[2].outerHTML;
					
					}
					jQuery(content_id).html(result).fadeIn();

					oTable = jQuery('#gloss_dynamic_content table').dataTable( {
		            	"bJQueryUI" : true,
		        		"sPaginationType": "full_numbers",
		        		"bProcessing" : true,
		        		"sDom" : 'T<"clear">R<"H"Clfr>t<"F"ip>',
		        		"bAutoWidth": false,
		        		"sScrollX": "100%",
		    
	    			});
		 	 	  	current_table = oTable;
	        });
	  		
		  	return false;
		
		  });   
		
</script>
<div id="content_glossary">
	
	<h1>Glossary of terms used in the OSA</h1>
	
	An alphabetic listing of all the database table attributes
	held in the OSA is given in the <a class="ext_links_glossary" href="#gloss/gloss_a_div">ATTRIBUTE
	 GLOSSARY</a>. Click on a given letter to jump to attributes starting
	with that letter. 
	<br />
	<br />
	<p>
	<b>OSA attribute glossary</b>
	<p/>
	<table border="1" cellpadding="5" cellspacing="5"><tr>
	<td align="center"><a class="ext_links_glossary" href="#gloss/gloss_a_div">A</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_b_div">B</a></td>
	
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_c_div">C</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_d_div">D</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_e_div">E</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_f_div">F</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_g_div">G</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_h_div">H</a></td>	
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_i_div">I</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_j_div">J</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_k_div">K</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_l_div">L</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_m_div">M</a></td>
	<tr>
	<td align="center"><a class="ext_links_glossary" href="#gloss/gloss_n_div">N</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_o_div">O</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_p_div">P</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_q_div">Q</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_r_div">R</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_s_div">S</a></td>	
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_t_div">T</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_u_div">U</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_v_div">V</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_w_div">W</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_x_div">X</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_y_div">Y</a></td>
	 <td align="center"><a class="ext_links_glossary" href="#gloss/gloss_z_div">Z</a></td>
	</tr>
	
	</table><p>
	
	<br /><br />
	<div id='gloss_dynamic_content' style="width:100%;display:none;color:#555555;"></div>
	<br /><br />
	
	Listed below are other terms used in the OSA. </p>
	<table border="1" cellspacing="5" cellpadding="5">
	<tr>
	<td>MEF file</td>
	<td>Multi-Extension FITS file</td><tr>
	<td>mfID</td>
	<td>abbreviation for the attribute, multiframeID, used to cross-reference
	tables.</td></tr>
	
	<td>Multiframe</td>
	<td>A multi-extension FITS file, eg the VST pawprint is stored
	as a FITS file with 16 extensions, with each extension representing
	one of the detectors</td>
	
	</table>

</div>
