$def with (survey_prefix)
<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'helpdesk';
		init_scrolling_mechanism(this_div_name);
</script>

<div id="helpdesk">

<h1>Helpdesk</h1>
 <span style="font-style:italic">Helpful information can be found at the following pages:</span><br /><br />
     <ul style="text-decoration:none;margin-left:30px;">
    
       	<li><a class="ext_links_helpdesk" href="#startHere_div">Start Here</a> : Primer to using the OSA</li>
        <li><a class="ext_links_helpdesk" href="#sqlcookbook_div">SQL Cookbook</a>
	:  An Introductory SQL Tutorial</li>
        <li><a class="ext_links_helpdesk" href="#glossary_div" >Glossary</a> : Glossary of terms used </li>
        <li><a class="ext_links_helpdesk" href="#qa_div">Q&amp;A</a>
    : Glossary of terms </li>
   </ul>


    <br /><br />
    If there are any other questions that is not covered in our documenation, you may contact us at:
     <div style="height:40px;"><img style="width:40px" src="$survey_prefix/static/images/contact_hover.png"></img><a class="button" style="position:relative;top:-12px;margin-left:10px;" href="mailto:osa-support@roe.ac.uk">osa-support@roe.ac.uk</a></div> 
     <br />
     
  
	<br /><br />
                  
</div>
