$def with (survey_prefix)

</p><h3>Getting/compiling/using imcopy</h3>

The cfitsio program imcopy can be used to uncompress RICE compressed
FITS images.

<ul>
<li> 1) Download imcopy from <p>

<a href="http://heasarc.gsfc.nasa.gov/docs/software/fitsio/cexamples/imcopy.c">
http://heasarc.gsfc.nasa.gov/docs/software/fitsio/cexamples/imcopy.c</a></p><p>
Ensure
that the file has saved correctly i.e.&nbsp;in plain text as some browsers will insert HTML tags.
It might be easier to just cut/paste the page into a file.</p><p>
</p></li><li> 2) If you have starlink try to compile imcopy against your local copy of
cfitsio: <br>
<pre>gcc -I/star/include -L/star/lib -lm imcopy.c -lcfitsio -o imcopy</pre>
</li><li> 3) If that works move the imcopy executable to wherever you'd like 
it to be.<p>
</p></li><li> 4) If you don't have starlink or step 2 didn't work. Download the latest
stable version of CFITSIO for your computer here:
<a href="http://heasarc.gsfc.nasa.gov/fitsio/">http://heasarc.gsfc.nasa.gov/fitsio/</a> <br>
The tar file should include imcopy.c
<p>
</p></li><li> 5) Extract<br>
<pre>tar xvfz cfitsioXXXX.tar.gz (XXXX = version of cfitsio)</pre>
<p>
</p></li><li> 6) Compile and install into your chosen directory, replace $$INSTALLDIR with
the name of your preferred directory.
<pre>cd cfitsio
./configure --prefix=$$INSTALLDIR
make
make install
</pre>
</li><li> 7) Compile  <pre>gcc -I$$INSTALLDIR/include -L$$INSTALLDIR/lib -lm imcopy.c -lcfitsio -o imcopy</pre>
</li><li> 8) Move the imcopy executable to wherever you want it to be.<p>
</p></li><li> 9) Usage is <pre>imcopy inFileName outFileName</pre>
e.g. to uncompress the RICE compressed file wsa_st.fit<br>
<pre>imcopy wsa_st.fit wsa_out.fit<pre></pre></pre></li></ul>
