$def with (survey_prefix)

<h1>OSA related links</h1>
<ul>
<li><b>VST links:</b></li>
<ul>
<li><a href="http://astro.dur.ac.uk/Cosmology/vstatlas/">The VST ATLAS Survey</a>
<li><a href="http://casu.ast.cam.ac.uk/surveys-projects/vst">Cambridge Astronomical Survey Unit VST pipeline processing</a></li>
<li><a href="http://www.roe.ac.uk/~nch/wfcam/index.html">VISTA Data Flow System Science Archive Development</a> (full details of the design of the VISTA/WFCAM Science Archives)</li>
<li><a href="http://www.eso.org/sci/observing/policies/PublicSurveys/sciencePublicSurveys.html#VST">ESO VST Public Surveys</a></li>

</ul>

<br>
<li><b>UKIDSS/WFCAM links:</b></li>
<ul>
<li><a href="http://www.ukidss.org">UKIDSS</a> - the UKIRT Infrared Deep Sky Survey</li>
<li><a href="http://www.roe.ac.uk/atc/projects/wfcam/index.html">UK Astronomy Technology Centre WFCAM pages</a> (WFCAM was designed and built at the UK ATC)
<li><a href="http://www.jach.hawaii.edu/UKIRT/">UKIRT: The United Kingdom Infrared Telescope</a> (the WFCAM observing facility)
</ul>

<br>
<li><b>Sloan Digital Sky Survey (SDSS) links:</b></li>
<ul>
<!--<li><a href="http://skyserver.pha.jhu.edu/edr/en/">Early Data Release</a> (EDR; SkyServer web site)
<li><a href="http://skyserver.pha.jhu.edu/dr1/en/">Data Release 1</a> (DR1; SkyServer web site)
<li><a href="http://www.sdss.org/dr2/">Data Release 2</a>
<li><a href="http://www.sdss.org/dr3/">Data Release 3</a>
<li><a href="http://www.sdss.org/dr4/">Data Release 4</a>
<li><a href="http://www.sdss.org/dr5/">Data Release 5</a>-->
<li><a href="http://www.sdss.org/dr6/">Data Release 6</a>
<li><a href="http://www.sdss.org/dr7/">Data Release 7</a>
</ul>

<br>
<li><b>Other large sky survey databases:</b></li>
<ul>
<li><a href="http://surveys.roe.ac.uk/wsa">WFCAM Science Archive (WSA)</a>

<li><a href="http://surveys.roe.ac.uk/ssa">SuperCOSMOS Science Archive</a> (SSA; the prototype for the WSA)
<li><a href="http://pegasus.phast.umass.edu/">Two-Micron All Sky 
Survey (2MASS)</a>
<li><a href="http://cdsweb.u-strasbg.fr/">CDS</a> Strasbourg (Simbad/Aladin)
</ul>

<br>
<li><b>SQL language reference sites:</b></li>
<ul>
<li><a href="http://msdn2.microsoft.com/en-us/library/ms189826.aspx">Microsoft SQL Server Transact-SQL online reference pages</a> 
</ul>

</ul>

<P><BR clear="all">