$def with (survey_prefix)

<h1>OSA - Monitoring page</h1>

Linked below are pages showing the status of the transfer and ingest of data by WFAU into the OSA database.

<ul>
<li><a href="http://surveys.roe.ac.uk/wsa/monitoring/html/OSAMonitor_P88.html">P88</a> (01/10/2011 - 31/03/2012)</li>

<li><a href="http://surveys.roe.ac.uk/wsa/monitoring/html/OSAMonitor_P87.html">P87</a> (01/04/2011 - 30/09/2011)</li>

<li><a href="http://surveys.roe.ac.uk/wsa/monitoring/html/OSAMonitor_SV.html">Science Verification</a> (15/10/2009 - 02/11/2009)</li>

<li><a href="http://surveys.roe.ac.uk/wsa/monitoring/html/OSAMonitor_COMM.html">Commissioning</a> (27/09/2009 - 14/10/2009)</li>
</ul>
	
Prior to transfer, the data are processed by CASU 
(<a href="http://casu.ast.cam.ac.uk/surveys-projects/vst/data-processing">CASU VST Data Processing Status Page</a>)

<P><BR clear="all">