$def with (survey_prefix)

<h1>Data policy </h1>

<p>
The VST Science Archive contains data from <i>all</i> pipeline processed
VST programmes, both survey programmes (i.e. the ESO Public Surveys) and non-survey programmes 
(science verification, engineering, discretionary time to private PIs etc.)
In general, these data have proprietary periods attached to them:
Public Survey data are for use by Survey Team members only 
for a period of up to 18 months after observation. Once this proprietary period has expired,
the data become available to the world.

<p>If you wish to access Public Survey proprietary data then you must request to join the relevant survey team  
to obtain an appropriate username and password. This enables
you to log in to the archive server and gain full access to the proprietary 
data associated with that team. Click here for 
<a href="http://www.eso.org/sci/observing/policies/PublicSurveys/">
further details concerning policies for VST Public Surveys </a>, and here for
<a href="http://horus.roe.ac.uk/osa/links.html"> links to the Public Survey home pages</a>.


<P><BR clear="all">