$def with (survey_prefix)
<h2><a name="Quality_Bit_Flags"></a><a name="_Quality_Bit_Flags"></a>Quality Error Bit Flags </h2>
<p>This page details the quality error bit flags assigned during post processing. These
flags appear as the ppErrBits attributes in the detection and source tables. The flags can be
used to refine object samples extracted from the archive. Examples of this usage are given in the
<a href="sqlcookbook.html#Quality flags">SQL cookbook</a>.
</p>
<div><ul>
<li> <a href="#Bit_flag_design"> Bit flag design</a>
</li> <li> <a href="#Quality_issues"> Quality issues</a>

</li> <li> <a href="#Future_flags"> Possible future flags</a>
</li>
</ul>
</div>
<h2><a name="Bit_flag_design"></a> Bit flag design </h2>
<p><code>ppErrBits</code> is a 32-bit (4-byte) integer in every detection table (e.g. <code>vhsDetection</code>) that contains
the quality error information for each source detection encoded as a bit flag, according to the prescription given in the table below.
So the bit flag will give a 'yes' or 'no' answer to up to 32 different quality issues for every source detection. The
<code>ppErrBits</code> attribute from the detection table is propagated into the relevant passband ppErrBits in the corresponding source table
during source merging. For example the ppErrBits flag in vhsDetection for Y-band observations is propagated into yppErrBits in <code>vhsSource</code>.

</p>
<p>The quality issues are listed in order of severity, such that a selection of sources can be easily filtered according to the level
of quality the user desires. These quality issues are divided amongst the four bytes such that the least significant byte represents
information about the source that is most probably harmless (such as it is a deblended source), the most significant byte contains
bits that highlight some kind of severe warning about the quality of the source, and the two remaining bytes in the middle
contain various warnings that could just possibly imply the source is spurious.
</p>
<p>For example, to select only those sources with absolutely no quality issues
the user can filter on <code>ppErrBits = 0</code>, and to include sources with only minor
quality issues the user can filter as <code>ppErrBits &lt; 256</code> (i.e. where only the
first byte contains 1s, so that is a range up to 2^8). Alternatively, the user
could use hexadecimal bit masks if they prefer, which will also allow them to
ignore the list of priorities and pick out specific quality issues that they
are interested in.
</p>
<h3><a name="Bit_flag_table"></a><a name="_Bit_flag_table"></a>Bit flag table</h3>

<table border="1">
<tr><td>Bytes</td><td>Quality Category</td><td>Bits</td><td>Detection Quality Issue</td><td>Bit Mask</td><td>Decimal Threshold</td></tr>

<tr><td rowspan="8">Byte 0 (LSB)</td>
    <td rowspan="8">Information</td>
    <td>Bit 0</td><td>Close to a dither edge (not yet implemented)</td><td>0x00 00 00 01</td><td>1</td></tr>
<tr><td>Bit 1</td><td>&nbsp;</td><td>0x00 00 00 02</td><td>2</td></tr>
<tr><td>Bit 2</td><td>Close to a bright source (not yet implemented)</td><td>0x00 00 00 04</td><td>4</td></tr>

<tr><td>Bit 3</td><td>&nbsp;</td><td>0x00 00 00 08</td><td>8</td></tr>
<tr><td>Bit 4</td><td><a href="#Source_image_is_deblended">Deblended</a></td><td>0x00 00 00 10</td><td>16</td></tr>
<tr><td>Bit 5</td><td>&nbsp;</td><td>0x00 00 00 20</td><td>32</td></tr>
<tr><td>Bit 6</td><td><a href="#Bad_pixel_in_default_aperture">Bad pixel(s) in default aperture</a></td><td>0x00 00 00 40</td><td>64</td></tr>

<tr><td>Bit 7</td><td><a href="#Low_confidence_in_default_aperture">Low confidence in default aperture</a></td><td>0x00 00 00 80</td><td>128</td></tr>
<tr><td rowspan="8">Byte 1</td>
    <td rowspan="8">Warning</td>
    <td>Bit 8</td><td>&nbsp;</td><td nowrap>0x00 00 01 00</td><td>256</td></tr>
<tr><td>Bit 9</td><td>&nbsp;</td><td>0x00 00 02 00</td><td>512</td></tr>

<tr><td>Bit 10</td><td>&nbsp;</td><td>0x00 00 04 00</td><td>1 024</td></tr>
<tr><td>Bit 11</td><td>&nbsp;</td><td>0x00 00 08 00</td><td>2 048</td></tr>
<tr><td>Bit 12</td><td><a href="#Source_image_in_detector_16">Lies within detector 16 region of a tile</a></td><td>0x00 00 10 00</td><td>4 096</td></tr>
<tr><td>Bit 13</td><td>&nbsp;</td><td>0x00 00 20 00</td><td>8 192</td></tr>

<tr><td>Bit 14</td><td>&nbsp;</td><td>0x00 00 40 00</td><td>16 384</td></tr>
<tr><td>Bit 15</td><td>&nbsp;</td><td>0x00 00 80 00</td><td>32 768</td></tr>
<tr><td rowspan="8">Byte 2</td>
    <td rowspan="8">Important Warning</td>
    <td>Bit 16</td><td><a href="#Saturated_source_image">Close to saturated</a></td><td>0x00 01 00 00</td><td>65 536</td></tr>

<tr><td>Bit 17</td><td><a href="#Photometric_calibration" >Photometric calibration probably subject to
systematic error</a></td><td>0x00 02 00 00</td><td>131 072</td></tr>
<tr><td>Bit 18</td><td>&nbsp;</td><td>0x00 04 00 00</td><td>262 144</td></tr>
<tr><td>Bit 19</td><td>&nbsp;</td><td>0x00 08 00 00</td><td>524 288</td></tr>
<tr><td>Bit 20</td><td>Possible diffraction spike artefact/contamination (not yet implemented)</td><td>0x00 10 00 00</td><td>1 048 576</td></tr>

<tr><td>Bit 21</td><td>&nbsp;</td><td>0x00 20 00 00</td><td>2 097 152</td></tr>
<tr><td>Bit 22</td><td><a href="#Source_image_close_to_frame_boun">Lies within a dither offset of the stacked frame boundary</a></td><td>0x00 40 00 00</td><td>4 194 304</td></tr>
<tr><td>Bit 23</td><td><a href="#Source_image_in_tile_ear">Lies within the underexposed strip (or "ear") of a tile</a></td><td>0x00 80 00 00</td><td>8 388 608</td></tr>
<tr><td rowspan="8">Byte 3 (MSB)</td>
    <td rowspan="8">Severe Warning</td>

    <td>Bit 24</td><td><a href="#Missing_detector">Lies within an underexposed region of a tile due to missing detector</a></td><td>0x01 00 00 00</td><td>16 777 216</td></tr>
<tr><td>Bit 25</td><td>&nbsp;</td><td>0x02 00 00 00</td><td>33 554 432</td></tr>
<tr><td>Bit 26</td><td>&nbsp;</td><td>0x04 00 00 00</td><td>67 108 864</td></tr>
<tr><td>Bit 27</td><td>&nbsp;</td><td>0x08 00 00 00</td><td>134 217 728</td></tr>

<tr><td>Bit 28</td><td>&nbsp;</td><td>0x10 00 00 00</td><td>268 435 456</td></tr>
<tr><td>Bit 29</td><td>&nbsp;</td><td>0x20 00 00 00</td><td>536 870 912</td></tr>
<tr><td>Bit 30</td><td>&nbsp;</td><td>0x40 00 00 00</td><td>1 073 741 824</td></tr>
<tr><td>Bit 31</td><td>&nbsp;</td><td>0x80 00 00 00</td><td>2 147 483 648</td></tr>
</table>

<h2><a name="Quality_issues"></a> Quality issues </h2>

<p>The following different quality issues are implemented OSA public
survey release databases:
</p>

<h3><a name="Source_image_is_deblended"></a> Source image is deblended </h3>

This is determined from the <code>aprof2</code> to <code>aprof8</code>

detection attributes, all of which should be -1 if the source image is
deblended.

<h3><a name="Bad_pixel_in_default_aperture"></a> Bad pixel in default aperture </h3>

These sources have at least one bad pixel in the default aperture, so contain
missing information. The total number of bad pixels in the default aperture is
supplied in the <code>errBits</code> attribute (for all surveys that use
VDFS-generated catalogues), which can be used to refine the criterion.

<h3><a name="Low_confidence_in_default_aperture"></a> Low confidence in default aperture </h3>

These sources are from pixels with an overall low average confidence level
within the default aperture. The level was arbitrarily set at <code>averageConf &lt; 80</code>

based on visual inspection of the distribution. (Only applied to v1.1 and newer VISTA data).

<h3><a name="Source_image_in_detector_16"> Lies within detector 16 region of a tile </a></h3>

These sources come from regions of the tile that includes data from detector 16,
which is known to give poor photometric results. (Only applied to v1.1 and newer VISTA data).

<h3><a name="Saturated_source_image"></a> Saturated source image </h3>

<p>Source image contains at least one pixel that is close to being saturated,
defined as having a count in ADU that is greater than 90% of the average
saturation level of the frame (<code>pHeight + sky &gt; 0.9 * avSaturLevel</code>).
Such detections have derived fluxes and magnitudes that are corrected for saturation.
</p>
<h3><a name="Photometric_calibration">Photometric calibration probably subject to
systematic error</a></h3>

<p>This flag is applied to VVV detections that come from multiframes with a
poor photometric calibration due to heavy and highly variable extinction in
Galactic centre fields. A detector level criterion is applied to all frames in
that multiframe:
<code>Unknown at present</code>
</p>
<h3><a name="Source_image_close_to_frame_boun"></a> Source lies within a dither offset of the frame boundary </h3>

<p>Source lies within a jitter + microstep offset of the stacked frame boundary with an additional safety margin of twice the default aperture radius to include all cases where the source image is incomplete. This is an important warning because all of these sources should certainly contain missing information - i.e. there may be partial sources and/or the source may not be present in all component images of the stack.
</p>
<p>For deep stacks we also consider any positional offsets in creating the final deep stack image from intermediate stacks.
</p>

<h3><a name="Source_image_in_tile_ear"/></a>Source lies within the underexposed strip (or "ear") of a tile</h3>

Source lies outside the fully exposed area of a tile defined by the dimensions
provided at <a href="http://www.vista.ac.uk">http://www.vista.ac.uk</a>. Note
that the x &amp; y axes given at this website are the opposite way around to those
in the real tiles.


<h3><a name="Missing_detector"></a>Source lies within an underexposed region of a tile due to missing detector</h3>

When constructing a deep tile some regions may not be of a consistent exposure
due to the component deep pawprints losing detector frames through quality
control. This flag is for detections in regions made from these underexposed
deep stacks.

<h2><a name="Future_flags"></a> Possible future flags </h2>

<h3><a name="Source_close_to_bright_star"></a> Source close to bright star </h3>

Bright star halos generate many spurious sources.

<h3><a name="Detection_close_to_dither_edge"></a> Detection close to dither edge </h3>

Edge effects occur in images around the dither edge leading to spurious detections. This is a very low importance bit flag as there many sources close to the dither edge that are genuine, but it is still useful information to have. Therefore this could be the lowest significant bit.

<h3><a name="Diffraction_spike"></a> Diffraction spike </h3>

Spurious sources occur in lines along diffraction spikes.


<P><BR clear="all">