$def with (survey_prefix)

<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'pssa';
		init_scrolling_mechanism(this_div_name);
</script>

<div id="content_pssa">
<h2>The Personal version of the SuperCOSMOS Science Archive</h2>

<p>
The Personal version of the SuperCOSMOS Science Archive (PSSA) contains
an extract of the SSA covering the area (184 &lt; RA/deg &lt; 186,
-1.25 &lt; Dec/deg &lt; 1.25) and including a <i>CrossNeighbour</i>
table with the Sloan Digital Sky Survey 
(<a href="http://www.sdss.org">SDSS</a>) 
Early Data Release (<a href="http://skyserver.sdss.org/edr/en/">EDR</a>),
which records all EDR sources within 10 arcsec of each PSSA source, and 
which facilitates spatial matching between the two catalogues.</p>


<h3>Querying  the PSSA</h3>

<p>
The PSSA can be queried online through the same <a class="ext_links_pssa" href="#dbaccess_SQL_form_div">SQL 
interface</a> as the full SSA, and it is recommended that users run
queries on the PSSA while developing/debugging them: the PSSA is 
roughly 0.1% the size of the full SSA, so mistakes are revealed much
faster if it is used.</p>


<h3>Downloading the PSSA</h3>

<p>A .zip file containing the PSSA and instructions for loading it into
a SQL Server installation can be downloaded from <a href="http://surveys.roe.ac.uk/ssa/PSSA.zip">here</a>.
The .zip file is about 50MB in size, and the installed PSSA database takes
up about 150MB. The database can be installed via the running of a single
.bat file by a user with administrator rights and with SQL Server installed
in its default location. To facilitate that automatic installation, please
save the .zip file to the top level directory on your C: drive. Instructions
are also included in the .zip file for manual installation. </p>



</div>
