$def with (survey_prefix)
<h1>OSA related papers and documents</h1>

<a href="http://surveys.roe.ac.uk/osa/webStats.html">OSA archive access statistics</a>
<p>
See the
<a href="http://astro.dur.ac.uk/Cosmology/vstatlas/">VST ATLAS publications page</a> for additional papers/publications.<p>

CITING USE of VDFS PROCESSED VST DATA in SCIENTIFIC PAPERS<br>
Please note that the teams which processed and archived the data would appreciate
credit for their efforts with something similar to the following
wording :<p>

&quot; The VISTA Data Flow System pipeline processing and science archive
are described in Irwin et al (2004) and Hambly et al (2008). We have used
data from the Xnd data release, which is described in detail in XX et al
(200X).&quot; <p>
<ul>

<li><b>VDFS technical reference papers:</b></li>
<ul>
<li>VISTA data flow system: pipeline processing for WFCAM and VISTA - <em>Irwin et al., 2004, Proceedings of the SPIE, Volume 5493, pp. 411-422</em>
<a href="http://adsabs.harvard.edu/abs/2004SPIE.5493..411I">ADS link</a>
</li>
<li>The WFCAM Science Archive - <em>Hambly et al., 2008, MNRAS, 384, 637; </em>

<a href="http://xxx.lanl.gov/abs/0711.3593">PDF from astro-ph/0711.3593</a>,
<a href="http://adsabs.harvard.edu/abs/2008MNRAS.384..637H">ADS link</a>
</li>
<li>Archiving multi-epoch data and the discovery of variables in the near infrared - <em> Cross et al., 2009, MNRAS, 399, 1730; </em>
<a href="http://adsabs.harvard.edu/abs/2009arXiv0905.3073C">PDF from astro-ph/0905.3073</a>
</li>
</ul>

<br>
<li><b>Final Design Review documentation set for the VDFS Science Archive project:</b></li>

<ul>
<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-002-I1/VDF-WFA-VSA-002-I1.html">
VDF-WFA-VSA-002: Science Requirements Analysis (issue 1)
</a> including functional requirements (also available as
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-002-I1.pdf">PDF </a> or
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-002-I1.ps.gz">gzipped PostScript
</a>)
</li>

<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-003-I1/VDF-WFA-VSA-003-I1.html">
VDF-WFA-VSA-003: Management and planning (issue 1)

</a> (also available as <a href="../wsa/docs/VDF-WFA-VSA-003-I1.pdf">PDF

</a> or <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-003-I1.ps.gz">gzipped PostScript </a>)
</li>

<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-004-I1/VDF-WFA-VSA-004-I1.html">
VDF-WFA-VSA-004: Interface Control (issue 1)
</a> (also available as <a href="../wsa/docs/VDF-WFA-VSA-004-I1.pdf">PDF
</a> or <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-004-I1.ps.gz">gzipped PostScript </a>)

</li>

<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-006-I1/VDF-WFA-VSA-006-I1.html">
VDF-WFA-VSA-006: Hardware/OS/DBMS Design  (issue 1)
</a> (also available as <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-006-I1.pdf">PDF
</a> or <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-006-I1.ps.gz">gzipped PostScript </a>
</li>


<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-007-I1/VDF-WFA-VSA-007-I1.html">

VDF-WFA-VSA-007: Database Design   (issue 1)
</a> (also available as <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-007-I1.pdf">PDF
</a> or <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-007-I1.ps.gz">gzipped PostScript </a>
</li>

<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-008-I1/VDF-WFA-VSA-008-I1.html">
VDF-WFA-VSA-008: User Interface  (issue 1)
</a> (also available as <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-008-I1.pdf">PDF
</a> or <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-008-I1.ps.gz">gzipped PostScript </a>

</li>

<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-009-I1/VDF-WFA-VSA-009-I1.html">
VDF-WFA-VSA-009: Software Architecture Design  (issue 1)
</a> (also available as <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-009-I1.pdf">PDF
</a> or <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-009-I1.ps.gz">gzipped PostScript </a>)
</li>

<li>
<a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-010-I1/VDF-WFA-VSA-010-I1.html">

VDF-WFA-VSA-010: Virtual Observatory integration (issue 1)

</a> (also available as <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-010-I1.pdf">PDF
</a> or <a href="http://surveys.roe.ac.uk/wsa/docs/VDF-WFA-VSA-010-I1.ps.gz">gzipped PostScript </a>)
</li>
</ul>

<br>
<li><b>Example usages and SQL queries:</b></li>
<ul>
<li><a href="http://surveys.roe.ac.uk/wsa/docs/wsausage.html">
WFCAM Science Archive usage examples</a>

</li>

<li><a href="http://surveys.roe.ac.uk/wsa/docs/wsapaper.sql">Example SQL queries from Section 4.2 of
"The WFCAM Science Archive" (Hambly et al., 2008 - see above)</a>

</ul>

</ul>
<P><BR clear="all">