$def with (dbinfo, survey_prefix)
<head>
<script src="$survey_prefix/static/js/jquery.livequery.js" type="text/javascript"></script>
<script type="text/javascript" src="$survey_prefix/static/js/cookie_functions.js"></script>
<script src="$survey_prefix/static/static_roe_browser/js/roe_browser.js" type="text/javascript"></script>
<script type='text/JavaScript' src='$survey_prefix/static/js/twoframes.js'></script>
<link rel="stylesheet" href="$survey_prefix/static/static_roe_browser/css/roe_browser.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="$survey_prefix/static/css/wsaserver.css" type="text/css" media="screen" charset="utf-8" />
<script type='text/JavaScript' src='$survey_prefix/static/js/tooltip.js'>
document.onmousemove=positiontip</script>
</head>
<div id="dhtmltooltip"></div>

<h1>Schema Browser</h1>

<div id="roe_browser">
	
	<div style="clear:both;">
		<a id="schema_browser_back" style="float:right">Back</a>
	
		<a class="other_browsers" href="$survey_prefix/browsermain" title="link to other Browser versions">- Other Browser versions</a>
		<br /><br />
		&nbsp;&nbsp;<a class='show_menu'>Show</a> / <a class='hide_menu'>Hide</a> (Menu)
		<br />
		
	</div>
	<div id="browser_menu" style="float:left;width:260px;">$:dbinfo</div>
	
	<div id="browser_content">
		<p>This Database Browser
		will help you to understand the organisation 
		of the SQL database objects, their tables, functions and procedures.
		</p><p>
		The uppermost link in the left panel, the release name, will bring you back to 
		this page. The link to <i>Other Browser Versions</i> will bring you to an overview of 
		all the different release browsers (in case you have retrieved your data from 
		an older release).
		</p><p>
		Click on the [+] sign in front of the categories on the left to get an 
		expanded view, on the [-] sign to collapse the list, on the name to get a 
		summary, and on the individual items to get their detailed descriptions.
		</p><p>
		The links to the Sloan Digital Sky Survey's releases will open in a new browser window.
		<br>
		</p>
	
	
	</div>

</div>	
