$def with (survey_prefix)
<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'sqlFormNotes';
		init_scrolling_mechanism(this_div_name);
</script>




<div id="content_sqlFormNotes" style="width:900px;">
	<h3>Querying - notes and tips</h3>
	<ul>
		<li><a class="panel_scroll" href="#query">Information on queries</a></li>
		<li><a class="panel_scroll" href="#viewer">Launching query results in table viewer</a></li>
		<li><a class="panel_scroll" href="#additional_options">Additional options of the query tool</a></li>
		
	</ul>
	<a id="query"></a> <b>Information on queries</b>
	<p>Input may be a query selecting any columns from the selected Databases.</p>
	
	<a id="viewer"></a>
	<b>Launching query results in table viewer</b>
	<p>One a query has been run and results have been retrieved, you may launch the query results in the "table viewer"
	   which is a tool that allows the creation of graphs based on the query data
	</p>
	
	<a id="additional_options"></a><b>Additional options of the query tool</b>
	<p>There several features in the query tool, allowing you to:
		<br/>
			- Save the data in different formats
			<br/>
			- Launch the currently viewed data via SAMP 
			<br/>
			- Filter the table by key search, rearrange the columns and sort by any column 
			<br/>
			- View metadata for the selected database
			<br/>
			- Select multiple databases and run cross matching queries between them
			<br/>
			- Use auto-complete via the use of Ctrl + space when entering a query
	</p>
	
	
	
</div>