$def with (survey_prefix)
<script src="$survey_prefix/static/js/scrolling_helper.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
		var this_div_name = 'startHere';
		init_scrolling_mechanism(this_div_name);
</script>


<div id="content_startHere">
	<h1>Start Here - Primer to using the OSA</h1>
	
	  <ul>
		<li><a class="panel_scroll" href="#login">Login info</a></li>
		<li><a class="panel_scroll" href="#archive">What is in the archive (coverage and data)?</a></li>
		<li><a class="panel_scroll" href="#access">Accessing the data</a></li>
		<li><a class="panel_scroll" href="#image">Accessing image data</a></li>
		<li><a class="panel_scroll" href="#catalog">Accessing catalogue data</a></li>
		<li><a class="panel_scroll" href="#metadata">Accessing meta-data</a></li>
		<li><a class="panel_scroll" href="#help">Help</a></li>
	 </ul>
	  	
	
		<a id="login">Login info</a> - Registered users should first <a class="ext_links_startHere" href="#dbaccess_login_div">login</a> as some 
		of the information and forms are tailored to a specific type of user. If you do not login your queries 
		will be directed to the world accessible VST survey data.
	
		<p>Categories of user access:</p>
		<ul>
			<li>registered VST survey user - Public Survey team members from ESO countries
			<li>un-registered user - can access VST survey data once the respective proprietary periods have 
			passed (see <a class="ext_links_startHere" href="#policy_div">data policy</a>).
			</li>
		</ul>
		<p>
			<a id="archive">Archive contents</a> The OmegaCam Science Archive contains
			static released databases of survey data. Image metadata
			and source catalogue data are held in the databases, with links to flat
			FITS files produced by pipeline processing. Once released, survey databases
			will not change.
			In addition to the static databases, access to a continually updating 
			database (known as "OSA") is also allowed for registered users to get 
			rapid access
			to pipeline-processed flat FITS files in order to facilitate casual browsing
			of survey data. Note however that this
			OSA ingest database is subject to data modification (ingest, rollback, quality control) 
			without warning. After an
			appropriate proprietary period has expired, data and/or databases will 
			become open-access for unregistered access by anyone. A more
			detailed description of the data and how it is held in the archive is given in the <a  class="ext_links_startHere" href="#dboverview_div">
			data overview</a>. The coverage of the various releases of the VST surveys is shown on the <a class="ext_links_startHere" href="#theSurveys_div">surveys page</a>. 
		</p>
		<p>
			<em>Particular attention should be given to notes detailing limitations and known issues, see</em> <a class="ext_links_startHere" href="#dboverview_div">overview</a>
			and <a class="ext_links_startHere" href="#releasehistory_div">release history</a>.</p><p>
			The database schema and contents can be explored using the 
			<a class="ext_links_startHere" href="#roe_browser_div">schema browser</a>.
		</p>
		<p>
			<a id="access">Accessing data</a> - the various ways of accessing and querying the archive are also 
			listed on the <a class="ext_links_startHere" href="#dbaccess_div">data access page</a>. First-time users should consult this page 
			in addition to reading the summary below.
		</p>
		
		<ul>
			<li><a id="image">Image data</a> - VST images (referred to as multiframes) are held in the archive 
			as multi-extension FITS files.<br>
				<ul>
					<li>
						<a class="ext_links_startHere" href="#dbaccess_ImageList_form_div">Image List</a> - list and retrieve the full FITS files of multiframes (also returns links to any associated catalogue FITS files)
					</li>
				</ul>
				
			</li>
			
			<li>
				<a id="catalog">Catalogue data</a> - source extraction code run on science multiframe images 
				produces catalogue FITS files. The objects in these files are ingested into the relevant 
				survey/programme detection table (e.g. vhsDetection). VST surveys  also have a source table  
				(e.g. vhsSource) which is 
				populated by merging common objects (based on 
				position) across the various wavebands.
				
				<ul> 
					<li>
						<a class="ext_links_startHere" href="#dbaccess_SQL_form_div">Freeform SQL</a> - submit an SQL query directly. 
						Allows the more experienced user to perform powerful SQL searches of the archive (see the
						<a class="ext_links_startHere" href="#sqlcookbook_div">SQL cookbook</a> for examples).
					</li>
				</ul>
			
			</li>
			
			<li>
				<a id="metadata">Meta-data</a> - header information and other meta-data from the archived FITS 
				files are also stored in tables in the archive. The ones that are most likely to be used are 
				<em>multiframe</em>,
				<em>multiframeDetector</em> and <em>currentAstrometry</em>. These can be queried using 
				<a class="ext_links_startHere" href="#dbaccess_SQL_form">Freeform SQL</a>
			</li>
			
			<li>
				<a id="help">Help</a> - please consult the following documentation
				before contacting us for help.
				<ul>
					<li><a class="ext_links_startHere" href="#dboverview_div">Data overview</a> - Description of how the data is processed, ingested and organised in the archive.
					</li>
					<li><a class="ext_links_startHere" href="#roe_browser_div">Schema browser</a> - in depth documentation on the database schema (e.g. tabls and column names).
					</li>
					<li><a class="ext_links_startHere" href="#releasehistory_div">Release History</a> - record of releases including known issues/bugs.
					</li>
					<li><a class="ext_links_startHere" href="#qa_div">Questions and Answers</a> - previously asked questions.
					</li>
				</ul>
			
				If you still cannot find the answer to your problem in the above documentation, then email us (email 
				address is given right at the bottom of this page).
				
				<p>
					<br clear="all">
				</p>
			
			</li>
			
		</ul>
</div>
