<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<!--+
    |
    | Copyright (c) 2012, ROE (http://www.roe.ac.uk/)
    | All rights reserved.
    |
    | This program is free software: you can redistribute it and/or modify
    | it under the terms of the GNU General Public License as published by
    | the Free Software Foundation, either version 3 of the License, or
    | (at your option) any later version.
    |
    | This program is distributed in the hope that it will be useful,
    | but WITHOUT ANY WARRANTY; without even the implied warranty of
    | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    | GNU General Public License for more details.
    |
    | You should have received a copy of the GNU General Public License
    | along with this program.  If not, see <http://www.gnu.org/licenses/>.
    |
    +-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--+
	    | Default console appender (tomcat/logs/catalina.out).
	    +-->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} BARBERRY %5p %t %m%n"/>
		</layout>
	</appender>
	
	<!--+
	    | Firethorn logger.
	    +-->
	<logger name="uk.ac.roe.wfau.firethorn">
		<level value="debug"/>
	</logger>

	<!--+
	    | Spring loggers.
	    +-->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>
	<logger name="org.springframework.http">
		<level value="info" />
	</logger>
	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!--+
	    | Hibernate transactions.
        | http://stackoverflow.com/questions/1965454/spring-transaction-show-in-log
	    +-->
	<logger name="org.springframework.transaction">
		<level value="info" />
	</logger>
	<logger name="org.springframework.orm.hibernate3">
		<level value="info" />
	</logger>

	<!--+
	    | Hibernate loggers.
	    +-->
	<logger name="org.hibernate">
		<level value="info" />
	</logger>
	<!--+
	<logger name="org.hibernate.SQL">
		<level value="debug" />
	</logger>
	    +-->

	<!--+
	    | Root logger.
	    +-->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
