<?xml version="1.0" encoding="UTF-8"?>
<!--+
    |
    | Copyright (c) 2012, ROE (http://www.roe.ac.uk/)
    | All rights reserved.
    |
    | This program is free software: you can redistribute it and/or modify
    | it under the terms of the GNU General Public License as published by
    | the Free Software Foundation, either version 3 of the License, or
    | (at your option) any later version.
    |
    | This program is distributed in the hope that it will be useful,
    | but WITHOUT ANY WARRANTY; without even the implied warranty of
    | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    | GNU General Public License for more details.
    |
    | You should have received a copy of the GNU General Public License
    | along with this program.  If not, see <http://www.gnu.org/licenses/>.
    |
    | Based on example from 
    | http://gordondickens.com/wordpress/2012/07/03/enterprise-spring-best-practices-part-1-project-config/
    |
    +-->
<configuration>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<filter class="ch.qos.logback.access.filter.CountingFilter">
    	<name>countingFilter</name>
	</filter>

  	<appender name="accessfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>access.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<fileNamePattern>access-%d{yyyyMMdd}.log.zip</fileNamePattern>
    	</rollingPolicy>

    	<encoder>
        	<pattern>combined</pattern>
    	</encoder>
  	</appender>

  	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
      		<pattern>%n%fullRequest%n%fullResponse%n</pattern>
    	</encoder>
  	</appender>

  	<appender name="reqrespfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>requests.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>requests-%d{yyyyMMdd}.log.zip</fileNamePattern>
    	</rollingPolicy>

    	<encoder>
      		<pattern>%n%fullRequest%n%fullResponse%n</pattern>
   		</encoder>
  	</appender>

  	<appender-ref ref="accessfile" />
  	<appender-ref ref="reqrespfile" />
  	<appender-ref ref="console" />

</configuration>
