/*
 *
 * Admin Page CSS
 *
 */	
 
* {
		margin: 0;
	}

html {
		height: 100%;
		margin: 0;
		padding: 0;
 
	}

body {
		color: #3E3E3E;
		background-color: #FBFFFF;
		margin: 0;
		padding:0;
		height:100%;
		font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
		
	}

a {
  		 outline: 0;
	}

input {
 	 	 outline: 0;
	}
	
ul {
		list-style:none;
		display: inline-block;
	    margin: 0px;
		padding: 0;
	}

ul li{
   		margin-bottom: 8px;
	}

#gradient {
		width:100%;
		min-width: 1250px !important;
		height:40px; 	
		background: url(../images/line_small.png);
		background-repeat: repeat-x;
	}	
	


#viewer_table_div {
		display:none;
		width:900px;
		margin:0 auto;
	
	}	
	
#header {
		height:60px;
		width: 100%; 
		background: black;
		padding:0;
		margin:0;
		position: relative; 
		min-width: 1250px !important; 
	}


#header h3 {
		color:white;
		font-style:italic;
		padding:0;
		margin-left:40px;
		padding-top: 20px;
	}	
	

#results {
		width:88%;
	}

	

a:link {
	  color: #0174DF; 
	  text-decoration: none; 
  }
  
a:visited {
	  color: #0174DF; 
	  text-decoration: none; 
	 
  }
  
a:hover { 
	  color: #FF8000; 
	  text-decoration: none; 

  }
  
a:active {
	  color: #0174DF; 
	  text-decoration: none; 
	
  }


.input_form {
		margin-top:10px;		
	}
	
	
#menu {
		margin-left:10px;
		float:left;
	}
	
#second_menu {
		text-align:left;
		float:left;
		margin-top:60px;
		margin-left:10px;	
		width:110px;
		height:300px;
	}

	
#log_notification {
		float:right;
		text-align:center;
		min-width:170px;
		max-width: 230px;
		margin-right:15px;
		padding-bottom:7px;
		height:20px;
		color:white;
		background:#403A3B;
		opacity:0.4;
		filter:alpha(opacity=40); 
		z-index:50;
		margin-top:11px;
		padding-top:7px;
				
	}	

#content{
		margin:0 auto;
		text-align:center;
		min-width:90%;
		width:90%;
		
	}
	
#error {
		color:red;
		text-align:center;
		width:400px;
		margin:0 auto;
		margin-top:15px;
			
	}
	
#icon_helper{
		display:none;
		text-align:center;
		margin:0 auto;
		min-width: 540px !important;
		width:890px; 
		margin-top:10px;
		overflow:auto;
	}

	
.tree-expanded{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('../images/tree_arrows.gif') no-repeat -18px 0px;
	
}

.tree-expanded:hover{
	background:url('../images/tree_arrows.gif') no-repeat -50px 0px;
	cursor:pointer;

}

.tree-collapsed{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('../images/tree_arrows.gif') no-repeat 0px 0px;
	
}

.tree-collapsed:hover{
	background:url('../images/tree_arrows.gif') no-repeat -32px 0px;
	cursor:pointer;

}

#tree-folder-indiv:hover {
		cursor:pointer;
	
}

#load {
		background:url('../images/loading.gif') no-repeat 0px 0px;
		width:33px;
		height:33px;
		display:none;
		margin:0 auto;
		text-align:center;
}