.gray {
	background: #dedede;
	color: #666;
}

.rounded {
	-moz-border-radius: 15px;
 	border-radius: 15px;
 	border:1px solid black;
}

#tree-folder-indiv{
	/*background:url('images/res.png') no-repeat;*/
	width:58px;
	height:58px;
	margin-left:10px;
	float:left;
	vertical-align:middle;
}

#sub_item {
	text-align:left;
	padding:14px;
	margin-bottom:30px;
	margin-top:8px;
	-moz-border-radius: 15px;
 	border-radius: 15px;
 	border:1px solid black;
	white-space:nowrap;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	 box-shadow:         3px 3px 5px 6px #ccc;
}
	
#sub_item span {
	font-weight:bold;
	color:black;
	font-size:13px;
}


.button {
		background: #8cbfc2; /* Old browsers */
		background: -moz-linear-gradient(top, #8cbfc2 0%, #519093 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cbfc2), color-stop(100%,#519093)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #8cbfc2 0%,#519093 100%); /* IE10+ */
		background: linear-gradient(top, #8cbfc2 0%,#519093 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cbfc2', endColorstr='#519093',GradientType=0 ); /* IE6-9 */
		border: medium none;
		border-radius: 5px 5px 5px 5px;
		color: #FFFFFF;
		cursor: pointer;
		font-size:13px;
		font-family: arial;
		padding: 4px 5px;
		text-shadow: 0 1px 1px #003547;	
		outline:none;
		margin-right:20px;
		width:135px;
		height:23px;
	}

.button:hover {
		color:white;
		background: none repeat scroll 0 0 #8CBFC2;
		text-decoration: none;
}


#add_to:hover {
    	cursor: pointer;
    }
     
#minimize:hover {
    	cursor: pointer;
    }   
    
#expand:hover {
    	cursor: pointer;
    }
 
#toggle_expand {
		margin-bottom:10px;	
	}
    
#open_new{
		margin-right:12px;	
		margin-bottom:6px;	
			
	}
.tree-expanded{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('../images/tree_arrows.gif') no-repeat -18px 0px;
	
}

.tree-expanded:hover{
	background:url('../images/tree_arrows.gif') no-repeat -50px 0px;
	cursor:pointer;

}

.tree-collapsed{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('../images/tree_arrows.gif') no-repeat 0px 0px;
	
}

.tree-collapsed:hover{
	background:url('../images/tree_arrows.gif') no-repeat -32px 0px;
	cursor:pointer;

}

#tree-folder-indiv:hover {
		cursor:pointer;
	
}